<main>
    <div class="container">
        <div class="page-title">
            <h4 class="text-dark">Application Review</h4>
        </div>

        <div class="container text-center" *ngIf="loading">
            <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <ng-container *ngIf="!loading">
            <div class="my-5">
                <div class="d-flex justify-content-between flex-wrap">
                    <div>
                        <h5 class="text-secondary">Proponent ID | {{ currentApplication?.partner?.partner_id }}</h5>
                        <h3 class="text-dark">Proponent Name | {{ currentApplication?.partner?.name }}</h3>
                    </div>
                    <div>
                        <h5 class="text-secondary">Application Number</h5>
                        <h3 class="text-dark">{{ currentApplication?.number }}</h3>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body bg-gray-300">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-12 col-md-2">
                                    <p class="text-sm font-weight-bold text-dark">Overall Grant Status</p>
                                </div>
                                <div class="col-12 col-md-4">
                                    <p class="text-sm font-weight-bold text-secondary">The Grants Corporation</p>
                                </div>
                                <div class="col-12 col-md-2">
                                    <p class="text-sm font-weight-bold text-dark">Grant Type and Function</p>
                                </div>
                                <div class="col-12 col-md-4">
                                    <p class="text-sm font-weight-bold text-secondary">
                                        {{ currentApplication?.project?.type?.name }}
                                    </p>
                                    <!-- <app-select url="types"
                                        [defaultSelectedItemKey]="currentApplication?.project?.type_pk"
                                        (onSelectEvent)="onChangeGrantType($event, 'grant_type_pk')"
                                        (onDeSelectEvent)="onChangeGrantType($event, 'grant_type_pk')"></app-select> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-12 col-md-2">
                                    <p class="text-sm font-weight-bold text-dark">Project</p>
                                </div>
                                <div class="col-12 col-md-4">
                                    <p class="text-sm font-weight-bold text-secondary">
                                        {{ currentApplication?.project?.title }}
                                    </p>
                                </div>
                                <div class="col-12 col-md-2">
                                    <p class="text-sm font-weight-bold text-dark">Proposed Budget</p>
                                </div>
                                <div class="col-12 col-md-4">
                                    <p class="text-sm font-weight-bold text-secondary m-0">
                                        USD {{ currentApplication?.project?.project_proposal?.budget_request_usd }}
                                    </p>
                                    <p class="text-sm font-weight-bold text-secondary m-0">
                                        {{
                                            getProposedBudget(
                                                currentApplication?.project?.project_proposal
                                                    ?.budget_request_other_currency,
                                                currentApplication?.project?.project_proposal?.budget_request_other
                                            )
                                        }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-12 col-md-2">
                                    <p class="text-sm font-weight-bold text-dark">Country</p>
                                </div>
                                <div class="col-12 col-md-4">
                                    <p class="text-sm font-weight-bold text-secondary">
                                        {{ currentApplication?.partner?.organization?.country?.name }}
                                    </p>
                                </div>
                                <div class="col-12 col-md-6"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-12 col-md-2">
                                    <p class="text-sm font-weight-bold text-dark">Objectives</p>
                                </div>
                                <div class="col-10">
                                    <p class="text-sm font-weight-bold text-secondary">
                                        {{ currentApplication?.project?.objective }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="border border-1 border-dark" />
                    <div class="row g-0 my-3">
                        <div class="col-2">
                            <p class="text-sm font-weight-bold text-dark">Project Title</p>
                        </div>
                        <div class="col-10">
                            <p class="text-sm font-weight-bold text-secondary">
                                {{ currentApplication?.project?.title }}
                            </p>
                        </div>
                    </div>
                    <div class="row g-0 my-3">
                        <div class="col-2">
                            <p class="text-sm font-weight-bold text-dark">Project Objectives</p>
                        </div>
                        <div class="col-10">
                            <p class="text-sm font-weight-bold text-secondary">
                                {{ currentApplication?.project?.objective }}
                            </p>
                        </div>
                    </div>
                    <div class="row g-0 my-3">
                        <div class="col-2">
                            <p class="text-sm font-weight-bold text-dark">Project Beneficiaries</p>
                        </div>
                        <div class="col-10">
                            <p class="text-sm font-weight-bold text-secondary">
                                {{ currentApplication?.project?.how_will_affect }}
                            </p>
                        </div>
                    </div>
                    <div class="row g-0 my-3">
                        <div class="col-2">
                            <p class="text-sm font-weight-bold text-dark">Project Outcomes</p>
                        </div>
                        <div class="col-10">
                            <p class="text-sm font-weight-bold text-secondary">
                                {{ currentApplication?.project?.expected_output }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <app-medium-grants [currentApplication]="currentApplication"></app-medium-grants>
            <app-grants-team-review
                (recommendationSaved)="fetch()"
                *ngIf="
                    [
                        'Received Proposals',
                        'Grants Team Review',
                        'Advisers Review',
                        'Budget Review and Finalization',
                        'Financial Management Capacity',
                        'Due Diligence Final Review',
                        'Approved'
                    ].includes(currentApplication?.status ?? '')
                "
                [currentApplication]="currentApplication"
            ></app-grants-team-review>
            <app-advisers-review
                (recommendationSaved)="fetch()"
                *ngIf="
                    [
                        'Advisers Review',
                        'Budget Review and Finalization',
                        'Financial Management Capacity',
                        'Due Diligence Final Review',
                        'Approved'
                    ].includes(currentApplication?.status ?? '')
                "
                [currentApplication]="currentApplication"
            ></app-advisers-review>
            <app-budget-review-finalization
                (recommendationSaved)="fetch()"
                *ngIf="
                    [
                        'Budget Review and Finalization',
                        'Financial Management Capacity',
                        'Due Diligence Final Review',
                        'Approved'
                    ].includes(currentApplication?.status ?? '')
                "
                [currentApplication]="currentApplication"
            ></app-budget-review-finalization>
            <app-financial-management-capacity
                (recommendationSaved)="fetch()"
                *ngIf="
                    ['Financial Management Capacity', 'Due Diligence Final Review', 'Approved'].includes(
                        currentApplication?.status ?? ''
                    )
                "
                [currentApplication]="currentApplication"
            ></app-financial-management-capacity>
            <app-due-diligence-final-review
                (recommendationSaved)="fetch()"
                *ngIf="['Due Diligence Final Review', 'Approved'].includes(currentApplication?.status ?? '')"
                [currentApplication]="currentApplication"
                [module]="'application'"
            ></app-due-diligence-final-review>
        </ng-container>
    </div>
</main>
