<main>
    <div class="container">
        <div class="page-title">
            <h4 class="text-dark">Application Review</h4>
        </div>

        <div class="my-5">
            <div class="d-flex justify-content-between flex-wrap">
                <div>
                    <h5 class="text-secondary">Proponent ID | ID</h5>
                    <h3 class="text-dark">Proponent Name | 123456789</h3>
                </div>
                <div>
                    <h5 class="text-secondary">Application Number</h5>
                    <h3 class="text-dark">123456789</h3>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body bg-gray-300">
                <div class="row g-0">
                    <div class="col-12 col-md-5">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <p class="text-sm font-weight-bold text-dark">Overall Grant Status</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <p class="text-sm font-weight-bold text-secondary">The Grants Corporation</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <p class="text-sm font-weight-bold text-dark">Project</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <p class="text-sm font-weight-bold text-secondary">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit?
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <p class="text-sm font-weight-bold text-dark">Country</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <p class="text-sm font-weight-bold text-secondary">Philippines</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-none d-md-flex col-md-1 justify-content-center">
                        <div class="d-flex h-100">
                            <div class="vr"></div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <p class="text-sm font-weight-bold text-dark">Grant Type and Function</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <app-select [arr]="['ALL', 'Filter 1', 'Filter 2']"></app-select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12 col-md-6">
                                <p class="text-sm font-weight-bold text-dark">Proposed Budget</p>
                            </div>
                            <div class="col-12 col-md-6">
                                <p class="text-sm font-weight-bold text-secondary m-0">USD 4500</p>
                                <p class="text-sm font-weight-bold text-secondary m-0">IDR 4500000</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-0 my-3">
                    <div class="col-2">
                        <p class="text-sm font-weight-bold text-dark">Objectives</p>
                    </div>
                    <div class="col-10">
                        <p class="text-sm font-weight-bold text-secondary">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate maxime eligendi debitis
                            perspiciatis. Porro ad fugit voluptate ipsam ex. Odio consequuntur ad nostrum cupiditate eum
                            molestias, fugiat sequi facilis laboriosam?
                        </p>
                    </div>
                </div>
                <hr class="border border-1 border-dark" />
                <div class="row g-0 my-3">
                    <div class="col-2">
                        <p class="text-sm font-weight-bold text-dark">Project Title</p>
                    </div>
                    <div class="col-10">
                        <p class="text-sm font-weight-bold text-secondary">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate maxime eligendi debitis
                            perspiciatis. Porro ad fugit voluptate ipsam ex. Odio consequuntur ad nostrum cupiditate eum
                            molestias, fugiat sequi facilis laboriosam?
                        </p>
                    </div>
                </div>
                <div class="row g-0 my-3">
                    <div class="col-2">
                        <p class="text-sm font-weight-bold text-dark">Project Objectives</p>
                    </div>
                    <div class="col-10">
                        <p class="text-sm font-weight-bold text-secondary">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate maxime eligendi debitis
                            perspiciatis. Porro ad fugit voluptate ipsam ex. Odio consequuntur ad nostrum cupiditate eum
                            molestias, fugiat sequi facilis laboriosam?
                        </p>
                    </div>
                </div>
                <div class="row g-0 my-3">
                    <div class="col-2">
                        <p class="text-sm font-weight-bold text-dark">Project Beneficiaries</p>
                    </div>
                    <div class="col-10">
                        <p class="text-sm font-weight-bold text-secondary">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate maxime eligendi debitis
                            perspiciatis. Porro ad fugit voluptate ipsam ex. Odio consequuntur ad nostrum cupiditate eum
                            molestias, fugiat sequi facilis laboriosam?
                        </p>
                    </div>
                </div>
                <div class="row g-0 my-3">
                    <div class="col-2">
                        <p class="text-sm font-weight-bold text-dark">Project Outcomes</p>
                    </div>
                    <div class="col-10">
                        <p class="text-sm font-weight-bold text-secondary">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate maxime eligendi debitis
                            perspiciatis. Porro ad fugit voluptate ipsam ex. Odio consequuntur ad nostrum cupiditate eum
                            molestias, fugiat sequi facilis laboriosam?
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <app-medium-grants></app-medium-grants>
        <app-grants-team-review></app-grants-team-review>
        <app-advisers-review></app-advisers-review>
        <app-budget-review-finalization></app-budget-review-finalization>
        <app-due-diligence-final-review></app-due-diligence-final-review>
    </div>
</main>
