<div>
    <ng-container *ngIf="!loading">
        <h4 class="text-dark">Organization Profile</h4>
        <div class="row my-3 g-0">
            <div class="col-12 col-md-5">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="text-sm font-weight-bold text-dark">Kind of Organization</p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="text-sm font-weight-bold text-secondary">{{ kindOfOrg }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="text-sm font-weight-bold text-dark">Partner Type</p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="text-sm font-weight-bold text-secondary">
                            {{ orgPartnerType }}
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="text-sm font-weight-bold text-dark">Country</p>
                    </div>
                    <div class="col-12 col-md-6">
                        <p class="text-sm font-weight-bold text-secondary">{{ countryName }}</p>
                    </div>
                </div>
                <hr class="border border-1 border-dark" />
                <div class="row mt-3">
                    <div class="col-12">
                        <p class="text-sm font-weight-bold text-dark">What does your community/organization do?</p>
                    </div>
                    <div class="col-12">
                        <p class="text-sm font-weight-bold text-secondary">
                            {{ partner?.organization?.description }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="d-none d-md-flex col-md-1 justify-content-center">
                <div class="d-flex h-100">
                    <div class="vr"></div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="text-sm font-weight-bold text-dark">Mission</p>
                    </div>
                    <div class="col-12">
                        <p class="text-sm font-weight-bold text-secondary">
                            {{ partner?.organization?.mission }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p class="text-sm font-weight-bold text-dark">Vision</p>
                    </div>
                    <div class="col-12">
                        <p class="text-sm font-weight-bold text-secondary">
                            {{ partner?.organization?.vision }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="text-dark py-1 m-0">References</h4>
        <div class="row" *ngFor="let item of partner?.organization?.partner_organization_reference; let i = index">
            <div class="col-12 col-md-3">
                <div class="form-group my-3">
                    <label class="font-weight-bold text-dark">Person {{ i + 1 }}</label>
                    <p class="text-sm font-weight-bold text-secondary">{{ item?.name }}</p>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="form-group my-3">
                    <label class="font-weight-bold text-dark">Contact</label>
                    <p class="text-sm font-weight-bold text-secondary">{{ item?.contact_number }}</p>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="form-group my-3">
                    <label class="font-weight-bold text-dark">Email Address</label>
                    <p class="text-sm font-weight-bold text-secondary">{{ item?.email_address }}</p>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="form-group my-3">
                    <label class="font-weight-bold text-dark">Organization Name</label>
                    <p class="text-sm font-weight-bold text-secondary">{{ item?.organization_name }}</p>
                </div>
            </div>
        </div>
    </ng-container>
</div>
