<div>
    <h4 class="text-dark mb-4">Project Information</h4>

    <div class="container text-center" *ngIf="loadingCountryFetch || loadingProvinceFetch || loadingProjectSite">
        <div class="spinner-border" style="width: 3rem; height: 3rem" role="loading">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <ng-container *ngIf="!loadingCountryFetch && !loadingProvinceFetch && !loadingProjectSite">
        <div class="row">
            <div class="col-md-2">
                <p class="text-dark-blue font-weight-bold">Project Title</p>
            </div>
            <div class="col-md-10">
                <p class="text-secondary font-weight-bold">{{ project?.title }}</p>
            </div>
            <div class="col-md-2">
                <p class="text-dark-blue font-weight-bold">Project duration</p>
            </div>
            <div class="col-md-10">
                <p class="text-secondary font-weight-bold">{{ project?.duration }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p class="text-dark-blue font-weight-bold">Background/What is the problem to be addressed?</p>
            </div>
            <div class="col-md-12">
                <p class="text-secondary font-weight-bold">
                    {{ project?.background }}
                </p>
            </div>

            <div class="col-md-12">
                <p class="text-dark-blue font-weight-bold">Project Objectives?</p>
            </div>
            <div class="col-md-12">
                <p class="text-secondary font-weight-bold">
                    {{ project?.objective }}
                </p>
            </div>

            <div class="col-md-12">
                <p class="text-dark-blue font-weight-bold">
                    Expected outputs/How will the proposed projects activities improve the situation?
                </p>
            </div>
            <div class="col-md-12">
                <p class="text-secondary font-weight-bold">
                    {{ project?.expected_output }}
                </p>
            </div>

            <div class="col-md-12">
                <p class="text-dark-blue font-weight-bold">
                    How will the women and children be involved in the project? How will they benefit or be affected
                </p>
            </div>
            <div class="col-md-12">
                <p class="text-secondary font-weight-bold">
                    {{ project?.how_will_affect }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 form-group my-3">
                <label class="font-weight-bold text-dark">Website of Project Organization</label>
                <div class="d-flex gap-1">
                    <p class="text-secondary font-weight-bold">
                        {{ project?.partner?.organization?.project_website }}
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p class="text-dark font-weight-bold p-0">Project Location</p>
                <div class="container">
                    <div *ngFor="let item of project?.project_location; index as i" class="row align-items-center my-2">
                        <div class="col-12 col-md-2 my-1">
                            <p class="font-weight-bold text-dark text-sm p-0 m-0">Location {{ i + 1 }}</p>
                        </div>

                        <div class="col-12 col-md-4 my-1">
                            <p class="font-weight-bold text-dark text-sm p-0 m-0">
                                {{ getCountryInfo(item?.country_pk)?.name }}
                            </p>
                        </div>
                        <div class="col-12 col-md-4 my-1">
                            <p class="font-weight-bold text-dark text-sm p-0 m-0">
                                {{ getProvinceInfo(item?.province_code)?.name }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <p class="text-dark font-weight-bold p-0">Site</p>
                <div class="col-md-12 form-group my-3">
                    <div *ngFor="let item of projectSite" class="row gap-0 my-2 align-items-center">
                        <div class="col-12 col-md-9 p-0 my-1">
                            <p class="font-weight-bold text-dark text-sm p-0 px-3 m-0">
                                {{ item.site }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>