<div>
    <div class="assessment-container my-3 overflow-x-auto">
        <div style="min-width: 1000px">
            <div class="row mx-0">
                <div class="col-2">
                    <p class="text-dark font-weight-bold text-sm p-0 m-0">Date</p>
                </div>

                <div class="col-2">
                    <p class="text-dark font-weight-bold text-sm p-0 m-0">Donor Project</p>
                </div>

                <div class="col-2">
                    <p class="text-dark font-weight-bold text-sm p-0 m-0">Thematic Area</p>
                </div>

                <div class="col-2">
                    <p class="text-dark font-weight-bold text-sm p-0 m-0">Contribution/Results</p>
                </div>

                <div class="col-2">
                    <p class="text-dark font-weight-bold text-sm p-0 m-0">Reviewing Officer</p>
                </div>

                <div class="col-2">
                    <!-- spacer -->
                </div>
            </div>

            <div *ngFor="let item of partnerAssessments; index as i" class="row align-items-center mx-0 my-3"
                [ngClass]="{ 'border-top border-secondary': i !== 0 }">
                <div class="col-2">
                    <p class="text-secondary text-sm my-1 p-0">
                        {{ item.date_created | date : 'dd-MMMM-YYYY' }}
                    </p>
                </div>

                <div class="col-2">
                    <p class="text-secondary text-sm my-1 p-0"></p>
                </div>

                <div class="col-2">
                    <p class="text-secondary text-sm my-1 p-0"></p>
                </div>

                <div class="col-2">
                    <p class="text-secondary text-sm my-1 p-0">{{ item.message }}</p>
                </div>

                <div class="col-2">
                    <p class="text-secondary text-sm my-1 p-0">
                        {{ item.user?.first_name }} {{ item?.user?.last_name }}
                    </p>
                </div>

                <div class="col-2">
                    <button class="btn btn-icon-only my-1" *ngIf="item?.created_by === user?.pk"
                        (click)="handleEdit(item?.pk)">
                        <i class="material-icons">edit</i>
                    </button>
                    <button (click)="handleDelete(item?.pk)" class="btn btn-icon-only my-1"
                        *ngIf="item?.created_by === user?.pk">
                        <i class="material-icons">delete</i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end mt-5">
        <div class="d-flex flex-wrap flex-row gap-1 align-items-center">
            <p class="text-dark font-weight-bold p-0 m-0">Add Assessment</p>
            <button class="btn btn-icon-only btn-info rounded-circle" (click)="handleAdd()">
                <span class="position-relative bottom-10 end-10"><i class="material-icons">add</i></span>
            </button>
        </div>
    </div>
</div>