<div>
    <div class="form-check">
        <input [(ngModel)]="checkboxes.letters" class="form-check-input" type="checkbox" value="" id="chk-letters"
            disabled>
        <label class="form-check-label" for="chk-letters">
            {{letters}}
        </label>
    </div>
    <div class="form-check">
        <input [(ngModel)]="checkboxes.numbers" class="form-check-input" type="checkbox" value="" id="chk-numbers"
            (change)="generatePassword()">
        <label class="form-check-label" for="chk-numbers">
            Include {{numbers}}
        </label>
    </div>
    <div class="form-check">
        <input [(ngModel)]="checkboxes.ilo" class="form-check-input" type="checkbox" value="" id="chk-ilo"
            (change)="generatePassword()">
        <label class="form-check-label" for="chk-ilo">
            Include {{ilo}}
        </label>
    </div>
    <div class="form-check">
        <input [(ngModel)]="checkboxes.special" class="form-check-input" type="checkbox" value="" id="chk-special"
            (change)="generatePassword()">
        <label class="form-check-label" for="chk-special">
            Include {{special}}
        </label>
    </div>

    <label for="range" class="ui-components-1cp70ta">Length ({{range}})</label>
    <input [(ngModel)]="range" (change)="generatePassword()" type="range" class="form-range" min="6" max="40" step="1"
        id="range">

    <div class="form-group">
        <label for="example-email-input" class="form-control-label">New Password</label>
        <form [formGroup]="form">
            <div class="form-group input-group input-group-outline my-3"
                [class]="{ 'is-filled' : form.value.first_name !== null }">
                <label class="form-label">First Name</label>
                <input class="form-control shadow-none" type="text" formControlName="password"
                    on-focus="onFocus($event.target)" on-blur="onExit($event.target)"
                    [ngClass]="{ 'is-invalid': f['password'].errors }" (keyup)="setPassword()">
                <div class="url-copied text-info text-sm" *ngIf="copied">Copied!</div>
                <button class="btn btn-outline-secondary" type="button" (click)="generatePassword()">
                    <i class="fa fa-refresh"></i>
                </button>
                <button class="btn btn-outline-secondary" type="button" (click)="copyPassword()"
                    title="Copy password to clipboard">
                    <i class="fa fa-copy"></i>
                </button>

                <div *ngIf="f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors['required']">Password is required</div>
                </div>

            </div>
        </form>
    </div>
</div>