<div class="container-fluid mb-3">
    <nav aria-label="breadcrumb">
        <h4 class="font-weight-bolder mb-0 mb-5">Users & Roles</h4>
    </nav>
    <div class="row mb-4">
        <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
            <div class="mb-2">
                <div class="row">
                    <div class="col-lg-4 col-7 ">
                        <div class="form-group input-group input-group-outline my-3">
                            <input class="form-control shadow-none" type="text" [(ngModel)]="filters.keyword"
                                placeholder="Search..." (keyup)="search()">
                        </div>
                    </div>
                    <div class="col-lg-8 col-5 my-auto text-end">
                        <button class="btn btn-sm bg-grant-primary text-sm text-white" (click)="userModal(null)">
                            <i class="material-icons text-sm">add_circle</i>
                            Add User
                        </button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="col text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Username</th>
                                    <th
                                        class="col text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Unique ID</th>
                                    <th
                                        class="col text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Full Name</th>
                                    <th
                                        class="col text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Email</th>
                                    <th
                                        class="col text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Roles</th>
                                    <th
                                        class="col text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let user of users| paginate : { itemsPerPage: pagination.tableSize, currentPage: pagination.page, totalItems: pagination.count }; let i = index">
                                    <td scope="row">
                                        <div class="d-flex px-2 py-1">
                                            <span class="mb-0 text-sm">{{user.account.username}}</span>
                                        </div>
                                    </td>
                                    <td scope="row">
                                        <div class="d-flex px-2 py-1">
                                            <span class="mb-0 text-sm">{{user.unique_id}}</span>
                                        </div>
                                    </td>
                                    <td class="w-25 align-middle text-sm">
                                        <span class="text-xs">{{user.first_name}}
                                            {{user.last_name}}</span>
                                    </td>
                                    <td class="w-25 align-middle text-center text-sm">
                                        <span class="text-xs">{{user.email_address}}</span>
                                    </td>
                                    <td class="w-15 align-middle text-center text-sm">
                                        <app-select url="roles" [multiple]="true" [itemsShowLimit]="3"
                                            (onSelectEvent)="roleUpdate($event, i)"
                                            (onDeSelectEvent)="roleUpdate($event, i)"
                                            [defaultSelectedItemKeyArr]="user.roles"
                                            placeholder="Please select"></app-select>
                                    </td>
                                    <td class="w-20 opacity-7">
                                        <div class="ms-auto text-end">
                                            <a class="btn btn-link text-dark text-gradient px-3 mb-0 text-xs"
                                                href="javascript:;" (click)="userModal(user)">
                                                <i class="material-icons text-sm me-2">edit</i>Edit
                                            </a>
                                            <a class="btn btn-link text-dark text-gradient px-3 mb-0 text-xs"
                                                href="javascript:;" (click)="resetPasswordModal(user)">
                                                <i class="material-icons text-sm me-2">key</i>Reset Password
                                            </a>
                                            <a class="btn btn-link text-dark text-gradient px-3 mb-0 text-xs"
                                                href="javascript:;" (click)="showLogs(user)" title="Show Logs">
                                                <i class="material-icons text-sm me-2">history</i>
                                            </a>
                                            <a class="btn btn-link {{ user.account.active ? 'text-warning' : 'text-primary' }} text-gradient px-2 mb-0 text-xs"
                                                href="javascript:;" (click)="suspend(user)"
                                                [title]="user.account.active ? 'Lock account' : 'Unlock account'">
                                                <i class="material-icons text-lg me-2">{{ user.account.active ?
                                                    'lock_open' : 'lock' }}</i>
                                            </a>
                                            <a class="btn btn-link {{ user.account.archived ? 'text-primary' : 'text-danger' }} text-gradient px-2 mb-0 text-xs"
                                                href="javascript:;" (click)="deactivate(user)"
                                                [title]="user.account.archived ? 'Activate account' : 'Deactivate account'">
                                                <i class="fa fa-{{ user.account.archived ?
                                                    'undo'
                                                    : 'trash' }}"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="100%">
                                        <div class="d-flex flex-row-reverse mt-2" *ngIf="pagination.count>0">
                                            <pagination-controls [responsive]="true" previousLabel="Prev"
                                                nextLabel="Next"
                                                (pageChange)="onTableDataChange($event)"></pagination-controls>
                                            <div>
                                                <select (change)="onTableSizeChange($event)"
                                                    class="form-control form-control-sm pagination-select">
                                                    <option *ngFor="let size of tableSizes" [ngValue]="size">
                                                        {{ size }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>