<div class="container">
    <div>
        <accordion [isAnimated]="true">
            <accordion-group
                *ngFor="let event of events; index as i"
                (isOpenChange)="handleIsOpenChange($event, i)"
                [panelClass]="
                    currentExpandedIdx === i ? 'custom-accordion-expanded w-100' : 'custom-accordion-collapsed w-100'
                "
                class="my-3"
            >
                <div class="flex d-flex justify-content-between align-items-center py-2" accordion-heading>
                    <div class="pull-left float-left">
                        <p class="text-dark text-sm font-weight-bold m-0 p-0">{{ event.name }}</p>
                    </div>
                </div>
                <div class="table-container">
                    <div class="row border-dark border-top p-1" *ngFor="let attendee of event.attendees; index as i">
                        <div class="col-12 col-md-2">
                            <p class="text-dark font-weight-bold text-sm">
                                Name: <span class="font-weight-light">{{attendee.name}}</span>
                            </p>
                        </div>
                        <div class="col-12 col-md-2">
                            <p class="text-dark font-weight-bold text-sm">
                                Date of Birth: <span class="font-weight-light">{{attendee.birthday | date}}</span>
                            </p>
                        </div>
                        <div class="col-12 col-md-5">
                            <p class="text-dark font-weight-bold text-sm">
                                Address: <span class="font-weight-light">{{attendee.address}}</span>
                            </p>
                        </div>
                        <div class="col-12 col-md-2">
                            <p class="text-dark font-weight-bold text-sm">
                                Mobile No: <span class="font-weight-light">{{attendee.mobile_number}}</span>
                            </p>
                        </div>
                        <div class="col-12 col-md-1">
                            <div class="d-flex flex-row gap-1">
                                <button class="btn btn-sm btn-info btn-icon-only btn-round" title="Edit" (click)="openModal(attendee)">
                                  <i class="fa fa-pencil" style="font-size: 0.8rem !important;"></i>
                                </button>
                                <button class="btn btn-sm btn-danger btn-icon-only btn-round" title="Delete" (click)="deleteAttendee(attendee)">
                                  <i class="fa fa-trash" style="font-size: 0.8rem !important;"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>
