<div>
    <div class="row">
        <div class="col-md-2">
            <p class="text-dark-blue font-weight-bold">Date</p>
        </div>
        <div class="col-md-3">
            <p class="text-dark-blue font-weight-bold">Donor Project</p>
        </div>
        <div class="col-md-5">
            <p class="text-dark-blue font-weight-bold">Contributions/Results</p>
        </div>
        <div class="col-md-2">
            <p class="text-dark-blue font-weight-bold">Reviewing Officer</p>
        </div>
    </div>
    <div class="row my-2 border-divider-assessment">
        <div class="col-md-2">
            <p class="text-secondary font-weight-bold">10-Oct-2022</p>
        </div>
        <div class="col-md-3">
            <p class="text-secondary font-weight-bold">Climate Related</p>
        </div>
        <div class="col-md-5">
            <p class="text-secondary font-weight-bold">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo ducimus architecto minima deleniti
                repellendus laudantium sit odit temporibus, at asperiores, velit reiciendis quod libero vitae. Dolor
                nihil dolorum optio inventore?
            </p>
        </div>
        <div class="col-md-2">
            <p class="text-secondary font-weight-bold">Aurora Hawthorne</p>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-md-2">
            <p class="text-secondary font-weight-bold">10-Oct-2022</p>
        </div>
        <div class="col-md-3">
            <p class="text-secondary font-weight-bold">Climate Related</p>
        </div>
        <div class="col-md-5">
            <p class="text-secondary font-weight-bold">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo ducimus architecto minima deleniti
                repellendus laudantium sit odit temporibus, at asperiores, velit reiciendis quod libero vitae. Dolor
                nihil dolorum optio inventore?
            </p>
        </div>
        <div class="col-md-2">
            <p class="text-secondary font-weight-bold">Aurora Hawthorne</p>
        </div>
    </div>
</div>
