<div>
    <h4 class="text-dark">Non Profit Equivalency Determination</h4>
    <div class="row my-5 g-0">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-dark">Year organization was formed</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-secondary">2000</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-dark">Financial situation last year</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-secondary">10000 USD | 500000 PHP</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-dark">Source of Funds</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-secondary">Lorem ipsum</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-dark">Financial situation this year</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-secondary">20000 USD | 1098 PHP</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-dark">Source of Funds</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-secondary">Lorem ipsum</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h4 class="text-dark">Legal registration</h4>
                        <div class="d-flex flex-wrap flex-row gap-2 my-3">
                            <p class="text-dark p-0 m-0">
                                <span class="position-relative top-5">
                                    <i class="material-icons">attach_file</i>
                                </span>
                                docoumentssample1.pdf
                            </p>
                            <p class="text-dark p-0 m-0">
                                <span class="position-relative top-5">
                                    <i class="material-icons">attach_file</i>
                                </span>
                                docoumentssample1.pdf
                            </p>
                            <p class="text-dark p-0 m-0">
                                <span class="position-relative top-5">
                                    <i class="material-icons">attach_file</i>
                                </span>
                                docoumentssample1.pdf
                            </p>
                            <p class="text-dark p-0 m-0">
                                <span class="position-relative top-5">
                                    <i class="material-icons">attach_file</i>
                                </span>
                                docoumentssample1.pdf
                            </p>
                            <p class="text-dark p-0 m-0">
                                <span class="position-relative top-5">
                                    <i class="material-icons">attach_file</i>
                                </span>
                                docoumentssample1.pdf
                            </p>
                            <p class="text-dark p-0 m-0">
                                <span class="position-relative top-5">
                                    <i class="material-icons">attach_file</i>
                                </span>
                                docoumentssample1.pdf
                            </p>
                            <p class="text-dark p-0 m-0">
                                <span class="position-relative top-5">
                                    <i class="material-icons">attach_file</i>
                                </span>
                                docoumentssample1.pdf
                            </p>
                            <p class="text-dark p-0 m-0">
                                <span class="position-relative top-5">
                                    <i class="material-icons">attach_file</i>
                                </span>
                                docoumentssample1.pdf
                            </p>
                            <p class="text-dark p-0 m-0">
                                <span class="position-relative top-5">
                                    <i class="material-icons">attach_file</i>
                                </span>
                                docoumentssample1.pdf
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 border border-top-1 border-dark my-3"></div>

    <div class="row my-2 g-0">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12">
                    <p class="text-sm font-weight-bold text-dark">Officers of the Organization of Community Leaders</p>
                </div>
                <div class="col-12">
                    <p class="text-sm font-weight-bold text-secondary m-0 p-0">Jose Mari Chan</p>
                </div>
                <div class="col-12">
                    <p class="text-sm font-weight-bold text-secondary m-0 p-0">Jose Mari Chan</p>
                </div>
                <div class="col-12">
                    <p class="text-sm font-weight-bold text-secondary m-0 p-0">Jose Mari Chan</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12">
                    <p class="text-sm font-weight-bold text-dark">
                        Names of members of the Board of the governing body
                    </p>
                </div>
                <div class="col-12">
                    <p class="text-sm font-weight-bold text-secondary m-0 p-0">Jose Mari Chan</p>
                </div>
                <div class="col-12">
                    <p class="text-sm font-weight-bold text-secondary m-0 p-0">Jose Mari Chan</p>
                </div>
                <div class="col-12">
                    <p class="text-sm font-weight-bold text-secondary m-0 p-0">Jose Mari Chan</p>
                </div>
            </div>
        </div>
    </div>
</div>
