<main class="main-content mt-0">
  <div class="container">
    <app-proponent-information *ngIf="step === 1"></app-proponent-information>
    <app-organization-profile *ngIf="step === 2"></app-organization-profile>
    <app-project-information *ngIf="step === 3"></app-project-information>
    <app-proposed-activities-timelines *ngIf="step === 4"></app-proposed-activities-timelines>
    <app-non-profit-equivalency-determination *ngIf="step === 5"></app-non-profit-equivalency-determination>
    <div class="container my-2">
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary text-capitalize m-1" (click)="onBack()" *ngIf="step !== INITIAL_STEP">
          Back
        </button>
        <button class="btn btn-dark-blue text-capitalize m-1" (click)="onNext()" *ngIf="step !== MAX_STEP">Next</button>
      </div>
    </div>
  </div>
</main>
