<div class="container">
    <h5 class="text-dark">Outcomes and achievements</h5>
    <div class="card">
        <div class="card-header bg-dark-blue py-2">
            <div class="card-title text-white">
                <h5 class="text-white px-2">GGF Focus</h5>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div *ngFor="let goal of ggfFocus.slice(0,4);let i = index" class="d-flex flex-wrap flex-row gap-1">
                        <div class="rounded rounded-circle bg-dark-blue text-center" style="height: 70px; width: 70px">
                            <h1 class="text-white p-0 m-0 position-relative"  style="top: 2px;">{{ goal.id }}</h1>
                        </div>
                        <div class="text-container max-width-300">
                            <h4 class="text-dark text-uppercase">{{ goal.title }}</h4>
                            <p>
                                {{ goal.description }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div *ngFor="let goal of ggfFocus.slice(4,8);let i = index" class="d-flex flex-wrap flex-row gap-1">
                        <div class="rounded rounded-circle bg-dark-blue text-center" style="height: 70px; width: 70px">
                            <h1 class="text-white p-0 m-0 position-relative" style="top: 2px;">{{ goal.id }}</h1>
                        </div>
                        <div class="text-container max-width-300">
                            <h4 class="text-dark text-uppercase">{{ goal.title }}</h4>
                            <p>
                                {{ goal.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
