<div class="my-5">
    <div class="title d-flex flex-row gap-2 align-items-center">
        <h5 class="text-dark">Financial Management Capacity</h5>
        <div class="vr"></div>
        <h5 class="text-dark text-light">Comments</h5>
        <button class="btn btn-info p-1 text-capitalize" style="background-color: #034241" (click)="export()">
            <i class="material-icons">download</i>
            Download comments
        </button>
    </div>

    <div class="card my-2">
        <div class="card-body bg-gray-300 p-2">
            <p class="font-weight-bold text-sm m-0">
                You are currently checking the grant team review of new applications. Lorem ipsum, dolor sit amet
                consectetur adipisicing elit. Magni, alias soluta repudiandae delectus autem mollitia, libero dolorem,
                incidunt optio iure minima debitis dolor! Inventore optio est nobis earum quae voluptate.
            </p>
        </div>
    </div>

    <div class="card my-3" *ngFor="let review of reviews; let i = index">
        <div class="card-header p-3" style="background-color: #034241">
            <div class="d-flex flex-column flex-md-row text-white justify-content-between align-items-md-center">
                <p class="m-0">{{ review.date_created | date : 'dd-MMM-YYYY' }} - {{ review.user.first_name }}
                    {{ review.user.last_name
                    }}</p>
                <div class="d-flex flex-column flex-md-row gap-1 align-items-md-center">
                    <p class="m-0">
                        Flag:
                        <span *ngIf="review.needs_resolution">Needs Resolution</span>
                        <span class="mx-2" *ngIf="review.needs_resolution && review.grantee">|</span>
                        <span *ngIf="review.grantee">Grantee</span>
                        <span class="badge text-bg-danger text-white mx-2" *ngIf="!review.resolved">Not Yet
                            Started</span>
                        <span class="badge text-bg-success text-white mx-2" *ngIf="review.resolved">Marked as
                            Resolved</span>
                    </p>
                    <button class="btn btn-icon-only btn-danger rounded-circle" (click)="delete(i)">
                        <i class="material-icons text-xl">delete</i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="content">
                <p>
                    {{review.message}}
                </p>

                <div class="row mt-3 mb-3">
                    <div class="md-12" *ngFor="let attachment of review.documents; let j = index">
                        <a href="{{SERVER + '/' + attachment.path}}" target="_blank">{{attachment.original_name}}</a> <a
                            (click)="deleteAttachment(i, j, 'financial_management_capacity_review')"><i
                                class="fa fa-times text-danger mx-2 cursor-pointer"></i></a>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button (click)="resolve(i)" class="btn btn-white p-1">Mark as Resolved</button>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body bg-gray-300">
            <div class="card my-3">
                <div class="card-header p-3" style="background-color: #034241">
                    <div class="d-flex flex-column flex-md-row text-white gap-1">
                        <p class="m-0">{{dateNow | date : 'dd-MMM-YYYY'}} - {{user.first_name}} {{user.last_name}}</p>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="form" class="text-start" (ngSubmit)="submit()">
                        <div class="content my-2">
                            <textarea type="text" rows="4" class="form-control border rounded-1 p-2 bg-gray-300"
                                formControlName="message" [ngClass]="{ 'is-invalid': submitted && f['message'].errors }"
                                required></textarea>
                            <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
                                <div *ngIf="f['message'].errors['required']">Review is required</div>
                            </div>
                        </div>

                        <div class="row mt-3 mb-3">
                            <div class="md-12" *ngFor="let attachment of attachments; let i = index">
                                <a href="{{SERVER + '/' + attachment.path}}"
                                    target="_blank">{{attachment.original_name}}</a> <a
                                    (click)="attachments.splice(i, 1)"><i
                                        class="fa fa-times text-danger mx-2 cursor-pointer"></i></a>
                            </div>
                        </div>

                        <div class="action-container d-flex flex-column flex-md-row justify-content-md-between">
                            <button class="btn btn-white" type="button" (click)="uploadFiles()">
                                <div class="d-flex flex-column text-start">
                                    <p class="p-0 m-0 text-sm text-dark font-weight-bold">Attach Documents</p>
                                    <p class="p-0 m-0 text-sm text-info font-weight-bold">
                                        <span class="icon icon-sm">
                                            <i class="material-icons">add</i>
                                        </span>
                                        Attach File
                                    </p>
                                </div>
                            </button>

                            <div class="d-flex flex-column flex-md-row flex-wrap gap-lg-2">
                                <div class="form-check m-0 p-1">
                                    <label class="form-check-label text-dark font-weight-bold">Flag:</label>
                                </div>
                                <div class="form-check m-0 p-1">
                                    <input id="financial_management_capacity_review-needs-resolution"
                                        class="form-check-input" type="checkbox" name="needs_resolution"
                                        formControlName="needs_resolution" value="needs_resolution" />
                                    <label class="form-check-label text-dark font-weight-bold"
                                        for="financial_management_capacity_review-needs-resolution">Needs
                                        Resolution</label>
                                </div>
                                <div class="form-check m-0 p-1">
                                    <input id="financial_management_capacity_review-grantee" class="form-check-input"
                                        type="checkbox" name="grantee" formControlName="grantee" value="grantee" />
                                    <label class="form-check-label text-dark font-weight-bold"
                                        for="financial_management_capacity_review-grantee">Grantee</label>
                                </div>
                                <button class="btn btn-dark p-1" style="min-width: 150px; max-height: 30px"
                                    [disabled]="submitted">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <div>
                    <h4 class="text-dark">Recommendation</h4>
                    <ng-select style="--border-color: #034241" class="custom-recommendation-select"
                        [items]="['Approved for Next Stage', 'Rejected', 'Cancelled']"
                        [placeholder]="'Choose your recommendation'" (change)="recommendationOnChange($event)"
                        [(ngModel)]="recommendation">
                    </ng-select>
                </div>
            </div>
        </div>
    </div>
</div>