<div class="card">
    <div class="card-body">
        <h5 class="card-title text-dark">Application Status</h5>
        <div class="container">
            <ul class="timeline">
                <li class="position-relative" *ngFor="let timeline of timeline; index as i">
                    <div *ngIf="timeline?.showVerticalLine"
                        class="timeline-vertical-line d-flex h-100 position-absolute">
                        <div class="vertical-line"></div>
                    </div>

                    <div [ngClass]="{
                            'bg-secondary': timeline?.status === 'on-progress',
                            'bg-info': timeline?.status === 'complete',
                            'bg-danger': timeline?.status === 'notApproved',
                            'bg-success': timeline?.status === 'approved'
                        }" class="timeline-badge border border-5 rounded-circle border-white">
                        <div class="position-relative bottom-3">
                            <i *ngIf="timeline.status !== 'on-progress'" class="material-icons icon-sm text-white">{{
                                getStatusIcon(timeline.status) }}</i>
                        </div>
                    </div>

                    <div class="timeline-content w-100">
                        <div class="timeline-content-title d-flex flex-wrap gap-2 align-items-center">
                            <h5 class="text-dark">{{ timeline?.title }}</h5>
                            <button *ngIf="timeline?.button" class="btn btn-info btn-sm text-capitalize text-xs"
                                (click)="handleOnButtonEvent(timeline?.button?.eventKey)">
                                {{ timeline?.button?.label }}
                            </button>
                            <h6 class="text-dark font-weight-light">
                                {{ timeline?.label }}
                            </h6>
                        </div>

                        <ul class="timeline-content-list-group m-0 p-0 my-1">
                            <li *ngFor="let item of timeline?.items"
                                class="timeline-content-list-item d-flex flex-wrap gap-2 align-items-center m-0 my-2 p-0">
                                <span
                                    *ngIf="['approved', 'complete', 'on-progress', 'incomplete', 'for review', 'none'].includes(item?.status ?? '')"
                                    [ngClass]="{
                                                    'bg-info': item?.status === 'complete',
                                                    'bg-secondary': item?.status === 'on-progress',
                                                    'bg-success': item?.status === 'approved',
                                                    'bg-dark': item?.status === 'none' || item?.status === 'for review',
                                                    'bg-warning': item?.status === 'incomplete'
                                                }" class="fill-bullet border border-0 rounded-circle"></span>

                                <div class="row">
                                    <div class="col-md-12">

                                        <p [ngClass]="{
                                                        'text-danger': item?.status === 'notApproved',
                                                        'text-dark': item?.status !== 'notApproved'
                                                    }" class="m-0 text-sm">
                                            {{ item?.label }}</p>
                                        <!-- <button
                                            [ngClass]="{
                                                            'btn-info': item?.button?.type === 'info',
                                                            'btn-link': item?.button?.buttonType === 'link',
                                                            'text-danger':
                                                                item?.button?.type === 'danger' && item?.button?.buttonType === 'link',
                                                            'p-0': item?.button?.type === 'danger' && item?.button?.buttonType === 'link'
                                                        }"
                                            class="btn btn-sm text-lowercase text-xs font-weight-light"
                                            (click)="handleOnButtonEvent(item?.button?.eventKey)">
                                            {{ item?.button?.label }}wing and Processing
                                        </button> -->
                                    </div>
                                    <div class="col-md-12">{{item.message}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <a [href]="'public/application/' + application?.uuid">
                <button type="button" class="btn btn-info text-capitalize">Edit
                    Application</button>
            </a>
        </div>
    </div>
</div>