<div class="my-1">
    <div class="card">
        <div class="card-header bg-dark-blue p-2">
            <div class="d-flex flex-wrap flex-row justify-content-between">
                <h6 class="text-white px-2">Grant Category</h6>
            </div>
        </div>
        <div class="card-body">
            <div class="container text-center" *ngIf="loading">
                <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <div *ngIf="!loading" chartType="bar" class="bar-chart">
                <canvas
                    baseChart
                    [data]="horizontalBarChartData"
                    [options]="horizontalBarChartOptions"
                    [type]="barChartType"
                    [plugins]="horizontalBarChartPlugins"
                >
                </canvas>
            </div>
        </div>
    </div>
    <div class="card my-2">
        <div class="card-header bg-dark-blue p-2">
            <div class="d-flex flex-wrap flex-row justify-content-between">
                <h6 class="text-white px-2">Grant Category</h6>
            </div>
        </div>
        <div class="card-body py-2">
            <div class="row p-2">
                <div *ngFor="let item of GRANT_CATEGORY_INFO" class="col-12 col-md-4">
                    <div class="img-container" [ngStyle]="{ '--border-color': item.color }">
                        <img height="100%" [src]="item.image" class="rounded-circle" />
                    </div>
                    <div class="card d-block" [style.background-color]="item.color">
                        <div class="card-body p-2 m-0">
                            <p class="text-white p-0 p-1 m-0 mx-1 font-weight-bold">{{ item.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
