<div class="main-content">
    <div class="row">
        <div class="col-12 col-lg-6 mb-3">
            <form [formGroup]="form" (ngSubmit)="handleNext()">
                <div class="card bg-gray-100 mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Project Information</h5>
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <div class="form-group my-3">
                                    <label class="font-weight-bold text-dark">Project title*</label>
                                    <input type="text" class="form-control border rounded-1 p-1" required
                                        [ngClass]="{ 'is-invalid': submitted && f['title'].errors }"
                                        formControlName="title" />
                                    <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
                                        <div *ngIf="f['title'].errors['required']">Project title is required</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-lg-4">
                                <div class="form-group my-3">
                                    <label class="font-weight-bold text-dark">Duration*</label>
                                    <app-select class="shadow-none" [arr]="durationOpts"
                                        (onSelectEvent)="onChangeSelectedItem($event, 'duration')"
                                        (onDeSelectEvent)="onChangeSelectedItem($event, 'duration')"
                                        [defaultSelectedInArr]="
                                            durationOpts.includes(form.controls['duration'].value ?? '')
                                                ? form.controls['duration'].value
                                                : null
                                        "
                                        [changeFieldEventEmitter]="durationSelectChangeFieldEventEmitter"></app-select>
                                    <div *ngIf="submitted && f['duration'].errors">
                                        <div *ngIf="f['duration'].errors['required']" class="text-sm text-danger">
                                            Duration is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group my-3">
                            <label class="font-weight-bold text-dark">Background/What is the problem to be
                                addressed?*</label>
                            <textarea type="text" rows="5" class="form-control border rounded-1 p-2"
                                style="resize: none" required
                                [ngClass]="{ 'is-invalid': submitted && f['background'].errors }"
                                formControlName="background"></textarea>
                            <div *ngIf="submitted && f['background'].errors" class="invalid-feedback">
                                <div *ngIf="f['background'].errors['required']">
                                    Background/What is the problem to be addressed is required
                                </div>
                            </div>
                        </div>

                        <div class="form-group my-3">
                            <label class="font-weight-bold text-dark">Objectives*</label>
                            <textarea type="text" rows="5" class="form-control border rounded-1 p-2"
                                style="resize: none" required
                                [ngClass]="{ 'is-invalid': submitted && f['objective'].errors }"
                                formControlName="objective"></textarea>
                            <div *ngIf="submitted && f['objective'].errors" class="invalid-feedback">
                                <div *ngIf="f['objective'].errors['required']">Objectives is required</div>
                            </div>
                        </div>

                        <div class="form-group my-3">
                            <label class="font-weight-bold text-dark">Expected outputs/How will the proposed project
                                activities improve?*</label>
                            <textarea type="text" rows="5" class="form-control border rounded-1 p-2"
                                style="resize: none" required
                                [ngClass]="{ 'is-invalid': submitted && f['expected_output'].errors }"
                                formControlName="expected_output"></textarea>
                            <div *ngIf="submitted && f['expected_output'].errors" class="invalid-feedback">
                                <div *ngIf="f['expected_output'].errors['required']">
                                    Expected outputs/How will the proposed project activities improve is required
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card bg-gray-100">
                    <div class="card-body">
                        <p class="text-dark font-weight-bold p-0 m-0">How many will benefit from the project*</p>
                        <p class="text-dark font-weight-bold p-0 m-0">Direct:</p>
                        <div class="border-top border-2"></div>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div formArrayName="project_beneficiary"
                                    *ngFor="let item of formProjBeneficiary.controls.slice(0, 3); index as i"
                                    [attr.data-index]="i" class="form-group row my-1">
                                    <ng-container [formGroupName]="i">
                                        <label class="col-7 font-weight-bold text-dark text-capitalize">{{
                                            formProjBeneficiary.controls.at(i)?.get('name')?.value }}:</label>
                                        <div class="col-3">
                                            <input formControlName="count" type="number"
                                                class="form-control border rounded-1 p-1" [ngClass]="{
                                                    'is-invalid':
                                                        submitted && formProjBeneficiary.at(i).get('count')?.errors
                                                }" />
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div formArrayName="project_beneficiary"
                                    *ngFor="let item of formProjBeneficiary.controls.slice(3, 6); index as i"
                                    [attr.data-index]="i + 3" class="form-group row my-1">
                                    <ng-container [formGroupName]="i + 3">
                                        <label class="col-7 font-weight-bold text-dark text-capitalize">{{
                                            formProjBeneficiary.controls.at(i + 3)?.get('name')?.value }}:</label>
                                        <div class="col-3">
                                            <input formControlName="count" type="number"
                                                class="form-control border rounded-1 p-1" [ngClass]="{
                                                    'is-invalid':
                                                        submitted && formProjBeneficiary.at(i + 3).get('count')?.errors
                                                }" />
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>

                        <div class="border-top border-2"></div>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div formArrayName="project_beneficiary"
                                    *ngFor="let item of formProjBeneficiary.controls.slice(6, 9); index as i"
                                    [attr.data-index]="i + 6" class="form-group row my-1">
                                    <ng-container [formGroupName]="i + 6">
                                        <label class="col-7 font-weight-bold text-dark text-capitalize">{{
                                            formProjBeneficiary.controls.at(i + 6)?.get('name')?.value }}:</label>
                                        <div class="col-3">
                                            <input formControlName="count" type="number"
                                                class="form-control border rounded-1 p-1" [ngClass]="{
                                                    'is-invalid':
                                                        submitted && formProjBeneficiary.at(i + 6).get('count')?.errors
                                                }" />
                                        </div>
                                    </ng-container>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6">
                                <div formArrayName="project_beneficiary"
                                    *ngFor="let item of formProjBeneficiary.controls.slice(9, 12); index as i"
                                    [attr.data-index]="i + 9" class="form-group row my-1">
                                    <ng-container [formGroupName]="i + 9">
                                        <label class="col-7 font-weight-bold text-dark text-capitalize">{{
                                            formProjBeneficiary.controls.at(i + 9)?.get('name')?.value }}:</label>
                                        <div class="col-3">
                                            <input formControlName="count" type="number"
                                                class="form-control border rounded-1 p-1" [ngClass]="{
                                                    'is-invalid':
                                                        submitted && formProjBeneficiary.at(i + 9).get('count')?.errors
                                                }" />
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>

                        <div class="form-group my-3">
                            <label class="font-weight-bold text-dark">How will women and children be involved in the
                                project? How will the benefit or be
                                affected by the other project*</label>
                            <textarea type="text" rows="5" class="form-control border rounded-1 p-2"
                                style="resize: none" required
                                [ngClass]="{ 'is-invalid': submitted && f['how_will_affect'].errors }"
                                formControlName="how_will_affect"></textarea>
                            <div *ngIf="submitted && f['how_will_affect'].errors" class="invalid-feedback">
                                <div *ngIf="f['how_will_affect'].errors['required']">Field is required</div>
                            </div>
                        </div>

                        <div class="container" *ngIf="!loadingProvinceOpts">
                            <p class="text-dark font-weight-bold p-0">Project Location*</p>
                            <div *ngIf="submitted && f['project_location'].errors">
                                <div *ngIf="f['project_location'].errors['required']" class="text-sm text-danger">
                                    Project Location is required
                                </div>
                            </div>
                            <div formArrayName="project_location"
                                *ngFor="let item of formProjLocations.controls; index as i" [attr.data-index]="i"
                                class="row align-items-center my-2">
                                <ng-container [formGroupName]="i">
                                    <div class="col-12 col-md-2 my-1">
                                        <p class="font-weight-bold text-dark text-sm p-0 m-0">
                                            Location
                                            {{ i + 1 }}
                                        </p>
                                    </div>
                                    <div class="col-12 col-md-4 my-1">
                                        <app-select class="shadow-none" [url]="'country'" [listItemKey]="'pk'"
                                            (onSelectEvent)="onModifyProjLoc($event, 'pk', 'country_pk', i)"
                                            (onDeSelectEvent)="onModifyProjLoc($event, 'pk', 'country_pk', i)"
                                            [defaultSelectedItemKey]="
                                                formProjLocations.controls.at(i)?.get('country_pk')?.value ?? ''
                                            "></app-select>
                                        <div *ngIf="
                                                submitted && formProjLocations.controls.at(i)?.get('country_pk')?.errors
                                            ">
                                            <div *ngIf="formProjLocations.controls.at(i)?.get('country_pk')?.errors"
                                                class="text-sm text-danger">
                                                Country is required
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-md-4 my-1">
                                        <app-select [key]="i.toString()" [listItemKey]="'province_code'"
                                            [changeFieldEventEmitter]="provinceSelectChangeFieldEventEmitter"
                                            (onSelectEvent)="
                                                onModifyProjLoc($event, 'province_code', 'province_code', i)
                                            " (onDeSelectEvent)="
                                                onModifyProjLoc($event, 'province_code', 'province_code', i)
                                            " [defaultSelectedItemKey]="
                                                formProjLocations.controls.at(i)?.get('province_code')?.value ?? ''
                                            ">
                                        </app-select>
                                        <div *ngIf="
                                                submitted &&
                                                formProjLocations.controls.at(i)?.get('province_code')?.errors
                                            ">
                                            <div *ngIf="
                                                    formProjLocations.controls?.at(i) &&
                                                    formProjLocations.controls?.at(i)?.get('province_code')?.errors
                                                " class="text-sm text-danger">
                                                Province is required
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 my-1">
                                        <button class="btn btn-danger" type="button" (click)="onDelProjLoc(i)">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </div>
                                </ng-container>
                            </div>

                            <button class="btn btn-dark-blue my-3" type="button" (click)="onAddProjLoc()">
                                <span class="icon icon-sm position-relative" style="bottom: 2px">
                                    <i class="material-icons">add</i>
                                </span>
                                Add
                            </button>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center justify-content-md-end mt-3">
                    <button class="btn btn-white text-capitalize m-1" (click)="handleBack()" type="button">Back</button>
                    <button class="btn btn-dark-blue text-capitalize m-1">Next</button>
                </div>
            </form>
        </div>

        <div class="col-12 col-lg-6">
            <app-attach-documents [inputAttachments]="attachments"
                (onFileAttached)="saveAttachment($event)"></app-attach-documents>

            <button class="btn bg-info text-white w-100 text-capitalize my-3" type="button" (click)="handleReset()">
                Reset Form
            </button>
        </div>
    </div>
</div>