<div class="container text-center my-5" *ngIf="loading.section">
    <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div *ngIf="!loading.section">
    <div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
        <div class="col">
            <div class="card">
                <div class="row g-0">
                    <div
                        class="col-md-4"
                        style="
                            border-top-left-radius: 8px;
                            border-bottom-left-radius: 8px;
                            min-height: 130px;
                            background-color: var(--bs-purple);
                        "
                    >
                        <h5 class="text-white p-2 font-weight-light">Total Grants Approved</h5>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-text text-primary text-wrap">{{ totalGrantsApproved | number }} USD</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="row g-0">
                    <div
                        class="col-md-4 bg-info"
                        style="border-top-left-radius: 8px; border-bottom-left-radius: 8px; min-height: 130px"
                    >
                        <h5 class="text-white p-2 font-weight-light">Total of First Time Grantee</h5>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-text text-info text-wrap">
                                {{ totalFirstTimeGranteeCount | number }} Grantee
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <h4 class="text-dark pt-4 ps-4 font-weight-bold">Tranche Status</h4>
                <div class="card-body">
                    <div class="container text-center" *ngIf="loading.trancheStatus">
                        <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div *ngIf="!loading.trancheStatus">
                        <canvas
                            *ngIf="summaryTrancheStatus.length > 0"
                            baseChart
                            [plugins]="trancheStatusChartPlugins"
                            [data]="trancheStatusChartData"
                            [type]="trancheStatusChartType"
                            [options]="trancheStatusOptions"
                        >
                        </canvas>
                        <div class="min-height-300" *ngIf="summaryTrancheStatus.length === 0">
                            <h5 class="text-center text-warning text-bold">No Data Available</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <h4 class="text-dark pt-4 ps-4 font-weight-bold">Closure Status</h4>
                <div class="card-body">
                    <div class="container text-center" *ngIf="loading.closureStatus">
                        <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div *ngIf="!loading.closureStatus">
                        <canvas
                            *ngIf="summaryClosureStatus.length > 0"
                            baseChart
                            [plugins]="closureStatusChartPlugins"
                            [data]="closureStatusChartData"
                            [type]="closureStatusChartType"
                            [options]="closureStatusChartOptions"
                        >
                        </canvas>
                        <div class="min-height-300" *ngIf="summaryClosureStatus.length === 0">
                            <h5 class="text-center text-warning text-bold">No Data Available</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <h4 class="text-dark pt-4 ps-4 font-weight-bold">Grants Applied per country</h4>
                <div class="card-body">
                    <div class="container text-center" *ngIf="loading.appliedGrantsPerCountry">
                        <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div *ngIf="!loading.appliedGrantsPerCountry">
                        <canvas
                            *ngIf="summaryTotalAppliedGrantsPerCountry.length > 0"
                            baseChart
                            [plugins]="grantsAppliedPerCountryChartPlugins"
                            [data]="grantsAppliedPerCountryChartData"
                            [type]="grantsAppliedPerCountryChartType"
                            [options]="grantsAppliedPerCountryChartOptions"
                        >
                        </canvas>
                        <div class="min-height-300" *ngIf="summaryTotalAppliedGrantsPerCountry.length === 0">
                            <h5 class="text-center text-warning text-bold">No Data Available</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <h4 class="text-dark pt-4 ps-4 font-weight-bold">Grants Approved per Country</h4>
                <div class="card-body">
                    <div class="container text-center" *ngIf="loading.approvedGrantsPerCountry">
                        <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div *ngIf="!loading.approvedGrantsPerCountry">
                        <canvas
                            *ngIf="summaryTotalApprovedGrantsPerCountry.length > 0"
                            baseChart
                            [plugins]="grantsApprovedPerCountryChartPlugins"
                            [data]="grantsApprovedPerCountryChartData"
                            [type]="grantsApprovedPerCountryChartType"
                            [options]="grantsApprovedPerCountryChartOptions"
                        >
                        </canvas>
                        <div class="min-height-300" *ngIf="summaryTotalApprovedGrantsPerCountry.length === 0">
                            <h5 class="text-center text-warning text-bold">No Data Available</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <h4 class="text-dark pt-4 ps-4 font-weight-bold">Total Grants per Type</h4>
                <div class="card-body">
                    <div class="container text-center" *ngIf="loading.grantsPerType">
                        <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div *ngIf="!loading.grantsPerType">
                        <canvas
                            *ngIf="summaryTotalGrantsPerType.length > 0"
                            baseChart
                            [plugins]="grantsPerTypeChartPlugins"
                            [data]="grantsPerTypeChartData"
                            [type]="grantsPerTypeChartType"
                            [options]="grantsPerTypeChartOptions"
                        >
                        </canvas>
                        <div class="min-height-300" *ngIf="summaryTotalGrantsPerType.length === 0">
                            <h5 class="text-center text-warning text-bold">No Data Available</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <h4 class="text-dark pt-4 ps-4 font-weight-bold">Total Grants per country</h4>
                <div class="card-body">
                    <div class="container text-center" *ngIf="loading.grantsPerCountry">
                        <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div *ngIf="!loading.grantsPerCountry">
                        <canvas
                            *ngIf="summaryTotalGrantsPerCountry.length > 0"
                            baseChart
                            [plugins]="grantsPerCountryChartPlugins"
                            [data]="grantsPerCountryChartData"
                            [type]="grantsPerCountryChartType"
                            [options]="grantsPerCountryChartOptions"
                        >
                        </canvas>
                        <div class="min-height-300" *ngIf="summaryTotalGrantsPerCountry.length === 0">
                            <h5 class="text-center text-warning text-bold">No Data Available</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 my-3">
        <div class="col">
            <div class="card">
                <h4 class="text-dark pt-4 ps-4 font-weight-bold">Total Amount of Grants per Theme</h4>
                <div class="card-body">
                    <div class="container text-center" *ngIf="loading.totalAmountOfGrantsPerTheme">
                        <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>

                    <div *ngIf="!loading.totalAmountOfGrantsPerTheme">
                        <canvas
                            baseChart
                            [data]="totalAmountOfGrantsPerThemeBarChartData"
                            [options]="totalAmountOfGrantsPerThemeBarChartOptions"
                            [type]="totalAmountOfGrantsPerThemeBarChartType"
                            [plugins]="totalAmountOfGrantsPerThemeBarChartPlugins"
                        >
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
