<div class="row">
    <div class="col-lg-2 col-md-3 px-5 py-2">
        <label class="text-bold">Dashboard</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="dashboardview">
            <label class="form-check-label" for="dashboardview">
                View
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="dashboardCreate">
            <label class="form-check-label" for="dashboardCreate">
                Create
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="dashboardEdit">
            <label class="form-check-label" for="dashboardEdit">
                Edit
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="dashboardDelete">
            <label class="form-check-label" for="dashboardDelete">
                Delete
            </label>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 px-5 py-2">
        <label class="text-bold">Grants</label>
        <label class="text-bold">Dashboard</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="dashboardview">
            <label class="form-check-label" for="grantsview">
                View
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="grantsCreate">
            <label class="form-check-label" for="grantsCreate">
                Create
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="grantsEdit">
            <label class="form-check-label" for="grantsEdit">
                Edit
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="grantsDelete">
            <label class="form-check-label" for="grantsDelete">
                Delete
            </label>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 px-5 py-2">
        <label class="text-bold">Applications</label>
        <label class="text-bold">Dashboard</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="applicationsview">
            <label class="form-check-label" for="applicationsview">
                View
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="applicationsCreate">
            <label class="form-check-label" for="applicationsCreate">
                Create
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="applicationsEdit">
            <label class="form-check-label" for="applicationsEdit">
                Edit
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="applicationsDelete">
            <label class="form-check-label" for="applicationsDelete">
                Delete
            </label>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 px-5 py-2">
        <label class="text-bold">Partners</label>
        <label class="text-bold">Dashboard</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="partnersview">
            <label class="form-check-label" for="partnersview">
                View
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="partnersCreate">
            <label class="form-check-label" for="partnersCreate">
                Create
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="partnersEdit">
            <label class="form-check-label" for="partnersEdit">
                Edit
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="partnersDelete">
            <label class="form-check-label" for="partnersDelete">
                Delete
            </label>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 px-5 py-2">
        <label class="text-bold">Reports</label>
        <label class="text-bold">Dashboard</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="reportsview">
            <label class="form-check-label" for="reportsview">
                View
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="reportsCreate">
            <label class="form-check-label" for="reportsCreate">
                Create
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="reportsEdit">
            <label class="form-check-label" for="reportsEdit">
                Edit
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="reportsDelete">
            <label class="form-check-label" for="reportsDelete">
                Delete
            </label>
        </div>
    </div>
    <div class="col-lg-2 col-md-3 px-5 py-2">
        <label class="text-bold">Users & Roles</label>
        <label class="text-bold">Dashboard</label>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="usersview">
            <label class="form-check-label" for="usersview">
                View
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="usersCreate">
            <label class="form-check-label" for="usersCreate">
                Create
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="usersEdit">
            <label class="form-check-label" for="usersEdit">
                Edit
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="usersDelete">
            <label class="form-check-label" for="usersDelete">
                Delete
            </label>
        </div>
    </div>
</div>