<div class="bg-gray-200">

    <main class="main-content  mt-0">
        <div class="page-header align-items-start min-vh-100"
            style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');">
            <span class="mask bg-gradient-dark opacity-6"></span>
            <div class="container my-auto">
                <div class="row">
                    <div class="col-lg-4 col-md-8 col-12 mx-auto">
                        <div class="card z-index-0 fadeIn3 fadeInBottom">
                            <div class="card-header text-center">
                                <img src="assets/img/brand/logo2.png" alt="" style="width: 100%;" />
                            </div>
                            <div class="card-body">
                                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control" placeholder="New Password"
                                            (keyup)="alert.show=false" formControlName="password"
                                            [ngClass]="{ 'is-invalid': f['password'].errors && (f['password'].dirty || f['password'].touched) }">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-key"></span>
                                            </div>
                                        </div>
                                        <div *ngIf="f['password'].errors" class="invalid-feedback">
                                            <div *ngIf="f['password'].errors['required']">Password is required</div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control" placeholder="Confirm Password"
                                            (keyup)="alert.show=false" formControlName="confirm_password"
                                            [ngClass]="{ 'is-invalid': f['confirm_password'].errors && (f['confirm_password'].dirty || f['confirm_password'].touched) }">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-key"></span>
                                            </div>
                                        </div>
                                        <div *ngIf="f['confirm_password'].errors" class="invalid-feedback">
                                            <div *ngIf="f['confirm_password'].errors['required']">Confirm Password is
                                                required
                                            </div>
                                            <div *ngIf="f['confirm_password'].errors['mustMatch']">Confirm password
                                                doesn't match New password
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-center">
                                            <button type="submit" class="btn btn-primary btn-block"
                                                [disabled]="isSubmitted">Reset
                                                password</button>
                                        </div>
                                    </div>

                                    <div *ngIf="alert.show" class="alert alert-{{alert.class}} text-center" role="alert"
                                        data-mdb-color="alert.class">
                                        {{ alert.class == 'success' ? 'Password successfully reset' :
                                        'An error occurred. Please try again!' }}
                                    </div>
                                </form>
                                <p class="mt-4 text-sm text-center" *ngIf="success">
                                    <a href="javascript:;" [routerLink]="['/auth']" routerLinkActive="active"
                                        class="text-primary text-gradient font-weight-bold">Back to Login</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer position-absolute bottom-2 py-2 w-100">
                <div class="container">
                    <div class="row align-items-center justify-content-lg-between">
                        <div class="col-12 col-md-6 my-auto">
                            <div class="copyright text-center text-sm text-white text-lg-start">
                                ©
                                {{year}} Copyright:
                                <a href="https://www.samdhana.org/home" class="font-weight-bold text-white"
                                    target="_blank">The Samdhana
                                    Institute</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                                <li class="nav-item">
                                    <a href="https://grants.samdhana.org" class="nav-link text-white"
                                        target="_blank">Grant
                                        Management</a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://www.samdhana.org/about-us" class="nav-link text-white"
                                        target="_blank">About
                                        Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </main>
</div>