<div class="container">
    <h4 class="title text-dark">Partners</h4>
    <div class="row g-1 align-items-center">
        <div class="col-12 col-md-1">
            <label class="text-dark text-sm font-weight-bold">Sort by</label>
        </div>
        <div class="col-12 col-md-2">
            <div class="form-control">
                <app-select [url]="'types'" (onSelectEvent)="onChangeSelectedItem($event, 'type_pk')"
                    (onDeSelectEvent)="onChangeSelectedItem($event, 'type_pk')" placeholder="Grant Type"></app-select>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="form-control">
                <app-select [arr]="" placeholder="Functions"></app-select>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="form-control">
                <app-select [arr]="thematicAreas" placeholder="Thematic Area"></app-select>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="form-control">
                <app-select [url]="'organization'" placeholder="Type Of Organization"
                    (onSelectEvent)="onChangeSelectedItem($event, 'organization_pk')"
                    (onDeSelectEvent)="onChangeSelectedItem($event, 'organization_pk')"></app-select>
            </div>
        </div>
    </div>
    <div class="row g-1 align-items-center">
        <div class="col-12 col-md-1"></div>
        <div class="col-12 col-md-5">
            <div class="form-control d-flex flex-wrap flex-row gap-1">
                <div class="d-flex border rounded-2 p-1">
                    <input type="text" style="width: 280px" class="form-control text-dark p-1"
                        placeholder="Type here..." [(ngModel)]="filter['keyword']" #ctrl="ngModel" />
                    <button [disabled]="(filter.keyword?.length ?? 0) === 0" class="btn btn-icon-only"
                        (click)="handleClearKeyword()">
                        <i class="material-icons mb-1" [hidden]="(filter.keyword?.length ?? 0) === 0">cancel</i>
                    </button>
                </div>

                <button class="btn btn-dark-blue text-xs p-0 m-0 px-2 py-1" (click)="handleSearchKeyword()">
                    <i class="material-icons mb-0">search</i> Search
                </button>
            </div>
        </div>
    </div>
    <div class="d-flex flex-wrap justify-content-between align-items-center">
        <h6 class="mt-4">List of Partners</h6>
        <button type="button" class="btn btn-dark-blue" style="height: 40px" (click)="handleAddPartner()">
            Add Partners
        </button>
    </div>

    <div class="container text-center" *ngIf="loading">
        <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <ng-container *ngIf="partnersList.length > 0 && !loading">
        <div class="container overflow-auto max-height-800">
            <accordion *ngIf="!loading" [isAnimated]="true" [closeOthers]="oneAtATime">
                <accordion-group *ngFor="
                        let item of partnersList
                            | paginate : { itemsPerPage: tableSize, currentPage: page, id: 'partnerList' }
                    " style="min-width: 1000px !important"
                    [panelClass]="item?.['expanded'] ? 'custom-accordion-expanded' : 'custom-accordion-collapsed'"
                    (isOpenChange)="handleIsOpenChange($event, item?.pk)">
                    <button
                        class="btn btn-link btn-block justify-content-between d-flex w-100 shadow-none align-items-center"
                        accordion-heading type="button">
                        <div class="pull-left float-left">
                            <div class="flex d-flex flex-row gap-1 align-items-center">
                                <a class="text-xs text-dark font-weight-bold m-0 p-0"
                                    [routerLink]="['/partner', item?.partner_id, 'information']">{{ item?.name }}</a>
                                <div class="d-flex" style="height: 30px">
                                    <div class="vr"></div>
                                </div>
                                <p class="text-xs text-dark font-weight-bold m-0 p-0">ID: {{ item?.partner_id }}</p>
                                <p class="text-xs text-dark font-weight-bold m-0 p-0">
                                    <i class="material-icons">location_on</i>
                                    {{ item?.address }}
                                </p>
                            </div>
                        </div>
                        <div class="float-right pull-right">
                            <div class="d-flex flex align-items-center gap-1">
                                <p class="text-xs text-dark font-weight-bold m-0 p-0">Total Grant Amount:</p>
                                <p class="text-xs text-dark m-0 p-0">
                                    {{ item?.['grand_total_amount'] | currency: 'USD' }}
                                </p>
                                <i class="material-icons text-dark">{{ item?.['expanded'] ? 'expand_less' :
                                    'expand_more'
                                    }}</i>
                            </div>
                        </div>
                    </button>
                    <div class="card text-start w-100 text-capitalize p-2">
                        <div class="card-body w-100 p-0">
                            <div class="row">
                                <div class="col-4">
                                    <p class="text-dark text-sm m-0 p-0">Grant Title</p>
                                </div>
                                <div class="col-2">
                                    <p class="text-dark text-sm m-0 p-0">Amount</p>
                                </div>
                                <div class="col-3">
                                    <p class="text-dark text-sm m-0 p-0">Status</p>
                                </div>
                                <div class="col-3">
                                    <p class="text-dark text-sm m-0 p-0">Donor Project</p>
                                </div>
                            </div>
                            <div class="w-100 border border-top-1 border-dark my-1"></div>
                            <div class="row my-1" *ngFor="let application of item?.applications ?? []">
                                <div class="col-4">
                                    <p class="text-dark text-sm m-0 p-0">
                                        {{ application?.project?.title }}
                                    </p>
                                </div>
                                <div class="col-2">
                                    <p class="text-dark text-sm m-0 p-0">
                                        {{
                                        application?.project?.project_proposal?.budget_request_usd
                                        | currency : 'USD'
                                        }}
                                    </p>
                                </div>
                                <div class="col-3">
                                    <p class="text-dark text-sm m-0 p-0">
                                        {{ application?.project?.status }}
                                    </p>
                                </div>
                                <div class="col-3">
                                    <p class="text-dark text-sm m-0 p-0">
                                        <!-- {{  application?.project?.donor }} -->
                                    </p>
                                </div>
                            </div>
                            <div class="row my-1" *ngIf="!item?.applications || item?.applications?.length === 0">
                                <p class="text-center">No applications found.</p>
                            </div>
                        </div>
                    </div>
                </accordion-group>
            </accordion>
        </div>
        <div class="d-flex justify-content-end my-3">
            <div>
                <select (change)="onTableSizeChange($event)" class="form-control form-control-sm pagination-select">
                    <option *ngFor="let size of tableSizes" [value]="size">
                        {{ size }}
                    </option>
                </select>
            </div>
            <pagination-controls (pageChange)="page = $event" id="partnerList"></pagination-controls>
        </div>
    </ng-container>

    <div *ngIf="partnersList?.length === 0 && !loading" class="text-center">
        <p class="w-100 font-weight-bold">No Partners found.</p>
    </div>
</div>