<div class="page-header align-items-start min-vh-100">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-4 col-md-8 col-12 mx-auto">
                <div class="card z-index-0 fadeIn3 fadeInBottom">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary border-radius-lg py-3 pe-1">
                            <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Sign in</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form role="form" class="text-start" [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label">Username</label>
                                <input
                                    type="text"
                                    class="form-control shadow-none"
                                    formControlName="username"
                                    [class]="{
                                        'is-invalid':
                                            f['username'].errors && (f['username'].dirty || f['username'].touched)
                                    }"
                                />

                                <div *ngIf="f['username'].errors" class="invalid-feedback">
                                    <div *ngIf="f['username'].errors['required']">Username is required</div>
                                </div>
                            </div>
                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label">Password</label>
                                <input
                                    type="password"
                                    class="form-control shadow-none"
                                    formControlName="password"
                                    [class]="{
                                        'is-invalid':
                                            f['password'].errors && (f['password'].dirty || f['password'].touched)
                                    }"
                                />

                                <div *ngIf="f['password'].errors" class="invalid-feedback">
                                    <div *ngIf="f['password'].errors['required']">Password is required</div>
                                    <div *ngIf="f['password'].errors['minlength']">
                                        Password must be at least 6 characters
                                    </div>
                                </div>
                            </div>
                            <div class="form-check form-switch d-flex align-items-center mb-3">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    formControlName="remember"
                                    id="rememberMe"
                                />
                                <label class="form-check-label mb-0 ms-3" for="rememberMe">Remember me</label>
                            </div>
                            <div class="text-center">
                                <button
                                    type="submit"
                                    class="btn bg-gradient-primary w-100 my-4 mb-2"
                                    [disabled]="isSubmitted"
                                >
                                    Sign in
                                </button>
                            </div>
                            <p class="mt-4 text-sm text-center">
                                <a
                                    href="javascript:;"
                                    [routerLink]="['/auth/forgot-password']"
                                    routerLinkActive="active"
                                    class="text-primary text-gradient font-weight-bold"
                                    >Forgot Password?</a
                                >
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
