<div class="container mt-5">
    <div class="title d-flex flex-row gap-2 align-items-center">
        <h5 class="text-dark">Final Approval</h5>
        <div class="vr"></div>
        <h5 class="text-dark text-light">Comments</h5>
        <button class="btn btn-info p-1 text-capitalize" style="background-color: #f98f38" (click)="export()"
            *ngIf="['comments', 'recommendation'].includes(permission.contract_finalization)">
            <i class="material-icons">download</i>
            Download comments
        </button>
    </div>

    <p class="text-dark p-0 m-0 my-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi exercitationem accusantium, quidem voluptatem
        cumque reiciendis facere, maxime illo minus sit, laborum amet veniam! Totam eveniet mollitia neque laboriosam,
        vitae delectus.
    </p>

    <div class="card my-3" *ngFor="let review of reviews; let i = index">
        <div class="card-header p-3" style="background-color: #034241">
            <div class="d-flex flex-column flex-md-row text-white justify-content-between align-items-md-center">
                <p class="m-0">{{ review.date_created | date : 'dd-MMM-YYYY' }} - {{ review.user.first_name }}
                    {{ review.user.last_name
                    }}</p>
                <div class="d-flex flex-column flex-md-row gap-1 align-items-md-center">

                    <button class="btn btn-icon-only btn-danger rounded-circle" (click)="delete(i)"
                        *ngIf="['comments', 'recommendation'].includes(permission.contract_finalization)">
                        <i class="material-icons text-xl">delete</i>
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="content">
                <div [class]="permission.contract_finalization == 'restricted' ? 'blur' : ''">
                    <p>
                        {{review.message}}
                    </p>
                </div>
                <div class="restricted" *ngIf="permission.contract_finalization == 'restricted'">
                    <h3><span class="badge badge-danger">Restricted</span></h3>
                </div>

                <div class="row mt-3 mb-3">
                    <div class="md-12" *ngFor="let attachment of review.documents; let j = index">
                        <a href="{{ attachment.path}}" target="_blank">{{attachment.original_name}}</a> <a
                            (click)="deleteAttachment(i, j, 'advisers_review')"
                            *ngIf="['comments', 'recommendation'].includes(permission.contract_finalization)"><i
                                class="fa fa-times text-danger mx-2 cursor-pointer"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" *ngIf="['comments', 'recommendation'].includes(permission.contract_finalization)">
        <div class="card-body bg-gray-300">
            <div class="card my-3">
                <div class="card-header p-3" style="background-color: #034241">
                    <div class="d-flex flex-column flex-md-row text-white gap-1">
                        <p class="m-0">{{dateNow | date : 'dd-MMM-YYYY'}} - {{user.first_name}} {{user.last_name}}</p>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="form" class="text-start" (ngSubmit)="submit()">
                        <div class="content my-2">
                            <textarea type="text" rows="4" class="form-control border rounded-1 p-2 bg-gray-300"
                                formControlName="message" [ngClass]="{ 'is-invalid': submitted && f['message'].errors }"
                                required></textarea>
                            <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
                                <div *ngIf="f['message'].errors['required']">Review is required</div>
                            </div>
                        </div>

                        <div class="row mt-3 mb-3">
                            <div class="md-12" *ngFor="let attachment of attachments; let i = index">
                                <a href="{{ attachment.path}}" target="_blank">{{attachment.original_name}}</a> <a
                                    (click)="attachments.splice(i, 1)"><i
                                        class="fa fa-times text-danger mx-2 cursor-pointer"></i></a>
                            </div>
                        </div>

                        <div class="action-container d-flex flex-column flex-md-row justify-content-md-between">
                            <button class="btn btn-white" type="button" (click)="uploadFiles()">
                                <div class="d-flex flex-column text-start">
                                    <p class="p-0 m-0 text-sm text-dark font-weight-bold">Attach Documents</p>
                                    <p class="p-0 m-0 text-sm text-info font-weight-bold">
                                        <span class="icon icon-sm">
                                            <i class="material-icons">add</i>
                                        </span>
                                        Attach File
                                    </p>
                                </div>
                            </button>

                            <div class="d-flex flex-column flex-md-row flex-wrap gap-lg-2">
                                <button class="btn btn-dark p-1" style="min-width: 150px; max-height: 30px"
                                    [disabled]="submitted">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end" *ngIf="['recommendation'].includes(permission.contract_finalization)">
        <div>
            <h4 class="text-dark">Recommendation</h4>
            <ng-select style="--border-color: #f98f38" class="custom-recommendation-select"
                [items]="['Approved for Next Stage', 'Rejected', 'Cancelled']"
                [placeholder]="'Choose your recommendation'" (change)="recommendationOnChange($event)"
                [(ngModel)]="recommendation">
            </ng-select>
        </div>
    </div>
</div>