<div>
    <div class="modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{title}}</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-link-generator (callback)="saved($event)"></app-link-generator>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark-blue" (click)="submit()" [disabled]="loading">
                    {{saveBtnName}}
                    <div class="spinner-border spinner-border-sm" role="status" *ngIf="loading">
                        <span class="sr-only">Loading...</span>
                    </div>
                </button>
                <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
            </div>
        </div>
    </div>
</div>