<div class="modal-header bg-gray-300">
    <h4 class="modal-title pull-left text-dark">Fiscal Sponsor Bank Details</h4>
    <button type="button" class="btn btn-default pull-right" aria-label="Close" (click)="this.bsModalRef.hide()">
        <i class="material-icons">close</i>
    </button>
</div>

<form>
    <div class="modal-body bg-gray-300">
        <div class="row gap-0 align-items-center my-3">
            <label class="col-4 text-dark text-sm px-2 m-0 font-weight-bold">If none, is there a Fiscal Sponsor?</label>
            <div class="col-8">
                <select class="form-select bg-white p-1 border border-1 rounded w-20">
                    <option selected>Yes</option>
                    <option [value]="false">No</option>
                </select>
            </div>
        </div>

        <div class="row gap-0 align-items-center my-3">
            <label class="col-8 text-dark text-sm px-2 m-0 font-weight-bold">If yes, Fiscal Sponsor details:</label>
        </div>
        <div class="row gap-0 align-items-center my-3">
            <label class="col-4 text-dark text-sm px-2 m-0 font-weight-bold">Name of the Fiscal Sponsor</label>
            <div class="col-8">
                <input type="text" class="form-control border rounded-1 p-1 bg-white" [value]="currentApplication?.application_fiscal_sponsor?.name"/>
            </div>
        </div>
        <div class="row gap-0 align-items-center my-3">
            <label class="col-4 text-dark text-sm px-2 m-0 font-weight-bold">Address</label>
            <div class="col-8">
                <input type="text" class="form-control border rounded-1 p-1 bg-white" [value]="currentApplication?.application_fiscal_sponsor?.address"/>
            </div>
        </div>
        <div class="row gap-0 align-items-center my-3">
            <label class="col-4 text-dark text-sm px-2 m-0 font-weight-bold">Head of Fiscal Sponsor organization</label>
            <div class="col-8">
                <input type="text" class="form-control border rounded-1 p-1 bg-white" [value]="currentApplication?.application_fiscal_sponsor?.head"/>
            </div>
        </div>
        <div class="row gap-0 align-items-center my-3">
            <label class="col-4 text-dark text-sm px-2 m-0 font-weight-bold">Point person name</label>
            <div class="col-8">
                <input type="text" class="form-control border rounded-1 p-1 bg-white" [value]="currentApplication?.application_fiscal_sponsor?.person_in_charge"/>
            </div>
        </div>
        <div class="row gap-0 align-items-center my-3">
            <label class="col-4 text-dark text-sm px-2 m-0 font-weight-bold">Contact Number</label>
            <div class="col-8">
                <input type="text" class="form-control border rounded-1 p-1 bg-white" [value]="currentApplication?.application_fiscal_sponsor?.contact_number"/>
            </div>
        </div>
        <div class="row gap-0 align-items-center my-3">
            <label class="col-4 text-dark text-sm px-2 m-0 font-weight-bold">Complete address</label>
            <div class="col-8">
                <input type="text" class="form-control border rounded-1 p-1 bg-white" [value]="currentApplication?.application_fiscal_sponsor?.address"/>
            </div>
        </div>

        <div class="row gap-0 align-items-center my-3">
            <label class="col-8 text-dark text-sm px-2 m-0 font-weight-bold">Fiscal Sponsor Details</label>
        </div>
        <div class="row gap-0 align-items-center my-3">
            <label class="col-4 text-dark text-sm px-2 m-0 font-weight-bold">Account name</label>
            <div class="col-8">
                <input type="text" class="form-control border rounded-1 p-1 bg-white"[value]="currentApplication?.application_fiscal_sponsor?.bank_account_name" />
            </div>
        </div>
        <div class="row gap-0 align-items-center my-3">
            <label class="col-4 text-dark text-sm px-2 m-0 font-weight-bold">Account number</label>
            <div class="col-8">
                <input type="text" class="form-control border rounded-1 p-1 bg-white" [value]="currentApplication?.application_fiscal_sponsor?.account_number"/>
            </div>
        </div>
        <div class="row gap-0 align-items-center my-3">
            <label class="col-4 text-dark text-sm px-2 m-0 font-weight-bold">Bank name and branch</label>
            <div class="col-8">
                <input type="text" class="form-control border rounded-1 p-1 bg-white" [value]="currentApplication?.application_fiscal_sponsor?.bank_address"/>
            </div>
        </div>
        <div class="row gap-0 align-items-center my-3">
            <label class="col-4 text-dark text-sm px-2 m-0 font-weight-bold">Bank complete address</label>
            <div class="col-8">
                <input type="text" class="form-control border rounded-1 p-1 bg-white" [value]="currentApplication?.application_fiscal_sponsor?.bank_address"/>
            </div>
        </div>
        <div class="row gap-0 align-items-center my-3">
            <label class="col-4 text-dark text-sm px-2 m-0 font-weight-bold">SWIFT code</label>
            <div class="col-8">
                <input type="text" class="form-control border rounded-1 p-1 bg-white" />
            </div>
        </div>
        <div class="row gap-0 align-items-center my-3">
            <label class="col-4 text-dark text-sm px-2 m-0 font-weight-bold"
                >(Upload here signed agreement between Grantee-Partner and Fiscal Sponsor)</label
            >
            <div class="input-group custom-file-input col-8">
                <input type="file" class="form-control border rounded-1 bg-white" />
                <label class="input-group-text custom-file-icon-container">
                    <i class="material-icons small">upload</i>
                </label>
            </div>
        </div>
    </div>

    <div class="modal-footer bg-gray-300">
        <button type="button" class="btn btn-white" (click)="this.bsModalRef.hide()">Cancel</button>
        <button type="button" class="btn btn-dark-blue" (click)="this.bsModalRef.hide()">Save</button>
    </div>
</form>
