<main>
    <div class="container">
        <div class="page-title">
            <h4 class="text-dark">Grant Progress</h4>
        </div>

        <div class="container text-center" *ngIf="loading">
            <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <ng-container *ngIf="!loading">
            <div class="my-1">
                <div class="d-flex justify-content-between flex-wrap">
                    <div>
                        <h5 class="text-secondary">Project</h5>
                        <h3 class="text-dark">{{ project?.title }}</h3>
                    </div>
                    <div>
                        <h5 class="text-secondary">Grant Number/Code</h5>
                        <h3 class="text-dark">{{ project?.application?.number }}</h3>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body bg-gray-300">
                    <div class="d-flex flex-wrap justify-content-end">
                        <button class="btn btn-icon-only" (click)="handleOnEdit($event, 'topInformation')"
                            *ngIf="['comments', 'recommendation'].includes(permission.contract_finalization)">
                            <i class="material-icons">edit</i>
                        </button>
                    </div>

                    <div class="row">
                        <div class="col-md-4 border-divider">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="text-sm font-weight-bold text-dark">Partner's Name</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-sm font-weight-bold text-secondary">
                                        {{ project?.partner?.name }}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="text-sm font-weight-bold text-dark">Country</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-sm font-weight-bold text-secondary">
                                        {{ project?.partner?.organization?.country?.name }}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="text-sm font-weight-bold text-dark">Grant Amount</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-sm font-weight-bold text-secondary">
                                        {{ project?.project_proposal?.budget_request_usd | number }} USD
                                        <br />
                                        {{ project?.project_proposal?.budget_request_other | number }}
                                        {{
                                        getOtherCurrency(
                                        project?.project_proposal?.budget_request_other_currency ?? ''
                                        )
                                        }}
                                    </p>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-12">
                                    <div class="form-check m-0 p-1">
                                        <input id="financial_management_training" class="form-check-input"
                                            type="checkbox" name="financial_management_training"
                                            value="Financial Management Training/Coaching"
                                            [checked]="project?.financial_management_training"
                                            (change)="toggleFinancialManagementTraining()"
                                            [disabled]="permission.contract_finalization == 'restricted' || permission.contract_finalization == 'read-only'" />
                                        <label class="form-check-label text-dark font-weight-bold"
                                            for="financial_management_training">Financial Management
                                            Training/Coaching</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 border-divider">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="text-sm font-weight-bold text-dark">Overall Grant Status</p>
                                </div>
                                <div class="col-md-6">
                                    <span
                                        *ngIf="['restricted', 'read-only'].includes(permission.contract_finalization)">
                                        {{project?.overall_grant_status ?? ''}}
                                    </span>
                                    <select
                                        *ngIf="['comments', 'recommendation'].includes(permission.contract_finalization)"
                                        class="form-select px-3 border border-1 ronded-1 text-secondary text-md font-weight-bold"
                                        style="border: solid 1px grey !important; height: 35px; font-size: 13px !important; padding-top: 6px;"
                                        [value]="project?.overall_grant_status ?? ''"
                                        (change)="setOverallStatus($event, project); $event.stopPropagation()">
                                        <option value="">--</option>
                                        <option value="Under Review">Under Review</option>
                                        <option value="Approved">Approved</option>
                                        <option value="For Follow Up">For Follow Up</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="text-sm font-weight-bold text-dark">Grant Type and Function</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-sm font-weight-bold text-secondary">{{ project?.type?.name }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="text-sm font-weight-bold text-dark">Duration</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-sm font-weight-bold text-secondary">
                                        {{ project?.duration }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="flex-row flex-wrap justify-content-between">
                                        <p class="text-sm font-weight-bold text-dark">Signed Contract</p>
                                    </div>
                                </div>
                                <div class="row mt-3 mb-3">
                                    <div class="md-12" *ngFor="let attachment of attachments; let i = index">
                                        <a href="{{ SERVER + '/' + attachment.path }}" target="_blank">{{
                                            attachment.original_name
                                            }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <p class="text-sm font-weight-bold text-dark">Objective</p>
                        </div>
                        <div class="col-md-10">
                            <p class="text-sm font-weight-bold text-secondary">
                                {{ project?.objective }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="my-1">
                <accordion [isAnimated]="true">
                    <accordion-group (isOpenChange)="handleIsOpenChange($event, 'assessment')" [panelClass]="
                            currentExpanded.has('assessment')
                                ? 'custom-accordion-expanded w-100'
                                : 'custom-accordion-collapsed w-100'
                        " class="my-3">
                        <div class="flex d-flex justify-content-between align-items-center" accordion-heading>
                            <div class="pull-left float-left">
                                <p class="text-dark text-sm font-weight-bold m-0 p-0">Assessment</p>
                            </div>

                            <div class="pull-right float-right">
                                <div class="d-flex flex flex-row">
                                    <button class="btn btn-icon-only">
                                        <i class="material-icons">{{
                                            currentExpanded.has('assessment') ? 'expand_less' : 'expand_more'
                                            }}</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <app-assessment [project]="project"></app-assessment>
                    </accordion-group>

                    <accordion-group (isOpenChange)="handleIsOpenChange($event, 'projectInformation')" [panelClass]="
                            currentExpanded.has('projectInformation')
                                ? 'custom-accordion-expanded w-100'
                                : 'custom-accordion-collapsed w-100'
                        " class="my-3">
                        <div class="flex d-flex justify-content-between align-items-center" accordion-heading>
                            <div class="pull-left float-left">
                                <p class="text-dark text-sm font-weight-bold m-0 p-0">Project Information</p>
                            </div>

                            <div class="pull-right float-right">
                                <div class="d-flex flex flex-row">
                                    <button class="btn btn-icon-only"
                                        (click)="handleOnEdit($event, 'projectInformation')" *ngIf="
                                            ['comments', 'recommendation'].includes(permission.contract_finalization)
                                        ">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button class="btn btn-icon-only">
                                        <i class="material-icons">{{
                                            currentExpanded.has('projectInformation') ? 'expand_less' : 'expand_more'
                                            }}</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <app-project-information [project]="project"></app-project-information>
                    </accordion-group>

                    <accordion-group (isOpenChange)="handleIsOpenChange($event, 'activitiesAndTimeline')" [panelClass]="
                            currentExpanded.has('activitiesAndTimeline')
                                ? 'custom-accordion-expanded w-100'
                                : 'custom-accordion-collapsed w-100'
                        " class="my-3">
                        <div class="flex d-flex justify-content-between align-items-center" accordion-heading>
                            <div class="pull-left float-left">
                                <p class="text-dark text-sm font-weight-bold m-0 p-0">Activities and Timeline</p>
                            </div>

                            <div class="pull-right float-right">
                                <div class="d-flex flex flex-row">
                                    <button class="btn btn-icon-only"
                                        (click)="handleOnEdit($event, 'activitiesAndTimeline')" *ngIf="
                                            ['comments', 'recommendation'].includes(permission.contract_finalization)
                                        ">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button class="btn btn-icon-only">
                                        <i class="material-icons">{{
                                            currentExpanded.has('activitiesAndTimeline') ? 'expand_less' : 'expand_more'
                                            }}</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <app-activities-timeline [project]="project"></app-activities-timeline>
                    </accordion-group>

                    <accordion-group (isOpenChange)="handleIsOpenChange($event, 'reviews')" [panelClass]="
                            currentExpanded.has('reviews')
                                ? 'custom-accordion-expanded w-100'
                                : 'custom-accordion-collapsed w-100'
                        " class="my-3">
                        <div class="flex d-flex justify-content-between align-items-center" accordion-heading>
                            <div class="pull-left float-left">
                                <p class="text-dark text-sm font-weight-bold m-0 p-0">Reviews</p>
                            </div>

                            <div class="pull-right float-right">
                                <div class="d-flex flex flex-row">
                                    <button class="btn btn-icon-only">
                                        <i class="material-icons">{{
                                            currentExpanded.has('reviews') ? 'expand_less' : 'expand_more'
                                            }}</i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <app-review [project]="project" (callback)="fetch()"></app-review>
                    </accordion-group>
                </accordion>
            </div>

            <div class="grant-tab-layout-container">
                <app-grant-tab-layout [project]="project"></app-grant-tab-layout>
            </div>
        </ng-container>
    </div>
</main>