<div class="bg-gray-200">
    <main class="main-content  mt-0">
        <div class="page-header align-items-start min-vh-100"
            style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');">
            <span class="mask bg-gradient-dark opacity-6"></span>
            <div class="container my-auto">
                <div class="row">
                    <div class="col-lg-4 col-md-8 col-12 mx-auto">
                        <div class="card z-index-0 fadeIn3 fadeInBottom">
                            <div class="card-header text-center">
                                <img src="assets/img/brand/logo2.png" alt="" style="width: 100%;" />
                            </div>
                            <div class="card-body">
                                <p class="login-box-msg">Enter your registered email address and we'll send a link where
                                    you can reset
                                    your password.</p>
                                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                    <div class="input-group mb-3">
                                        <input type="email" class="form-control" placeholder="Email"
                                            formControlName="email"
                                            [ngClass]="{ 'is-invalid': f['email'].errors && (f['email'].dirty || f['email'].touched) }">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-envelope"></span>
                                            </div>
                                        </div>
                                        <div *ngIf="f['email'].errors" class="invalid-feedback">
                                            <div *ngIf="f['email'].errors['required']">Email Address is required</div>
                                            <div *ngIf="f['email'].errors['email']">Email Address must be a valid email
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-center">
                                            <button type="submit" class="btn btn-primary btn-block"
                                                [disabled]="isSubmitted">Reset my
                                                password</button>
                                        </div>
                                    </div>
                                </form>
                                <p class="mt-4 text-sm text-center">
                                    <a href="javascript:;" [routerLink]="['/auth']" routerLinkActive="active"
                                        class="text-primary text-gradient font-weight-bold">Back to Login</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer position-absolute bottom-2 py-2 w-100">
                <app-footer></app-footer>
            </footer>
        </div>
    </main>
</div>