.img-container {
    height: 70px;
    width: 70px;
    position: relative;
    top: 40px;
    right: 15px;
    z-index: 1;
    background-color: white;
    border-radius: 50%;

    img {
        border: 4px solid;
        border-color: black;
        padding: 10px;
    }
}

::ng-deep .popover-body {
    width: 200px !important;
    z-index: 9999999;
}

.my-custom-class {
    background: aliceblue;
    font-size: 125%;
}

.my-custom-class .arrow::after {
    border-top-color: aliceblue;
}