<div class="container">
    <div class="card my-3">
        <div class="card-body">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-12 col-md-5">
                    <p class="text-dark font-weight-bold p-0 m-0">Challenges</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-dark font-weight-bold p-0 m-0">How it was addressed/changes in the plan</p>
                </div>
            </div>
            <div class="row my-3 border-top p-2">
                <div class="col-1">1</div>
                <div class="col-12 col-md-5">
                    <p class="text-dark p-0 m-0">Lorem ipsum dolor sit amet consectetur?</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-dark p-0 m-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem minima quis perspiciatis vel exercitationem odio doloribus quam. Ipsum, delectus dolores eum alias commodi, molestiae expedita quas, eveniet architecto nam iusto.</p>
                </div>
            </div>
        </div>
    </div>


    <div class="card my-3">
        <div class="card-body">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-12 col-md-5">
                    <p class="text-dark font-weight-bold p-0 m-0">Lessons</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-dark font-weight-bold p-0 m-0">Recommendations</p>
                </div>
            </div>
            <div class="row my-3 border-top p-2">
                <div class="col-1">1</div>
                <div class="col-12 col-md-5">
                    <p class="text-dark p-0 m-0">Lorem ipsum dolor sit amet consectetur?</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-dark p-0 m-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem minima quis perspiciatis vel exercitationem odio doloribus quam. Ipsum, delectus dolores eum alias commodi, molestiae expedita quas, eveniet architecto nam iusto.</p>
                </div>
            </div>
        </div>
    </div>
</div>
