<div class="modal-header bg-gray-300">
    <h4 class="modal-title pull-left text-dark">{{ this.modalTitle }}</h4>
    <button type="button" class="btn btn-default pull-right" aria-label="Close" (click)="this.bsModalRef.hide()">
        <i class="material-icons">close</i>
    </button>
</div>

<div>
    <ng-container *ngIf="section === 'topInformation'">
        <app-top-information [project]="project"></app-top-information>
    </ng-container>

    <ng-container *ngIf="section === 'projectInformation'">
        <app-proj-info-view [project]="project" [provinces]="provinces" [countries]="countries"
            [projectSite]="projectSite"></app-proj-info-view>
    </ng-container>

    <ng-container *ngIf="section === 'activitiesAndTimeline'">
        <app-activities-and-timeline-view [project]="project"></app-activities-and-timeline-view>
    </ng-container>

    <ng-container *ngIf="section === 'assessment'">
        <app-assessment-view [project]="project" [projectAssessment]="projectAssessment"></app-assessment-view>
    </ng-container>
</div>