<div class="my-5">
    <div class="title">
        <h5 class="text-dark">Medium Grants</h5>
    </div>
    <div class="card">
        <div class="card-body bg-gray-300">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold">Additional organizational information and requirements</p>
                    <button class="btn btn-white">
                        <div class="d-flex flex-column text-start">
                            <p class="p-0 m-0 text-sm text-dark font-weight-bold">Attach Documents</p>
                            <p class="p-0 m-0 text-sm text-info font-weight-bold">
                                <span class="icon icon-sm">
                                    <i class="material-icons">add</i>
                                </span>
                                Attach File
                            </p>
                        </div>
                    </button>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold">Management Capacity Assessment</p>
                    <button class="btn btn-white">
                        <div class="d-flex flex-column text-start">
                            <p class="p-0 m-0 text-sm text-dark font-weight-bold">Attach Documents</p>
                            <p class="p-0 m-0 text-sm text-info font-weight-bold">
                                <span class="icon icon-sm">
                                    <i class="material-icons">add</i>
                                </span>
                                Attach File
                            </p>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
