<div class="content pt-5 bg-gray-200 min-vh-100">
    <div class="custom-banner shadow">
        <h4 class="text-white p-4">Grants Application</h4>
    </div>
    <div class="container py-4">
        <app-proponent-information *ngIf="step === 1" ></app-proponent-information>
        <app-organization-profile *ngIf="step === 2"></app-organization-profile>
        <app-project-information *ngIf="step === 3"></app-project-information>
        <app-proposed-activities-timelines *ngIf="step === 4"></app-proposed-activities-timelines>
        <app-non-profit-equivalency-determination *ngIf="step === 5"></app-non-profit-equivalency-determination>
        <app-fiscal-sponsor-information *ngIf="step === 6"></app-fiscal-sponsor-information>
        <app-contact-info-references *ngIf="step === 7"></app-contact-info-references>
    </div>
</div>
