<div class="main-content">
    <form [formGroup]="form" (ngSubmit)="handleNext()">
        <div class="row">
            <div class="col-12 col-lg-6 mb-3">
                <div class="card bg-gray-100">
                    <div class="card-body">
                        <h5 class="card-title">Fiscal Sponsor Information</h5>

                        <div class="form-group my-3">
                            <label class="font-weight-bold text-dark">Complete Name of Fiscal Sponsor</label>
                            <input formControlName="name" type="text" class="form-control border rounded-1 p-1" />
                        </div>

                        <div class="form-group my-3">
                            <label class="font-weight-bold text-dark">Address of Fiscal Sponsor</label>
                            <input formControlName="address" type="text" class="form-control border rounded-1 p-1" />
                        </div>

                        <div class="form-group my-3">
                            <label class="font-weight-bold text-dark">Head of Organization</label>
                            <input formControlName="head" type="text" class="form-control border rounded-1 p-1" />
                        </div>

                        <div class="form-group my-3">
                            <label class="font-weight-bold text-dark">Person-in-Charge</label>
                            <input
                                formControlName="person_in_charge"
                                type="text"
                                class="form-control border rounded-1 p-1"
                            />
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group my-3">
                                    <label class="font-weight-bold text-dark">Contact number</label>
                                    <input
                                        formControlName="contact_number"
                                        type="tel"
                                        class="form-control border rounded-1 p-1"
                                    />
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group my-3">
                                    <label class="font-weight-bold text-dark">Email Address</label>
                                    <input
                                        formControlName="email_address"
                                        type="email"
                                        class="form-control border rounded-1 p-1"
                                        [ngClass]="{ 'is-invalid': submitted && f['email_address'].errors }"
                                    />
                                    <div *ngIf="submitted && f['email_address'].errors" class="invalid-feedback">
                                        <div *ngIf="f['email_address'].errors['email']">Invalid email address</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group my-3">
                            <label class="font-weight-bold text-dark">Bank Account Name</label>
                            <input
                                formControlName="bank_account_name"
                                type="text"
                                class="form-control border rounded-1 p-1"
                            />
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group my-3">
                                    <label class="font-weight-bold text-dark">Account Number</label>
                                    <input
                                        formControlName="account_number"
                                        type="text"
                                        class="form-control border rounded-1 p-1"
                                    />
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group my-3">
                                    <label class="font-weight-bold text-dark">Name of Bank</label>
                                    <input
                                        formControlName="bank_name"
                                        type="text"
                                        class="form-control border rounded-1 p-1"
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group my-3">
                                    <label class="font-weight-bold text-dark">Bank Branch</label>
                                    <input
                                        formControlName="bank_branch"
                                        type="text"
                                        class="form-control border rounded-1 p-1"
                                    />
                                </div>
                            </div>

                            <div class="col-12 col-md-6">
                                <div class="form-group my-3">
                                    <label class="font-weight-bold text-dark">Bank Address</label>
                                    <input
                                        formControlName="bank_address"
                                        type="text"
                                        class="form-control border rounded-1 p-1"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <app-attach-documents></app-attach-documents>
                <button class="btn bg-info text-white w-100 text-capitalize my-3" type="button" (click)="handleReset()">Reset Form</button>
            </div>
        </div>

        <div class="d-flex justify-content-center my-3">
            <button class="btn btn-white text-capitalize m-1" (click)="handleBack()" type="button">Back</button>
            <button class="btn btn-dark-blue text-capitalize m-1">Next</button>
        </div>
    </form>
</div>
