<div class="my-5">
    <div class="title d-flex flex-row gap-2 align-items-center">
        <h5 class="text-dark">Grants Team Review</h5>
        <div class="vr"></div>
        <h5 class="text-dark text-light">Comments</h5>
        <button class="btn btn-info p-1 text-capitalize" style="background-color: #f98f38">
            <i class="material-icons">download</i>
            Download comments
        </button>
    </div>

    <div class="card my-2">
        <div class="card-body bg-gray-300 p-2">
            <p class="font-weight-bold text-sm m-0">
                Review of proposal, documents submitted and organization, information
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-body bg-gray-300">

            <div class="card my-3" *ngFor="let review of reviews.grants_team_review; let i = index">
                <div class="card-header p-3" style="background-color: #f98f38">
                    <div
                        class="d-flex flex-column flex-md-row text-white justify-content-between align-items-md-center">
                        <p class="m-0">July 5, 2023 - Jane Doe</p>
                        <div class="d-flex flex-column flex-md-row gap-1 align-items-md-center">
                            <p class="m-0" *ngIf="review.flag == 'needs_resolution'">
                                Flag: Needs resolution
                                <span class="badge text-bg-danger text-white">Not Yet Started</span>
                            </p>

                            <p class="m-0" *ngIf="review.flag == 'grantee'">
                                Flag: Grantee
                                <span class="badge text-bg-success text-white">Marked as Resolved</span>
                            </p>
                            <button class="btn btn-icon-only btn-danger rounded-circle">
                                <i class="material-icons text-xl">delete</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="content">
                        <p>
                            {{review.message}}
                        </p>

                        <div class="row mt-3 mb-3">
                            <div class="md-12" *ngFor="let attachment of review.documents; let i = index">
                                <a href="javascript:;">{{attachment.original_name}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-white p-1">Mark as Resolved</button>
                    </div>
                    <!-- <div class="restricted">
                        <div class="position-relative">
                            <div style="filter: blur(2px)">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, error, corporis eos
                                minima ratione placeat explicabo ullam iure dolorum doloremque beatae facere, voluptatem
                                obcaecati dicta officia sed atque quas sequi?
                            </div>
                            <div class="position-absolute"
                                style="top: 50%; left: 50%; transform: translate(-50%, -50%)">
                                <span class="badge text-bg-danger text-white text-sm">
                                    <i class="material-icons position-relative" style="top: 4px">lock</i>
                                    Restricted
                                </span>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>

            <div class="card my-3">
                <div class="card-header p-3" style="background-color: #f98f38">
                    <div class="d-flex flex-column flex-md-row text-white gap-1">
                        <p class="m-0">{{dateNow}} - {{user.first_name}} {{user.last_name}}</p>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="form" class="text-start" (ngSubmit)="submit()">
                        <div class="content my-2">
                            <textarea type="text" rows="4" class="form-control border rounded-1 p-2 bg-gray-300"
                                formControlName="message" [ngClass]="{ 'is-invalid': submitted && f['message'].errors }"
                                required></textarea>
                            <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
                                <div *ngIf="f['message'].errors['required']">Review is required</div>
                            </div>
                        </div>

                        <div class="row mt-3 mb-3">
                            <div class="md-12" *ngFor="let attachment of attachments; let i = index">
                                <a href="javascript:;">{{attachment.original_name}}</a>
                            </div>
                        </div>

                        <div class="action-container d-flex flex-column flex-md-row justify-content-md-between">
                            <button class="btn btn-white" type="button" (click)="uploadFiles()">
                                <div class="d-flex flex-column text-start">
                                    <p class="p-0 m-0 text-sm text-dark font-weight-bold">Attach Documents</p>
                                    <p class="p-0 m-0 text-sm text-info font-weight-bold">
                                        <span class="icon icon-sm">
                                            <i class="material-icons">add</i>
                                        </span>
                                        Attach File
                                    </p>
                                </div>
                            </button>

                            <div class="d-flex flex-column flex-md-row flex-wrap gap-lg-2">
                                <div class="form-check m-0 p-1">
                                    <label class="form-check-label text-dark font-weight-bold">Flag:</label>
                                </div>
                                <div class="form-check m-0 p-1">
                                    <input id="radio-needs-resolution" class="form-check-input" type="radio" name="flag"
                                        formControlName="flag" value="needs_resolution" />
                                    <label class="form-check-label text-dark font-weight-bold"
                                        for="radio-needs-resolution">Needs Resolution</label>
                                </div>
                                <div class="form-check m-0 p-1">
                                    <input id="radio-grantee" class="form-check-input" type="radio" name="flag"
                                        formControlName="flag" value="grantee" />
                                    <label class="form-check-label text-dark font-weight-bold"
                                        for="radio-grantee">Grantee</label>
                                </div>
                                <button class="btn btn-dark p-1" style="min-width: 150px; max-height: 30px"
                                    [disabled]="submitted">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <div>
                    <h4 class="text-dark">Recommendation</h4>
                    <ng-select style="--border-color: #f98f38" class="custom-recommendation-select"
                        [items]="['Approved for Next Stage', 'Rejected', 'Cancelled']"
                        [placeholder]="'Choose your recommendation'">
                    </ng-select>
                </div>
            </div>
        </div>
    </div>
</div>