<div class="card bg-gray-100">
    <div class="card-body">
        <h5 class="card-title">Attach Documents</h5>
        <h6 class="card-text">
            Instructions: You may wish to attach relevant documents such as: Organization Registration, Additional
            organization information or brochures; others
        </h6>

        <div class="row mt-3 mb-3">
            <div class="md-12" *ngFor="let attachment of attachments; let i = index">
                <a href="{{SERVER + '/' + attachment.path}}" target="_blank">{{attachment.original_name}}</a>
            </div>
        </div>

        <button type="button" class="btn p-2 text-dark-blue" (click)="uploadFiles()">
            <span class="icon icon-sm"><i class="material-icons">add</i></span>
            Attach File
        </button>
    </div>
</div>