<div class="card bg-gray-100">
    <div class="card-body">
        <h5 class="card-title">Attach Documents</h5>
        <div *ngIf="page == 'Proposed activities and timeline'">
            <h6 class="card-text">Instructions: Budget Breakdown</h6>
            <a href="/assets/public/Samdhana_Budget_Breakdown_template.csv" target="_blank"
                style="color: blue;">download Samdhana
                template</a>
            <h6 class="card-text mt-3">
                You may also attach a Gantt chart or more detailed description of activities as you wish
            </h6>
        </div>
        <div *ngIf="page != 'Proposed activities and timeline'">
            <h6 class="card-text">
                Instructions: You may wish to attach relevant documents such as: Organization Registration, Additional
                organization information or brochures; others
            </h6>
        </div>


        <div class="row mt-3 mb-3">
            <div class="md-12" *ngFor="let attachment of attachments; let i = index">
                <a href="{{SERVER + '/' + attachment.path}}" target="_blank">{{attachment.original_name}}</a> <a
                    (click)="delete(i)"><i class="fa fa-times text-danger mx-2 cursor-pointer"></i></a>
            </div>
        </div>

        <button type="button" class="btn p-2 text-dark-blue" (click)="uploadFiles()">
            <span class="icon icon-sm"><i class="material-icons">add</i></span>
            Attach File
        </button>
    </div>
</div>