<div class="row">
  <div class="col-12 col-lg-6 mb-3">
    <div class="card bg-gray-100">
      <div class="card-body">
        <h5 class="card-title">Non-Profit Equivalency Determination</h5>
        <form class="my-3">
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-group my-3">
                <label class="font-weight-bold text-dark">Your Organization was formed*</label>
                <app-select [arr]="['2000', '2001', '2002', '2003', '2004']"></app-select>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group my-3">
                <label class="font-weight-bold text-dark">Legal Registration</label>
                <div class="input-group custom-file-input">
                  <input type="file" class="form-control border rounded-1" />
                  <label class="input-group-text custom-file-icon-container">
                    <i class="material-icons small">upload</i>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <label class="font-weight-bold text-dark">Financial situation last year</label>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <div class="input-group">
                  <input type="number" class="form-control border border-end-0 rounded-1 p-1" />
                  <div class="border border-start-0 border-end-1 p-1 text-sm">USD</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <app-input-dropdown
                  [data]="availableCurrencies"
                  [defaultSelected]="availableCurrencies.at(0)?.key"
                ></app-input-dropdown>
              </div>
            </div>
          </div>

          <div class="form-group my-3">
            <label class="font-weight-bold text-dark">Source of Funds*</label>
            <input type="text" class="form-control border rounded-1 p-1" required />
          </div>

          <div class="row">
            <label class="font-weight-bold text-dark">Financial situation this year</label>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <div class="input-group">
                  <input type="number" class="form-control border border-end-0 rounded-1 p-1" />
                  <div class="border border-start-0 border-end-1 p-1 text-sm">USD</div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="form-group">
                <app-input-dropdown
                  [data]="availableCurrencies"
                  [defaultSelected]="availableCurrencies.at(0)?.key"
                ></app-input-dropdown>
              </div>
            </div>
          </div>

          <div class="form-group my-3">
            <label class="font-weight-bold text-dark">Source of Funds*</label>
            <input type="text" class="form-control border rounded-1 p-1" required />
          </div>

          <div class="form-group my-3">
            <label class="font-weight-bold text-dark">Officers of the Organization or Community Leaders*</label>
            <textarea type="text" rows="5" class="form-control border rounded-1 p-2" style="resize: none"></textarea>
          </div>

          <div class="form-group my-3">
            <label class="font-weight-bold text-dark">Name of members of the Board of the government body*</label>
            <textarea
              type="text"
              rows="5"
              class="form-control border rounded-1 p-2"
              style="resize: none"
              required
            ></textarea>
          </div>

          <div class="form-group my-3">
            <label class="font-weight-bold text-dark">Website of Project/Organization</label>
            <input type="text" class="form-control border rounded-1 p-1" />
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6 mb-3">
    <button class="btn bg-info text-white w-100 text-capitalize my-2">Reset Form</button>
  </div>

  <div class="col-12 col-lg-6 mb-3">
    <div class="card bg-gray-100">
      <div class="card-body">
        <h5 class="card-title">Your Organization is operated exclusively for*</h5>
        <form class="my-3">
          <div class="row">
            <div class="form-check col-12 col-md-6 col-lg-4">
              <input class="form-check-input" type="checkbox" />
              <label class="form-check-label">charitable</label>
            </div>
            <div class="form-check col-12 col-md-6 col-lg-4">
              <input class="form-check-input" type="checkbox" />
              <label class="form-check-label">cultural</label>
            </div>
            <div class="form-check col-12 col-md-6 col-lg-4">
              <input class="form-check-input" type="checkbox" />
              <label class="form-check-label">educational purpose</label>
            </div>
            <div class="form-check col-12 col-md-6 col-lg-4">
              <input class="form-check-input" type="checkbox" />
              <label class="form-check-label">literacy</label>
            </div>
            <div class="form-check col-12 col-md-6 col-lg-4">
              <input class="form-check-input" type="checkbox" />
              <label class="form-check-label">religious</label>
            </div>
            <div class="form-check col-12 col-md-6 col-lg-4">
              <input class="form-check-input" type="checkbox" />
              <label class="form-check-label">scientific</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
