<div class="my-3">
    <div class="card my-3">
        <div class="card-header bg-dark-blue">
            <div class="d-flex flex-wrap flex-row justify-content-between">
                <h6 class="text-white">Donor's Thematic Areas (GGF)</h6>
            </div>
        </div>
        <div class="card-body py-2">
            <div class="row p-2">
                <div class="col-12 col-md-12 position-relative mb-2" *ngFor="let area of areas; let i = index">
                    <div class="row">
                        <div class="col-md-1">
                            <div style="width: 100%; height: 100px;" [style]="'background-color:' + area.color"></div>
                        </div>
                        <div class="col-md-11">
                            <h5 style="margin-bottom: 0px !important;">{{area.title}}</h5>
                            <p>{{area.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>