<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row p-2">
                <div class="col-1">
                </div>
                <div class="col-12 col-md-4">
                    <p class="font-weight-bold text-dark p-0 m-0">Knowledge gained</p>
                </div>
                <div class="col-12 col-md-4">
                    <p class="font-weight-bold text-dark p-0 m-0">
                        Instruction to User/Encoder. Put here topics, processes (ex: how to make a letter and other
                        knowledge gained, one item per line)
                    </p>
                </div>
                <div class="col-12 col-md-3">
                    <p class="font-weight-bold text-dark p-0 m-0">Other remarks</p>
                </div>
            </div>
            <div class="row border-top border-dark my-2 p-2">
                <div class="col-1">
                    <p class="p-0 m-0">1</p>
                </div>
                <div class="col-12 col-md-4">
                    <p class="p-0 m-0">Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="col-12 col-md-4">
                    <p class="p-0 m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, neque ab nesciunt voluptates sapiente ad tenetur placeat aperiam alias? Nam aliquam atque saepe recusandae odit ad illo modi perspiciatis iusto!</p>
                </div>
                <div class="col-12 col-md-3">
                    <p class="p-0 m-0">Lorem ipsum dolor sit amet.</p>
                </div>
            </div>

            <div class="row border-top border-dark my-2 p-2">
                <div class="col-1">
                    <p class="p-0 m-0">2</p>
                </div>
                <div class="col-12 col-md-4">
                    <input class="form-control border rounded p-1" type="text"/>
                </div>
                <div class="col-12 col-md-4">
                    <input class="form-control border rounded p-1" type="text"/>
                </div>
                <div class="col-12 col-md-3">
                    <input class="form-control border rounded p-1" type="text"/>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <button class="btn btn-dark-blue">save</button>
            </div>
        </div>
    </div>

    <div class="card my-3">
        <div class="card-body">
            <div class="row p-2">
                <div class="col-1">
                </div>
                <div class="col-12 col-md-3">
                    <p class="font-weight-bold text-dark p-0 m-0">Skills gained or enhanced</p>
                </div>
                <div class="col-12 col-md-4">
                    <p class="font-weight-bold text-dark p-0 m-0">
                        Instruction to User/Encoder. Put here topics, processes (ex: how to make a letter and other
                        knowledge gained, one item per line)
                    </p>
                </div>
                <div class="col-12 col-md-2">
                    <p class="font-weight-bold text-dark p-0 m-0">
                        New Skill = 1 
                        <br>
                        Enhanced Skill = 2
                    </p>
                </div>
                <div class="col-12 col-md-2">
                    <p class="font-weight-bold text-dark p-0 m-0">Other remarks</p>
                </div>
            </div>
            <div class="row border-top border-dark my-2 p-2">
                <div class="col-1">
                    <p class="p-0 m-0">1</p>
                </div>
                <div class="col-12 col-md-3">
                    <p class="p-0 m-0">Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="col-12 col-md-4">
                    <p class="p-0 m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, neque ab nesciunt voluptates sapiente ad tenetur placeat aperiam alias? Nam aliquam atque saepe recusandae odit ad illo modi perspiciatis iusto!</p>
                </div>
                <div class="col-12 col-md-2">
                    <p class="p-0 m-0">1</p>
                </div>
                <div class="col-12 col-md-2">
                    <p class="p-0 m-0">Lorem ipsum dolor sit amet.</p>
                </div>
            </div>

            <div class="row border-top border-dark my-2 p-2">
                <div class="col-1">
                    <p class="p-0 m-0">2</p>
                </div>
                <div class="col-12 col-md-3">
                    <input class="form-control border rounded p-1" type="text"/>
                </div>
                <div class="col-12 col-md-4">
                    <input class="form-control border rounded p-1" type="text"/>
                </div>
                <div class="col-12 col-md-2">
                    <input class="form-control border rounded p-1" type="text"/>
                </div>
                <div class="col-12 col-md-2">
                    <input class="form-control border rounded p-1" type="text"/>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <button class="btn btn-dark-blue">save</button>
            </div>
        </div>
    </div>

    <div class="card my-3">
        <div class="card-body">
            <div class="row p-2">
                <div class="col-1">
                </div>
                <div class="col-12 col-md-10">
                    <p class="font-weight-bold text-dark p-0 m-0">Observed/Reported changes in attitude applying the knowledge and skills gained</p>
                </div>
            </div>
            <div class="row border-top border-dark my-2 p-2">
                <div class="col-1">
                    <p class="p-0 m-0">1</p>
                </div>
                <div class="col-12 col-md-10">
                    <p class="p-0 m-0">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, nihil deserunt laboriosam autem debitis quod esse amet excepturi asperiores nesciunt rem corrupti necessitatibus architecto voluptatibus libero tempora non accusantium similique!</p>
                </div>
            </div>

            <div class="row border-top border-dark my-2 p-2">
                <div class="col-1">
                    <p class="p-0 m-0">2</p>
                </div>
                <div class="col-12 col-md-10">
                    <textarea class="form-control border rounded p-1" rows="3"></textarea>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <button class="btn btn-dark-blue">save</button>
            </div>
        </div>
    </div>
</div>
