<div class="my-5">
    <div class="title d-flex flex-row gap-2 align-items-center">
        <h5 class="text-dark">Budget Review and Finalization</h5>
        <div class="vr"></div>
        <h5 class="text-dark text-light">Comments</h5>
        <button class="btn btn-info p-1 text-capitalize" style="background-color: #034241"
            *ngIf="['comments', 'recommendation'].includes(permission.grant_application)">
            <i class="material-icons">download</i>
            Download comments
        </button>
    </div>

    <div class="card my-2">
        <div class="card-body bg-gray-300 p-2">
            <p class="font-weight-bold text-sm m-0">
                You are currently checking the grant team review of new applications. Lorem ipsum, dolor sit amet
                consectetur adipisicing elit. Magni, alias soluta repudiandae delectus autem mollitia, libero dolorem,
                incidunt optio iure minima debitis dolor! Inventore optio est nobis earum quae voluptate.
            </p>
        </div>
    </div>

    <div class="card">
        <div class="card-body bg-gray-300">
            <div class="card my-3">
                <div class="card-header p-3" style="background-color: #034241">
                    <div class="d-flex flex-column flex-md-row text-white gap-1 align-items-center">
                        <h5 class="text-white m-0">Grants/Financial Team</h5>
                        <p class="m-0">
                            {{ dateNow | date : 'dd-MMM-YYYY' }} - {{ user.first_name }} {{ user.last_name }}
                        </p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="content my-2">
                        <div class="row mb-1">
                            <div class="col-md-3">
                                <h5 class="m-0">Original Budget Proposal</h5>
                            </div>
                            <div class="col-md-9">
                                <button class="btn btn-default text-info bg-gray-300 p-2"
                                    (click)="uploadFiles('original_budget_proposal')"
                                    *ngIf="['comments', 'recommendation'].includes(permission.grant_application)">
                                    <i class="material-icons">add</i>
                                    Attach File
                                </button>

                                <span class="mx-1"
                                    *ngFor="let attachment of attachments.original_budget_proposal; let i = index">
                                    <a href="{{  attachment.path }}" target="_blank">{{
                                        attachment.original_name
                                        }}</a>
                                    <a (click)="delete(i, 'original_budget_proposal')"><i
                                            class="fa fa-times text-danger mx-2 cursor-pointer"></i></a>
                                </span>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-3">
                                <h5 class="m-0">Revised Budget Proposal</h5>
                            </div>
                            <div class="col-md-9">
                                <button class="btn btn-default text-info bg-gray-300 p-2"
                                    (click)="uploadFiles('revised_budget_proposal')"
                                    *ngIf="['comments', 'recommendation'].includes(permission.grant_application)">
                                    <i class="material-icons">add</i>
                                    Attach File
                                </button>

                                <span class="mx-1"
                                    *ngFor="let attachment of attachments.revised_budget_proposal; let i = index">
                                    <a href="{{  attachment.path }}" target="_blank">{{
                                        attachment.original_name
                                        }}</a>
                                    <a (click)="delete(i, 'revised_budget_proposal')"><i
                                            class="fa fa-times text-danger mx-2 cursor-pointer"></i></a>
                                </span>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-3">
                                <h5 class="m-0">Approved Budget Proposal</h5>
                            </div>
                            <div class="col-md-9">
                                <button class="btn btn-default text-info bg-gray-300 p-2"
                                    (click)="uploadFiles('approved_budget_proposal')"
                                    *ngIf="['comments', 'recommendation'].includes(permission.grant_application)">
                                    <i class="material-icons">add</i>
                                    Attach File
                                </button>

                                <span class="mx-1"
                                    *ngFor="let attachment of attachments.approved_budget_proposal; let i = index">
                                    <a href="{{  attachment.path }}" target="_blank">{{
                                        attachment.original_name
                                        }}</a>
                                    <a (click)="delete(i, 'approved_budget_proposal')"><i
                                            class="fa fa-times text-danger mx-2 cursor-pointer"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="d-flex flex-row align-items-center">
                    <div class="col-md-4">
                        <h5 class="m-0">Organization Bank Account Information</h5>
                    </div>
                    <div class="col-md-8">
                        <a style="font-size: 12px; color: #1a73e8 !important" href="javascript:;"
                            (click)="handleShowModal('orgBankAccntInfo', 'view')"
                            *ngIf="permission.grant_application != 'restricted'">
                            VIEW
                        </a>
                        <span *ngIf="['comments', 'recommendation'].includes(permission.grant_application)">
                            |
                            <a style="font-size: 12px; color: #1a73e8 !important" href="javascript:;"
                                (click)="handleShowModal('orgBankAccntInfo', 'edit')">
                                EDIT
                            </a>
                        </span>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <div class="col-md-4">
                        <h5 class="m-0">Fiscal Sponsor Bank Details</h5>
                    </div>
                    <div class="col-md-8">
                        <a style="font-size: 12px; color: #1a73e8 !important" href="javascript:;"
                            (click)="handleShowModal('fiscalSponsorBankDetail', 'view')"
                            *ngIf="permission.grant_application != 'restricted'">
                            VIEW
                        </a>
                        <span *ngIf="['comments', 'recommendation'].includes(permission.grant_application)">
                            |
                            <a style="font-size: 12px; color: #1a73e8 !important" href="javascript:;"
                                (click)="handleShowModal('fiscalSponsorBankDetail', 'edit')">
                                EDIT
                            </a>
                        </span>
                    </div>
                </div>
                <div class="d-flex flex-row align-items-center">
                    <div class="col-md-4">
                        <h5 class="m-0">Other Information</h5>
                    </div>
                    <div class="col-md-8">
                        <a style="font-size: 12px; color: #1a73e8 !important" href="javascript:;"
                            (click)="handleShowModal('otherInfo', 'view')"
                            *ngIf="permission.grant_application != 'restricted'">
                            VIEW
                        </a>
                        <span *ngIf="['comments', 'recommendation'].includes(permission.grant_application)">
                            |
                            <a style="font-size: 12px; color: #1a73e8 !important" href="javascript:;"
                                (click)="handleShowModal('otherInfo', 'edit')">
                                EDIT
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end" *ngIf="['recommendation'].includes(permission.grant_application)">
                <div>
                    <h4 class="text-dark">Recommendation</h4>
                    <ng-select style="--border-color: #034241" class="custom-recommendation-select"
                        [items]="['Approved for Next Stage', 'Rejected', 'Cancelled']"
                        [placeholder]="'Choose your recommendation'" (change)="recommendationOnChange($event)"
                        [(ngModel)]="recommendation">
                    </ng-select>
                </div>
            </div>
        </div>
    </div>
</div>