<div class="main-content">
    <form [formGroup]="form" (ngSubmit)="handleNext()">
        <div class="row">
            <div class="col-12 col-lg-6 mb-3">
                <div class="card bg-gray-100">
                    <div class="card-body">
                        <h5 class="card-title">Organization Profile</h5>

                        <div class="form-group my-3">
                            <label class="font-weight-bold text-dark">Kind of Organization*</label>
                            <app-select
                                *ngIf="!orgListLoading"
                                [ngClass]="{ 'is-invalid': submitted && f['organization_pk'].errors }"
                                (onSelectEvent)="onChangeSelectedItem($event, 'organization_pk')"
                                (onDeSelectEvent)="onChangeSelectedItem($event, 'organization_pk')"
                                [defaultSelectedItemKey]="form.controls['organization_pk'].value"
                                [arr]="orgList"
                                [changeFieldEventEmitter]="selectChangeFieldEventEmitter.organization_pk"
                            ></app-select>
                            <div *ngIf="submitted && f['organization_pk'].errors" class="invalid-feedback">
                                <div *ngIf="f['organization_pk'].errors['required']">
                                    Kind of Organization is required
                                </div>
                            </div>
                        </div>

                        <ng-container *ngIf="selectedOrganization === 'Community/informal'">
                            <div class="form-group my-3">
                                <label class="font-weight-bold text-dark"
                                    >If indigenous/ethnic, please indicate tribe</label
                                >
                                <input formControlName="tribe" type="text" class="form-control border rounded-1 p-1" />
                            </div>

                            <div class="d-flex flex-wrap justify-content-between my-3">
                                <div>
                                    <label class="font-weight-bold text-dark">Women's organization?</label>
                                </div>

                                <div>
                                    <div class="bool-opt-container">
                                        <select
                                            #boolOptWomensOrg
                                            formControlName="womens_organization"
                                            class="form-select px-3 border border-1 ronded-1 text-secondary text-md font-weight-bold"
                                            (change)="
                                                onChangeSelectedBoolOpt(boolOptWomensOrg.value, 'womens_organization')
                                            "
                                        >
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                        <i class="material-icons">arrow_drop_down</i>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-wrap justify-content-between my-3">
                                <div>
                                    <label class="font-weight-bold text-dark">Differently-abled organization?</label>
                                </div>

                                <div>
                                    <div class="bool-opt-container">
                                        <select
                                            #boolOptDiffAbledOrg
                                            formControlName="differently_abled_organization"
                                            class="form-select px-3 border border-1 ronded-1 text-secondary text-md font-weight-bold"
                                            (change)="
                                                onChangeSelectedBoolOpt(
                                                    boolOptDiffAbledOrg.value,
                                                    'differently_abled_organization'
                                                )
                                            "
                                        >
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                        <i class="material-icons">arrow_drop_down</i>
                                    </div>
                                </div>
                            </div>
                        </ng-container>

                        <ng-container
                            *ngIf="
                                selectedOrganization === 'Non-Government organization' ||
                                selectedOrganization === 'Local organization/People\'s organization'
                            "
                        >
                            <div class="form-group my-3">
                                <label class="font-weight-bold text-dark"
                                    >If indigenous/ethnic, please indicate tribe</label
                                >
                                <input formControlName="tribe" type="text" class="form-control border rounded-1 p-1" />
                            </div>

                            <div class="d-flex flex-wrap justify-content-between my-3">
                                <div>
                                    <label class="font-weight-bold text-dark">Women's organization?</label>
                                </div>

                                <div>
                                    <div class="bool-opt-container">
                                        <select
                                            #boolOptWomenOrg
                                            formControlName="womens_organization"
                                            class="form-select px-3 border border-1 ronded-1 text-secondary text-md font-weight-bold"
                                            (change)="
                                                onChangeSelectedBoolOpt(boolOptWomenOrg.value, 'womens_organization')
                                            "
                                        >
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                        <i class="material-icons">arrow_drop_down</i>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-wrap justify-content-between my-3">
                                <div>
                                    <label class="font-weight-bold text-dark">Differently-abled organization?</label>
                                </div>

                                <div>
                                    <div class="bool-opt-container">
                                        <select
                                            #boolOptDiffAbledOrg
                                            formControlName="differently_abled_organization"
                                            class="form-select px-3 border border-1 ronded-1 text-secondary text-md font-weight-bold"
                                            (change)="
                                                onChangeSelectedBoolOpt(
                                                    boolOptDiffAbledOrg.value,
                                                    'differently_abled_organization'
                                                )
                                            "
                                        >
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                        <i class="material-icons">arrow_drop_down</i>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-wrap justify-content-between my-3">
                                <div>
                                    <label class="font-weight-bold text-dark">Farmers group?</label>
                                </div>

                                <div>
                                    <div class="bool-opt-container">
                                        <select
                                            #boolOptFarmersGrp
                                            formControlName="farmers_group"
                                            class="form-select px-3 border border-1 ronded-1 text-secondary text-md font-weight-bold"
                                            (change)="onChangeSelectedBoolOpt(boolOptFarmersGrp.value, 'farmers_group')"
                                        >
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                        <i class="material-icons">arrow_drop_down</i>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-wrap justify-content-between my-3">
                                <div>
                                    <label class="font-weight-bold text-dark">Fisherfolks?</label>
                                </div>

                                <div>
                                    <div class="bool-opt-container">
                                        <select
                                            #boolOptFisherfolks
                                            formControlName="fisherfolks"
                                            class="form-select px-3 border border-1 ronded-1 text-secondary text-md font-weight-bold"
                                            (change)="onChangeSelectedBoolOpt(boolOptFisherfolks.value, 'fisherfolks')"
                                        >
                                            <option value="true">Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                        <i class="material-icons">arrow_drop_down</i>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group my-3">
                                <label class="font-weight-bold text-dark">Other sectoral group, please indicate:</label>
                                <input
                                    formControlName="other_sectoral_group"
                                    type="text"
                                    class="form-control border rounded-1 p-1"
                                />
                            </div>
                        </ng-container>

                        <ng-container *ngIf="selectedOrganization === 'Other organizations'">
                            <div class="form-group my-3">
                                <label class="font-weight-bold text-dark">Please Indicate:</label>
                                <app-select
                                    [ngClass]="{ 'is-invalid': submitted && f['tribe'].errors }"
                                    (onSelectEvent)="onChangeSelectedItem($event, 'tribe')"
                                    (onDeSelectEvent)="onChangeSelectedItem($event, 'tribe')"
                                    [defaultSelectedInArr]="
                                        tribeIndicateList.includes(form.controls['tribe'].value ?? '')
                                            ? form.controls['tribe'].value
                                            : tribeIndicateList.at(0)
                                    "
                                    [arr]="tribeIndicateList"
                                ></app-select>
                                <div *ngIf="submitted && f['tribe'].errors" class="invalid-feedback">
                                    <div *ngIf="f['tribe'].errors['required']">Field is required</div>
                                </div>
                            </div>
                        </ng-container>

                        <div class="form-group my-3">
                            <label class="font-weight-bold text-dark">Partner Type*</label>
                            <app-select
                                *ngIf="!orgPartnerTypeListLoading"
                                [ngClass]="{ 'is-invalid': submitted && f['organization_partner_type_pk'].errors }"
                                (onSelectEvent)="onChangeSelectedItem($event, 'organization_partner_type_pk')"
                                (onDeSelectEvent)="onChangeSelectedItem($event, 'organization_partner_type_pk')"
                                [defaultSelectedItemKey]="form.controls['organization_partner_type_pk'].value"
                                [arr]="orgPartnerTypeList"
                                [changeFieldEventEmitter]="selectChangeFieldEventEmitter.organization_partner_type_pk"
                            ></app-select>
                            <div *ngIf="submitted && f['organization_partner_type_pk'].errors" class="invalid-feedback">
                                <div *ngIf="f['organization_partner_type_pk'].errors['required']">
                                    Partner Type is required
                                </div>
                            </div>
                        </div>

                        <div class="form-group my-3">
                            <label class="font-weight-bold text-dark">Mission</label>
                            <textarea
                                type="text"
                                rows="5"
                                class="form-control border rounded-1 p-2"
                                style="resize: none"
                                formControlName="mission"
                            ></textarea>
                        </div>

                        <div class="form-group my-3">
                            <label class="font-weight-bold text-dark">Vision</label>
                            <textarea
                                type="text"
                                rows="5"
                                class="form-control border rounded-1 p-2"
                                style="resize: none"
                                formControlName="vision"
                            ></textarea>
                        </div>

                        <div class="form-group my-3">
                            <label class="font-weight-bold text-dark">What does your community/organization do?*</label>
                            <textarea
                                type="text"
                                rows="5"
                                class="form-control border rounded-1 p-2"
                                style="resize: none"
                                formControlName="description"
                                required
                                [ngClass]="{ 'is-invalid': submitted && f['description'].errors }"
                            ></textarea>
                            <div *ngIf="submitted && f['description'].errors" class="invalid-feedback">
                                <div *ngIf="f['description'].errors['required']">Field is required</div>
                            </div>
                        </div>

                        <div class="form-group my-3">
                            <label class="font-weight-bold text-dark">Country*</label>
                            <app-select
                                [url]="'country'"
                                (onSelectEvent)="onChangeSelectedItem($event, 'country_pk')"
                                (onDeSelectEvent)="onChangeSelectedItem($event, 'country_pk')"
                                [defaultSelectedItemKey]="form.controls['country_pk'].value"
                                [ngClass]="{ 'is-invalid': submitted && f['country_pk'].errors }"
                                [changeFieldEventEmitter]="selectChangeFieldEventEmitter.country_pk"
                            ></app-select>
                            <div *ngIf="submitted && f['country_pk'].errors" class="invalid-feedback">
                                <div *ngIf="f['country_pk'].errors['required']">Country is required</div>
                            </div>
                        </div>

                        <div class="form-group my-3">
                            <label class="font-weight-bold text-dark">Website of Project/Organization</label>
                            <input
                                type="text"
                                class="form-control border rounded-1 p-1"
                                formControlName="project_website"
                            />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <app-attach-documents
                    [inputAttachments]="attachments"
                    (onFileAttached)="saveAttachment($event)"
                    (onRemoveFileAttached)="onRemoveAttachment($event)"
                ></app-attach-documents>

                <button
                    class="btn bg-info text-white w-100 text-capitalize my-3"
                    type="button"
                    (click)="handleReset()"
                    [disabled]="processing"
                >
                    Reset Form
                </button>
            </div>
        </div>

        <div class="d-flex justify-content-center my-3">
            <button
                class="btn btn-white text-capitalize m-1"
                (click)="handleBack()"
                type="button"
                [disabled]="processing"
            >
                Back
            </button>
            <button class="btn btn-dark-blue text-capitalize m-1" [disabled]="processing">Next</button>
        </div>
    </form>
</div>
