<div class="row">
  <div class="col-12 col-lg-6 mb-3">
    <div class="card bg-gray-100">
      <div class="card-body">
        <h5 class="card-title">Proposed activities and timeline</h5>
        <form class="my-3">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <p class="font-weight-bold text-dark p-0 m-0">Activities*</p>
              </div>
              <div class="col-6">
                <p class="font-weight-bold text-dark p-0 m-0">Duration</p>
              </div>
            </div>

            <div *ngFor="let proposedActivity of proposedActivities; index as i" class="row my-2 align-items-center">
              <div class="col-2">
                <p class="font-weight-bold text-dark p-0 m-0 text-md">{{ i + 1 }}</p>
              </div>
              <div class="col-4">
                <input type="text" class="form-control border rounded-1 p-1" />
              </div>
              <div class="col-4">
                <app-select class="shadow-none" [arr]="['1 Months', '2 Months']"></app-select>
              </div>
              <div class="col-2">
                <button class="btn btn-danger" type="button" (click)="onRemoveActivity(proposedActivity.id)">
                  <i class="material-icons">delete</i>
                </button>
              </div>
            </div>
            <button class="btn btn-dark-blue" type="button" (click)="onAddActivity()">
              <i class="material-icons">add</i>
            </button>
          </div>
          <div class="form-group my-3">
            <label class="font-weight-bold text-dark">How will you monitor the project?*</label>
            <textarea
              type="text"
              rows="5"
              class="form-control border rounded-1 p-2"
              style="resize: none"
              required
            ></textarea>
          </div>

          <div class="form-group my-3">
            <label class="font-weight-bold text-dark">How will you monitor the project?*</label>
            <div class="row">
              <div class="col-6">
                <app-input-dropdown
                  [data]="availableCurrencies"
                  [defaultSelected]="availableCurrencies.at(2)?.key"
                ></app-input-dropdown>
              </div>
              <div class="col-6">
                <app-input-dropdown
                  [data]="availableCurrencies"
                  [defaultSelected]="availableCurrencies.at(0)?.key"
                ></app-input-dropdown>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-6">
    <app-attach-documents></app-attach-documents>
    <button class="btn bg-info text-white w-100 text-capitalize my-2">Reset Form</button>
  </div>
</div>
