<div class="container" style="min-height: 800px;">
    <h4 class="title text-dark">Generate Capacity Building Activity Link</h4>

    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12">
                <div>
                    <app-select [placeholder]="'Choose a Project'" [url]="'projects/title'" [listItemValue]="'title'"
                        (onSelectEvent)="onChangeProjectItem($event)"
                        (onDeSelectEvent)="onChangeProjectItem($event)"></app-select>
                </div>
                <div class="mt-2" *ngIf="form.value.project_pk">
                    <div class="row">
                        <div class="col-md-11">
                            <app-select #eventList [placeholder]="'Choose an Event'"
                                [url]="'projects/' + form.value.project_pk + '/events'" [listItemValue]="'name'"
                                (onSelectEvent)="onChangeEventItem($event)"
                                (onDeSelectEvent)="onChangeEventItem($event)"></app-select>
                        </div>
                        <div class="col-md-1" style="padding: 0px !important">
                            <button class="btn btn-sm btn-dark-blue" style="height: 100%;" (click)="openEventModal()">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mt-5 text-center" *ngIf="form.value.project_pk && form.value.project_event_pk">
                    <p class="h4">Click this <a [href]="link" target="_black" style="color: blue;">link</a> or copy the
                        link below</p>
                    <textarea name="" id="" class="form-control"
                        style="border: solid 1px #ccc; font-size: 20px; padding-top: 30px;">
                        {{link}}
                    </textarea>
                </div>
            </div>
        </div>

    </div>


</div>