<div>
    <h4 class="text-dark">Partner's Information</h4>
    <div class="row my-5 g-0">
        <div class="col-12 col-md-5">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-dark">Name of community/organization</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-secondary">{{ partner?.name }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-dark">Complete Address</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-secondary">
                        {{ partner?.address }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-dark">Contact Number</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-secondary">{{ partner?.contact_number }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-dark">Email Address</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-secondary">{{ partner?.email_address }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-dark">Website</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-secondary">{{ partner?.website }}</p>
                </div>
            </div>
        </div>
        <div class="d-none d-md-flex col-md-1 justify-content-center">
            <div class="d-flex h-100">
                <div class="vr"></div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-dark">Contact Person</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-secondary">{{ partner?.contacts?.at(0)?.name }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-dark">Contact Number (Contact Person)</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-secondary">
                        {{ partner?.contacts?.at(0)?.contact_number }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-dark">Email Address (Contact Person)</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-secondary">{{ partner?.contacts?.at(0)?.email_address }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div>
                <h4 class="text-dark">Attach Documents</h4>
                <div class="d-flex flex-wrap flex-row gap-2 my-3">
                    <span class="text-dark p-0 m-0" *ngFor="let attachment of partner?.documents; let i = index">
                        <span class="position-relative top-5">
                            <i class="material-icons">attach_file</i>
                        </span>
                        <a href="{{ attachment.path }}" target="_blank">
                            {{ attachment.original_name }}
                        </a>
                    </span>
                </div>
                <div *ngIf="partner?.documents?.length == 0" class="text-center">No documents found.</div>
            </div>
        </div>
    </div>
</div>