<div>
    <div class="card my-2">
        <div class="card-header py-2" style="background-color: #f44335">
            <h5 class="text-white text-center">Urgent Grants</h5>
        </div>
        <div class="card-body overflow-auto p-0 m-0">
            <table class="table">
                <thead>
                    <tr style="background-color: #f1aea8">
                        <th class="p-2 text-dark" scope="col">Partner ID</th>
                        <th class="p-2 text-dark" scope="col" sortable="partner" (sort)="onSort($event)">Partner</th>
                        <th class="p-2 text-dark" scope="col" sortable="title" (sort)="onSort($event)">Title</th>
                        <th class="p-2 text-dark" scope="col" sortable="applicationDate" (sort)="onSort($event)">
                            Application Date
                        </th>
                        <th class="p-2 text-dark" scope="col" sortable="proposedBudget" (sort)="onSort($event)">
                            Proposed Budget
                        </th>
                        <th class="p-2" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let urgentGrant of urgentGrants | paginate : { itemsPerPage: 10, currentPage: page }"
                        style="background-color: #f1aea8"
                    >
                        <th class="text-dark font-weight-bold" scope="row">{{ urgentGrant.partnerId }}</th>
                        <td class="text-dark font-weight-light">
                            {{ urgentGrant.partner }}
                        </td>
                        <td class="text-dark font-weight-light">{{ urgentGrant.title }}</td>
                        <td class="text-dark font-weight-light">
                            {{ urgentGrant.applicationDate | date : 'shortDate' }}
                        </td>
                        <td class="text-dark font-weight-light">
                            {{ urgentGrant.proposedBudget | number }} USD | 7501175 IDR
                        </td>
                        <td class="text-dark font-weight-light">
                            <button class="btn btn-default text-info">Review</button>
                            <button class="btn btn-default text-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="urgentGrants.length <= 0" class="text-center">
                <p class="text-danger w-100 font-weight-bold">There are no queued applications at this stage</p>
            </div>
            <div class="my-3">
                <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>
        </div>
    </div>

    <div class="card my-2">
        <div class="card-header py-2" style="background-color: #f20000">
            <h5 class="text-white text-center">Submissions</h5>
        </div>
        <div class="card-body p-0 m-0">
            <table class="table">
                <thead>
                    <tr style="background-color: #ff1f00">
                        <th class="p-2 text-white" scope="col">Partner ID</th>
                        <th class="p-2 text-white" scope="col" sortable="partner" (sort)="onSort($event)">Partner</th>
                        <th class="p-2 text-white" scope="col" sortable="title" (sort)="onSort($event)">Title</th>
                        <th class="p-2 text-white" scope="col" sortable="applicationDate" (sort)="onSort($event)">
                            Application Date
                        </th>
                        <th class="p-2 text-white" scope="col" sortable="proposedBudget" (sort)="onSort($event)">
                            Proposed Budget
                        </th>
                        <th class="p-2" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of submissions | paginate : { itemsPerPage: 10, currentPage: page }">
                        <th class="font-weight-bold" style="color: #ff1f00" scope="row">{{ item.partnerId }}</th>
                        <td class="text-dark font-weight-light">
                            {{ item.partner }}
                        </td>
                        <td class="text-dark font-weight-light">{{ item.title }}</td>
                        <td class="text-dark font-weight-light">{{ item.applicationDate | date : 'shortDate' }}</td>
                        <td class="text-dark font-weight-light">
                            {{ item.proposedBudget | number }} {{ item?.proposedBudget ? 'USD | 7501175 IDR' : '' }}
                        </td>
                        <td>
                            <button class="btn btn-default text-info">Review</button>
                            <button class="btn btn-default text-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="submissions.length <= 0" class="text-center">
                <p class="text-danger w-100 font-weight-bold">There are no queued applications at this stage</p>
            </div>
            <div class="my-3">
                <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>
        </div>
    </div>

    <div class="card my-2">
        <div class="card-header py-2" style="background-color: #f24700">
            <h5 class="text-white text-center">Grants Team Review</h5>
        </div>
        <div class="card-body p-0 m-0">
            <table class="table">
                <thead>
                    <tr style="background-color: #da6800">
                        <th class="p-2 text-white" scope="col">Partner ID</th>
                        <th class="p-2 text-white" scope="col" sortable="partner" (sort)="onSort($event)">Partner</th>
                        <th class="p-2 text-white" scope="col" sortable="title" (sort)="onSort($event)">Title</th>
                        <th class="p-2 text-white" scope="col" sortable="applicationDate" (sort)="onSort($event)">
                            Application Date
                        </th>
                        <th class="p-2 text-white" scope="col" sortable="proposedBudget" (sort)="onSort($event)">
                            Proposed Budget
                        </th>
                        <th class="p-2" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of grantsTeamReview | paginate : { itemsPerPage: 10, currentPage: page }">
                        <th class="font-weight-bold" style="color: #f24700" scope="row">{{ item.partnerId }}</th>
                        <td class="text-dark font-weight-light">
                            {{ item.partner }}
                        </td>
                        <td class="text-dark font-weight-light">{{ item.title }}</td>
                        <td class="text-dark font-weight-light">{{ item.applicationDate | date : 'shortDate' }}</td>
                        <td class="text-dark font-weight-light">
                            {{ item.proposedBudget | number }} {{ item?.proposedBudget ? 'USD | 7501175 IDR' : '' }}
                        </td>
                        <td>
                            <button class="btn btn-default text-info">Review</button>
                            <button class="btn btn-default text-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="grantsTeamReview.length <= 0" class="text-center">
                <p class="text-danger w-100 font-weight-bold">There are no queued applications at this stage</p>
            </div>
            <div class="my-3">
                <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>
        </div>
    </div>

    <div class="card my-2">
        <div class="card-header py-2" style="background-color: #ff6200">
            <h5 class="text-white text-center">Advisers Review</h5>
        </div>
        <div class="card-body p-0 m-0">
            <table class="table">
                <thead>
                    <tr style="background-color: #f38520">
                        <th class="p-2 text-white" scope="col">Partner ID</th>
                        <th class="p-2 text-white" scope="col" sortable="partner" (sort)="onSort($event)">Partner</th>
                        <th class="p-2 text-white" scope="col" sortable="title" (sort)="onSort($event)">Title</th>
                        <th class="p-2 text-white" scope="col" sortable="applicationDate" (sort)="onSort($event)">
                            Application Date
                        </th>
                        <th class="p-2 text-white" scope="col" sortable="proposedBudget" (sort)="onSort($event)">
                            Proposed Budget
                        </th>
                        <th class="p-2" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of advisersReview | paginate : { itemsPerPage: 10, currentPage: page }">
                        <th class="font-weight-bold" style="color: #ff6200" scope="row">{{ item.partnerId }}</th>
                        <td class="text-dark font-weight-light">
                            {{ item.partner }}
                        </td>
                        <td class="text-dark font-weight-light">{{ item.title }}</td>
                        <td class="text-dark font-weight-light">{{ item.applicationDate | date : 'shortDate' }}</td>
                        <td class="text-dark font-weight-light">
                            {{ item.proposedBudget | number }} {{ item?.proposedBudget ? 'USD | 7501175 IDR' : '' }}
                        </td>
                        <td>
                            <button class="btn btn-default text-info">Review</button>
                            <button class="btn btn-default text-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="advisersReview.length <= 0" class="text-center">
                <p class="text-danger w-100 font-weight-bold">There are no queued applications at this stage</p>
            </div>
            <div class="my-3">
                <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>
        </div>
    </div>

    <div class="card my-2">
        <div class="card-header py-2" style="background-color: #ff6200">
            <h5 class="text-white text-center">Due Diligence (Medium Grants)</h5>
        </div>
        <div class="card-body p-0 m-0">
            <table class="table">
                <thead>
                    <tr style="background-color: #f38520">
                        <th class="p-2 text-white" scope="col">Partner ID</th>
                        <th class="p-2 text-white" scope="col" sortable="partner" (sort)="onSort($event)">Partner</th>
                        <th class="p-2 text-white" scope="col" sortable="title" (sort)="onSort($event)">Title</th>
                        <th class="p-2 text-white" scope="col" sortable="applicationDate" (sort)="onSort($event)">
                            Application Date
                        </th>
                        <th class="p-2 text-white" scope="col" sortable="proposedBudget" (sort)="onSort($event)">
                            Proposed Budget
                        </th>
                        <th class="p-2" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of dueDiligence | paginate : { itemsPerPage: 10, currentPage: page }">
                        <th class="font-weight-bold" style="color: #ff6200" scope="row">{{ item.partnerId }}</th>
                        <td class="text-dark font-weight-light">
                            {{ item.partner }}
                        </td>
                        <td class="text-dark font-weight-light">{{ item.title }}</td>
                        <td class="text-dark font-weight-light">{{ item.applicationDate | date : 'shortDate' }}</td>
                        <td class="text-dark font-weight-light">
                            {{ item.proposedBudget | number }} {{ item?.proposedBudget ? 'USD | 7501175 IDR' : '' }}
                        </td>
                        <td>
                            <button class="btn btn-default text-info">Review</button>
                            <button class="btn btn-default text-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="dueDiligence.length <= 0" class="text-center">
                <p class="text-danger w-100 font-weight-bold">There are no queued applications at this stage</p>
            </div>
            <div class="my-3">
                <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>
        </div>
    </div>

    <div class="card my-2">
        <div class="card-header py-2" style="background-color: #ff9100">
            <h5 class="text-white text-center">Budget Review and Finalization</h5>
        </div>
        <div class="card-body p-0 m-0">
            <table class="table">
                <thead>
                    <tr style="background-color: #f5b62f">
                        <th class="p-2 text-white" scope="col">Partner ID</th>
                        <th class="p-2 text-white" scope="col" sortable="partner" (sort)="onSort($event)">Partner</th>
                        <th class="p-2 text-white" scope="col" sortable="title" (sort)="onSort($event)">Title</th>
                        <th class="p-2 text-white" scope="col" sortable="applicationDate" (sort)="onSort($event)">
                            Application Date
                        </th>
                        <th class="p-2 text-white" scope="col" sortable="proposedBudget" (sort)="onSort($event)">
                            Proposed Budget
                        </th>
                        <th class="p-2" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="
                            let item of budgetReviewAndFinalization | paginate : { itemsPerPage: 10, currentPage: page }
                        "
                    >
                        <th class="font-weight-bold" style="color: #ff9100" scope="row">{{ item.partnerId }}</th>
                        <td class="text-dark font-weight-light">
                            {{ item.partner }}
                        </td>
                        <td class="text-dark font-weight-light">{{ item.title }}</td>
                        <td class="text-dark font-weight-light">{{ item.applicationDate | date : 'shortDate' }}</td>
                        <td class="text-dark font-weight-light">
                            {{ item.proposedBudget | number }} {{ item?.proposedBudget ? 'USD | 7501175 IDR' : '' }}
                        </td>
                        <td>
                            <button class="btn btn-default text-info">Review</button>
                            <button class="btn btn-default text-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="budgetReviewAndFinalization.length <= 0" class="text-center">
                <p class="text-danger w-100 font-weight-bold">There are no queued applications at this stage</p>
            </div>
            <div class="my-3">
                <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>
        </div>
    </div>

    <div class="card my-2">
        <div class="card-header py-2" style="background-color: #ff9100">
            <h5 class="text-white text-center">Financial Management Capacity</h5>
        </div>
        <div class="card-body p-0 m-0">
            <table class="table">
                <thead>
                    <tr style="background-color: #f5b62f">
                        <th class="p-2 text-white" scope="col">Partner ID</th>
                        <th class="p-2 text-white" scope="col" sortable="partner" (sort)="onSort($event)">Partner</th>
                        <th class="p-2 text-white" scope="col" sortable="title" (sort)="onSort($event)">Title</th>
                        <th class="p-2 text-white" scope="col" sortable="applicationDate" (sort)="onSort($event)">
                            Application Date
                        </th>
                        <th class="p-2 text-white" scope="col" sortable="proposedBudget" (sort)="onSort($event)">
                            Proposed Budget
                        </th>
                        <th class="p-2" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="
                            let item of financialManagementCapacity | paginate : { itemsPerPage: 10, currentPage: page }
                        "
                    >
                        <th class="font-weight-bold" style="color: #ff9100" scope="row">{{ item.partnerId }}</th>
                        <td class="text-dark font-weight-light">
                            {{ item.partner }}
                        </td>
                        <td class="text-dark font-weight-light">{{ item.title }}</td>
                        <td class="text-dark font-weight-light">{{ item.applicationDate | date : 'shortDate' }}</td>
                        <td class="text-dark font-weight-light">
                            {{ item.proposedBudget | number }} {{ item?.proposedBudget ? 'USD | 7501175 IDR' : '' }}
                        </td>
                        <td>
                            <button class="btn btn-default text-info">Review</button>
                            <button class="btn btn-default text-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="financialManagementCapacity.length <= 0" class="text-center">
                <p class="text-danger w-100 font-weight-bold">There are no queued applications at this stage</p>
            </div>
            <div class="my-3">
                <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>
