<div>
    <div class="card my-2">
        <div class="card-header py-2" style="background-color: #f44335">
            <h5 class="text-white text-center">Urgent Grants</h5>
        </div>
        <div class="card-body overflow-auto p-0 m-0">
            <table class="table">
                <thead>
                    <tr style="background-color: #f1aea8">
                        <th class="p-2 text-dark" scope="col">Partner ID</th>
                        <th class="p-2 text-dark" scope="col" sortable="partnerId"
                            (sort)="onSort($event, 'urgentGrants')">
                            Partner
                        </th>
                        <th class="p-2 text-dark" scope="col" sortable="title" (sort)="onSort($event, 'urgentGrants')">
                            Title
                        </th>
                        <th class="p-2 text-dark" scope="col" sortable="applicationDate"
                            (sort)="onSort($event, 'urgentGrants')">
                            Application Date
                        </th>
                        <th class="p-2 text-dark" scope="col" sortable="proposedBudget"
                            (sort)="onSort($event, 'urgentGrants')">
                            Proposed Budget
                        </th>
                        <th class="p-2" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="
                            let item of grantApplication.urgentGrants.list
                                | paginate : { itemsPerPage: 10, currentPage: grantApplication.urgentGrants.page, id: 'urgentGrants', }
                        " style="background-color: #f1aea8">
                        <th class="text-dark font-weight-bold" scope="row">{{ item.partnerId }}</th>
                        <td class="text-dark font-weight-light">
                            {{ item?.partner }}
                        </td>
                        <td class="text-dark font-weight-light">{{ item.title }}</td>
                        <td class="text-dark font-weight-light">
                            {{ item?.applicationDate | date : 'dd-MMM-YYYY' }}
                        </td>
                        <td class="text-dark font-weight-light">
                            {{ item.proposedBudget | number }} USD | 7501175 IDR
                        </td>
                        <td class="text-dark font-weight-light">
                            <a [routerLink]="['/applications/' + item.applicationPk + '/review']"><button
                                    class="btn btn-default text-info">Review</button></a>
                            <button class="btn btn-default text-danger" (click)="remove(item)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="grantApplication.urgentGrants.list.length <= 0" class="text-center">
                <p class="text-danger w-100 font-weight-bold">There are no queued applications at this stage</p>
            </div>
            <div class="my-3">
                <pagination-controls (pageChange)="grantApplication.urgentGrants.page = $event"
                    id="urgentGrants"></pagination-controls>
            </div>
        </div>
    </div>

    <div class="card my-2">
        <div class="card-header py-2" style="background-color: #f20000">
            <h5 class="text-white text-center">Submissions</h5>
        </div>
        <div class="card-body p-0 m-0">
            <table class="table">
                <thead>
                    <tr style="background-color: #ff1f00">
                        <th class="p-2 text-white" scope="col">Partner ID</th>
                        <th class="p-2 text-white" scope="col" sortable="partner"
                            (sort)="onSort($event, 'submissions')">
                            Partner
                        </th>
                        <th class="p-2 text-white" scope="col" sortable="title" (sort)="onSort($event, 'submissions')">
                            Title
                        </th>
                        <th class="p-2 text-white" scope="col" sortable="applicationDate"
                            (sort)="onSort($event, 'submissions')">
                            Application Date
                        </th>
                        <th class="p-2 text-white" scope="col" sortable="proposedBudget"
                            (sort)="onSort($event, 'submissions')">
                            Proposed Budget
                        </th>
                        <th class="p-2" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="
                            let item of grantApplication.submissions.list
                                | paginate
                                    : {
                                          itemsPerPage: 10,
                                          currentPage: grantApplication.submissions.page,
                                          id: 'submissions'
                                      }
                        ">
                        <th class="font-weight-bold" style="color: #ff1f00" scope="row">{{ item.partnerId }}</th>
                        <td class="text-dark font-weight-light">
                            {{ item.partner }}
                        </td>
                        <td class="text-dark font-weight-light">{{ item.title }}</td>
                        <td class="text-dark font-weight-light">{{ item.applicationDate | date : 'dd-MMM-YYYY' }}</td>
                        <td class="text-dark font-weight-light">
                            {{ item.proposedBudget | number }} {{ item?.proposedBudget ? 'USD | 7501175 IDR' : '' }}
                        </td>
                        <td>
                            <button class="btn btn-default text-info">Review</button>
                            <button class="btn btn-default text-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="grantApplication.submissions.list.length <= 0" class="text-center">
                <p class="text-danger w-100 font-weight-bold">There are no queued applications at this stage</p>
            </div>
            <div class="my-3">
                <pagination-controls (pageChange)="grantApplication.submissions.page = $event"
                    id="submissions"></pagination-controls>
            </div>
        </div>
    </div>

    <div class="card my-2">
        <div class="card-header py-2" style="background-color: #f24700">
            <h5 class="text-white text-center">Grants Team Review</h5>
        </div>
        <div class="card-body p-0 m-0">
            <table class="table">
                <thead>
                    <tr style="background-color: #da6800">
                        <th class="p-2 text-white" scope="col">Partner ID</th>
                        <th class="p-2 text-white" scope="col" sortable="partner"
                            (sort)="onSort($event, 'grantsTeamReview')">
                            Partner
                        </th>
                        <th class="p-2 text-white" scope="col" sortable="title"
                            (sort)="onSort($event, 'grantsTeamReview')">
                            Title
                        </th>
                        <th class="p-2 text-white" scope="col" sortable="applicationDate"
                            (sort)="onSort($event, 'grantsTeamReview')">
                            Application Date
                        </th>
                        <th class="p-2 text-white" scope="col" sortable="proposedBudget"
                            (sort)="onSort($event, 'grantsTeamReview')">
                            Proposed Budget
                        </th>
                        <th class="p-2" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="
                            let item of grantApplication.grantsTeamReview.list
                                | paginate
                                    : {
                                          itemsPerPage: 10,
                                          currentPage: grantApplication.grantsTeamReview.page,
                                          id: 'grantsTeamReview'
                                      }
                        ">
                        <th class="font-weight-bold" style="color: #f24700" scope="row">{{ item.partnerId }}</th>
                        <td class="text-dark font-weight-light">
                            {{ item.partner }}
                        </td>
                        <td class="text-dark font-weight-light">{{ item.title }}</td>
                        <td class="text-dark font-weight-light">{{ item.applicationDate | date : 'dd-MMM-YYYY' }}</td>
                        <td class="text-dark font-weight-light">
                            {{ item.proposedBudget | number }} {{ item?.proposedBudget ? 'USD | 7501175 IDR' : '' }}
                        </td>
                        <td>
                            <button class="btn btn-default text-info">Review</button>
                            <button class="btn btn-default text-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="grantApplication.grantsTeamReview.list.length <= 0" class="text-center">
                <p class="text-danger w-100 font-weight-bold">There are no queued applications at this stage</p>
            </div>
            <div class="my-3">
                <pagination-controls (pageChange)="grantApplication.grantsTeamReview.page = $event"
                    id="grantsTeamReview"></pagination-controls>
            </div>
        </div>
    </div>

    <div class="card my-2">
        <div class="card-header py-2" style="background-color: #ff6200">
            <h5 class="text-white text-center">Advisers Review</h5>
        </div>
        <div class="card-body p-0 m-0">
            <table class="table">
                <thead>
                    <tr style="background-color: #f38520">
                        <th class="p-2 text-white" scope="col">Partner ID</th>
                        <th class="p-2 text-white" scope="col" sortable="partner"
                            (sort)="onSort($event, 'advisersReview')">
                            Partner
                        </th>
                        <th class="p-2 text-white" scope="col" sortable="title"
                            (sort)="onSort($event, 'advisersReview')">
                            Title
                        </th>
                        <th class="p-2 text-white" scope="col" sortable="applicationDate"
                            (sort)="onSort($event, 'advisersReview')">
                            Application Date
                        </th>
                        <th class="p-2 text-white" scope="col" sortable="proposedBudget"
                            (sort)="onSort($event, 'advisersReview')">
                            Proposed Budget
                        </th>
                        <th class="p-2" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="
                            let item of grantApplication.advisersReview.list
                                | paginate
                                    : {
                                          itemsPerPage: 10,
                                          currentPage: grantApplication.advisersReview.page,
                                          id: 'advisersReview'
                                      }
                        ">
                        <th class="font-weight-bold" style="color: #ff6200" scope="row">{{ item.partnerId }}</th>
                        <td class="text-dark font-weight-light">
                            {{ item.partner }}
                        </td>
                        <td class="text-dark font-weight-light">{{ item.title }}</td>
                        <td class="text-dark font-weight-light">{{ item.applicationDate | date : 'dd-MMM-YYYY' }}</td>
                        <td class="text-dark font-weight-light">
                            {{ item.proposedBudget | number }} {{ item?.proposedBudget ? 'USD | 7501175 IDR' : '' }}
                        </td>
                        <td>
                            <button class="btn btn-default text-info">Review</button>
                            <button class="btn btn-default text-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="grantApplication.advisersReview.list.length <= 0" class="text-center">
                <p class="text-danger w-100 font-weight-bold">There are no queued applications at this stage</p>
            </div>
            <div class="my-3">
                <pagination-controls (pageChange)="grantApplication.advisersReview.page = $event"
                    id="advisersReview"></pagination-controls>
            </div>
        </div>
    </div>

    <div class="card my-2">
        <div class="card-header py-2" style="background-color: #ff6200">
            <h5 class="text-white text-center">Due Diligence (Medium Grants)</h5>
        </div>
        <div class="card-body p-0 m-0">
            <table class="table">
                <thead>
                    <tr style="background-color: #f38520">
                        <th class="p-2 text-white" scope="col">Partner ID</th>
                        <th class="p-2 text-white" scope="col" sortable="partner"
                            (sort)="onSort($event, 'dueDiligence')">
                            Partner
                        </th>
                        <th class="p-2 text-white" scope="col" sortable="title" (sort)="onSort($event, 'dueDiligence')">
                            Title
                        </th>
                        <th class="p-2 text-white" scope="col" sortable="applicationDate"
                            (sort)="onSort($event, 'dueDiligence')">
                            Application Date
                        </th>
                        <th class="p-2 text-white" scope="col" sortable="proposedBudget"
                            (sort)="onSort($event, 'dueDiligence')">
                            Proposed Budget
                        </th>
                        <th class="p-2" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="
                            let item of grantApplication.dueDiligence.list
                                | paginate
                                    : {
                                          itemsPerPage: 10,
                                          currentPage: grantApplication.dueDiligence.page,
                                          id: 'dueDiligence'
                                      }
                        ">
                        <th class="font-weight-bold" style="color: #ff6200" scope="row">{{ item.partnerId }}</th>
                        <td class="text-dark font-weight-light">
                            {{ item.partner }}
                        </td>
                        <td class="text-dark font-weight-light">{{ item.title }}</td>
                        <td class="text-dark font-weight-light">{{ item.applicationDate | date : 'dd-MMM-YYYY' }}</td>
                        <td class="text-dark font-weight-light">
                            {{ item.proposedBudget | number }} {{ item?.proposedBudget ? 'USD | 7501175 IDR' : '' }}
                        </td>
                        <td>
                            <button class="btn btn-default text-info">Review</button>
                            <button class="btn btn-default text-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="grantApplication.dueDiligence.list.length <= 0" class="text-center">
                <p class="text-danger w-100 font-weight-bold">There are no queued applications at this stage</p>
            </div>
            <div class="my-3">
                <pagination-controls (pageChange)="grantApplication.dueDiligence.page = $event"
                    id="dueDiligence"></pagination-controls>
            </div>
        </div>
    </div>

    <div class="card my-2">
        <div class="card-header py-2" style="background-color: #ff9100">
            <h5 class="text-white text-center">Budget Review and Finalization</h5>
        </div>
        <div class="card-body p-0 m-0">
            <table class="table">
                <thead>
                    <tr style="background-color: #f5b62f">
                        <th class="p-2 text-white" scope="col">Partner ID</th>
                        <th class="p-2 text-white" scope="col" sortable="partner"
                            (sort)="onSort($event, 'budgetReviewAndFinalization')">
                            Partner
                        </th>
                        <th class="p-2 text-white" scope="col" sortable="title"
                            (sort)="onSort($event, 'budgetReviewAndFinalization')">
                            Title
                        </th>
                        <th class="p-2 text-white" scope="col" sortable="applicationDate"
                            (sort)="onSort($event, 'budgetReviewAndFinalization')">
                            Application Date
                        </th>
                        <th class="p-2 text-white" scope="col" sortable="proposedBudget"
                            (sort)="onSort($event, 'budgetReviewAndFinalization')">
                            Proposed Budget
                        </th>
                        <th class="p-2" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="
                            let item of grantApplication.budgetReviewAndFinalization.list
                                | paginate
                                    : {
                                          itemsPerPage: 10,
                                          currentPage: grantApplication.budgetReviewAndFinalization.page,
                                          id: 'budgetReviewAndFinalization'
                                      }
                        ">
                        <th class="font-weight-bold" style="color: #ff9100" scope="row">{{ item.partnerId }}</th>
                        <td class="text-dark font-weight-light">
                            {{ item.partner }}
                        </td>
                        <td class="text-dark font-weight-light">{{ item.title }}</td>
                        <td class="text-dark font-weight-light">{{ item.applicationDate | date : 'dd-MMM-YYYY' }}</td>
                        <td class="text-dark font-weight-light">
                            {{ item.proposedBudget | number }} {{ item?.proposedBudget ? 'USD | 7501175 IDR' : '' }}
                        </td>
                        <td>
                            <button class="btn btn-default text-info">Review</button>
                            <button class="btn btn-default text-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="grantApplication.budgetReviewAndFinalization.list.length <= 0" class="text-center">
                <p class="text-danger w-100 font-weight-bold">There are no queued applications at this stage</p>
            </div>
            <div class="my-3">
                <pagination-controls (pageChange)="grantApplication.budgetReviewAndFinalization.page = $event"
                    id="budgetReviewAndFinalization"></pagination-controls>
            </div>
        </div>
    </div>

    <div class="card my-2">
        <div class="card-header py-2" style="background-color: #ff9100">
            <h5 class="text-white text-center">Financial Management Capacity</h5>
        </div>
        <div class="card-body p-0 m-0">
            <table class="table">
                <thead>
                    <tr style="background-color: #f5b62f">
                        <th class="p-2 text-white" scope="col">Partner ID</th>
                        <th class="p-2 text-white" scope="col" sortable="partner"
                            (sort)="onSort($event, 'financialManagementCapacity')">
                            Partner
                        </th>
                        <th class="p-2 text-white" scope="col" sortable="title"
                            (sort)="onSort($event, 'financialManagementCapacity')">
                            Title
                        </th>
                        <th class="p-2 text-white" scope="col" sortable="applicationDate"
                            (sort)="onSort($event, 'financialManagementCapacity')">
                            Application Date
                        </th>
                        <th class="p-2 text-white" scope="col" sortable="proposedBudget"
                            (sort)="onSort($event, 'financialManagementCapacity')">
                            Proposed Budget
                        </th>
                        <th class="p-2" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="
                            let item of grantApplication.financialManagementCapacity.list
                                | paginate
                                    : {
                                          itemsPerPage: 10,
                                          currentPage: grantApplication.financialManagementCapacity.page,
                                          id: 'financialManagementCapacity'
                                      }
                        ">
                        <th class="font-weight-bold" style="color: #ff9100" scope="row">{{ item.partnerId }}</th>
                        <td class="text-dark font-weight-light">
                            {{ item.partner }}
                        </td>
                        <td class="text-dark font-weight-light">{{ item.title }}</td>
                        <td class="text-dark font-weight-light">{{ item.applicationDate | date : 'dd-MMM-YYYY' }}</td>
                        <td class="text-dark font-weight-light">
                            {{ item.proposedBudget | number }} {{ item?.proposedBudget ? 'USD | 7501175 IDR' : '' }}
                        </td>
                        <td>
                            <button class="btn btn-default text-info">Review</button>
                            <button class="btn btn-default text-danger">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="grantApplication.financialManagementCapacity.list.length <= 0" class="text-center">
                <p class="text-danger w-100 font-weight-bold">There are no queued applications at this stage</p>
            </div>
            <div class="my-3">
                <pagination-controls (pageChange)="grantApplication.financialManagementCapacity.page = $event"
                    id="financialManagementCapacity"></pagination-controls>
            </div>
        </div>
    </div>
</div>