<div class="container-fluid mb-3">
    <nav aria-label="breadcrumb">
        <h4 class="font-weight-bolder mb-0 mb-5">Existing Links</h4>
    </nav>
    <div class="mb-2">
        <div class="row">
            <div class="col-lg-4 col-7 ">
                <div class="form-group input-group input-group-outline my-3">
                    <input class="form-control shadow-none" type="text" [(ngModel)]="filters.keyword"
                        placeholder="Search..." (keyup)="fetch()">
                </div>
            </div>
            <div class="col-lg-8 col-5 my-auto text-end">
                <button class="btn btn-sm bg-grant-primary text-sm text-white" (click)="openModal()">
                    <i class="material-icons text-sm">add_circle</i>
                    Generate New Link
                </button>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-lg-12 col-md-6 mb-md-0 mb-4">
            <div class="card">
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="col text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Partner's Name</th>
                                    <th
                                        class="col text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Contact Number</th>
                                    <th
                                        class="col text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                        Link Sent To</th>
                                    <th
                                        class="col text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                        Provided Link</th>
                                    <th
                                        class="col text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let application of applications | paginate : { itemsPerPage: pagination.tableSize, currentPage: pagination.page, totalItems: pagination.count }; let i = index">
                                    <td scope="row">
                                        <div class="d-flex px-2 py-1">
                                            <span class="mb-0 text-sm">{{application.partner.name}}</span>
                                        </div>
                                    </td>
                                    <td scope="row">
                                        <div class="d-flex px-2 py-1">
                                            <span class="mb-0 text-sm">{{application.partner.contact_number}}</span>
                                        </div>
                                    </td>
                                    <td class="w-25 align-middle text-sm">
                                        <span class="mb-0 text-sm">{{application.partner.email_address}}</span>
                                    </td>
                                    <td class="w-25 align-middle text-center text-sm">
                                        <span class="text-xs">{{link + application.uuid}}</span>
                                    </td>
                                    <td class="w-15 align-middle text-center text-sm">
                                        <a href="javascript:void(0)" class="text-danger">Remove</a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="100%">
                                        <div class="d-flex flex-row-reverse mt-2" *ngIf="pagination.count>0">
                                            <pagination-controls [responsive]="true" previousLabel="Prev"
                                                nextLabel="Next"
                                                (pageChange)="onTableDataChange($event)"></pagination-controls>
                                            <div>
                                                <select (change)="onTableSizeChange($event)"
                                                    class="form-control form-control-sm pagination-select">
                                                    <option *ngFor="let size of tableSizes" [value]="size">
                                                        {{ size }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>