<div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
        aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0" routerLink="/">
        <img src="../assets/images/logo-icon.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold text-white">Grant Management</span>
    </a>
</div>
<hr class="horizontal light mt-0 mb-2">
<div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
    <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let setting of settings; let i = index">
            <a class="nav-link text-white bg-gradient-primary {{isActive(setting.name)}} collapsed"
                routerLink="/{{setting.name}}">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="material-icons opacity-10">{{setting.icon}}</i>
                </div>
                <span class="nav-link-text ms-1">{{setting.label}}</span>
            </a>
        </li>
        <li class="nav-item">
            <a data-bs-toggle="collapse" href="#settings"
                class="nav-link text-white bg-gradient-primary {{isActive('settings')}} collapsed"
                aria-controls="settings" role="button" aria-expanded="false">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="material-icons opacity-10">settings</i>
                </div>
                <span class="nav-link-text ms-1">Settings</span>
            </a>
            <div class="collapse" id="settings">
                <ul class="nav ">
                    <li class="nav-item ">
                        <a class="nav-link text-white" [routerLink]="['/settings/roles']">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center"
                                style="margin-left: 20px;">
                                <i class="material-icons opacity-10">groups</i>
                            </div>
                            <span class="sidenav-normal  ms-2  ps-1"> Roles </span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>
<!-- <div class="sidenav-footer position-absolute w-100 bottom-1">
    <div class="mx-3">
        <a class="btn btn-outline-primary mt-4 w-100" routerLink="['/documentation']" type="button">Documentation</a>
    </div>
</div> -->