<div class="container">
    <div class="row my-3">
        <div class="col-12 col-md-4">
            <h5 *ngIf="getNextReportDueDate()" class="text-dark">
                Next Report Due
                <span class="badge text-xs text-bg-danger text-white mx-2">
                    {{ getNextReportDueDate() | date : 'dd-MMM-yyyy' }}
                </span>
            </h5>

            <h5 *ngIf="getLastTrancheDate()" class="text-dark">
                Last Tranche Date
                <span class="badge text-xs text-bg-danger text-white mx-2">
                    {{ getLastTrancheDate() | date : 'dd-MMM-yyyy' }}
                </span>
            </h5>
        </div>
        <div class="col-12 col-md-8" *ngIf="getOverdueReport()">
            <div class="card bg-danger">
                <div class="card-title p-1 mb-0">
                    <h5 class="text-white px-2 m-0">Overdue Report</h5>
                </div>
                <div class="card-body px-2 py-2">
                    <div class="bg-white p-2 rounded">
                        <div class="d-flex flex-wrap flex-row gap-1">
                            <p class="text-dark font-weight-bold">Amount Released</p>
                            <p class="text-dark">{{ getOverdueReport()?.released_amount_usd | number }} USD</p>
                        </div>
                        <div class="d-flex flex-wrap flex-row gap-1">
                            <div class="form-check m-0 p-1">
                                <label class="form-check-label text-dark font-weight-bold mx-1">Acknowledgement</label>
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    disabled
                                    [checked]="getOverdueReport()?.grantee_acknowledgement"
                                />
                            </div>
                            <div class="form-check m-0 p-1">
                                <label class="form-check-label text-dark font-weight-bold mx-1">Official Receipt</label>
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    disabled
                                    [checked]="getOverdueReport()?.bank_receipt_pk"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngFor="let funding of projectFunding; let i = index" class="tranche-container my-4">
        <div class="row">
            <div class="col-4">
                <h5 class="text-dark">{{ funding?.title }}</h5>
                <div class="d-flex flex-wrap flex-row align-items-center justify-content-between">
                    <p class="text-secondary m-0 p-0">
                        {{ funding?.report_due_date | date : 'dd-MMM-YYYY' }} |
                        {{ funding?.released_amount_usd | number }} USD
                    </p>
                    <button class="btn btn-icon-only" (click)="handleEditTranche(funding?.pk)">
                        <i class="material-icons">edit</i>
                    </button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-wrap flex-row">
                            <button class="btn btn-dark-blue m-1" (click)="openEditDeadlineModal(funding?.pk)">
                                edit deadline
                            </button>
                            <button class="btn btn-dark-blue m-1" (click)="handleEditTranche(funding?.pk)">
                                edit value
                            </button>
                        </div>

                        <div class="my-2">
                            <p class="m-0 p-0" style="text-decoration: underline">release date</p>
                            <p class="text-secondary m-0 p-0">{{ funding?.released_date | date : 'dd-MMM-YYYY' }}</p>
                        </div>

                        <div class="my-2">
                            <p class="m-0 p-0" style="text-decoration: underline">release amount</p>
                            <p class="text-secondary m-0 p-0">{{ funding?.released_amount_usd | number }} USD</p>
                        </div>

                        <div class="my-2">
                            <p class="m-0 p-0" style="text-decoration: underline">attached bank receipt</p>
                            <p class="text-secondary m-0 p-0">
                                <a href="{{SERVER + '/' + funding?.bank_receipt_document?.path}}"
                                    target="_blank">{{funding?.bank_receipt_document?.original_name}}</a>
                            </p>
                        </div>

                        <div class="my-2">
                            <p class="m-0 p-0" style="text-decoration: underline">grantee's acknowledgement</p>
                            <div class="form-check m-0 p-1">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    disabled
                                    [checked]="funding?.grantee_acknowledgement"
                                />
                                <label class="form-check-label font-weight-light mx-1">{{
                                    funding?.grantee_acknowledgement | date : 'dd-MMM-YYYY'
                                }}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="card bg-dark-blue">
                    <h6 class="text-white p-3">
                        interim report due
                        <span class="font-weight-light">{{ funding?.report_due_date | date : 'dd-MMM-YYYY' }}</span>
                    </h6>
                </div>

                <div
                    *ngFor="let item of groupedFundingReport(funding?.project_funding_report ?? []) | keyvalue"
                    class="card my-3"
                >
                    <div class="d-flex flex-wrap flex-row p-2 align-items-center">
                        <p class="mx-2 p-0 m-0" style="text-decoration: underline">{{ item.key }}</p>
                        <!-- <button class="btn btn-info btn-icon-only btn-rounded">
                            <span class="position-relative bottom-10 end-10"><i class="material-icons">add</i></span>
                        </button> -->
                    </div>
                    <div class="row p-3 align-items-center" *ngFor="let subItem of item.value">
                        <div class="col-12 col-md-3">
                            <a style="text-decoration: underline"  href="{{SERVER + '/' + subItem?.document?.path}}">
                                {{subItem?.document?.original_name}}
                            </a>
                        </div>
                        <div class="col-12 col-md-3">
                            <p class="p-0 m-0">{{ subItem?.date_created | date : 'dd-MM-YYYY' }}</p>
                        </div>
                        <div class="col-12 col-md-3">
                            <p class="p-0 m-0">{{ subItem?.status }}</p>
                        </div>
                        <div class="col-12 col-md-3">
                            <!-- <button class="btn btn-danger btn-icon-only btn-rounded">
                                <span class="position-relative bottom-10 end-10"><i
                                        class="material-icons">delete</i></span>
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="funding?.project_funding_liquidation?.pk" class="card bg-gray-400 my-3">
            <div class="d-flex flex-wrap flex-row">
                <button class="btn btn-icon-only" (click)="handleEditLiquidation(funding?.project_funding_liquidation)">
                    <i class="material-icons">edit</i>
                </button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <h5 class="text-dark">
                            Liquidation
                            <span class="font-weight-light">{{
                                funding?.project_funding_liquidation?.date_released | date : 'dd-MMM-yyyy'
                            }}</span>
                        </h5>
                        <div class="container bg-white rounded">
                            <p class="text-secondary p-1 min-height-100" [innerText]="funding?.project_funding_liquidation?.description"></p>
                        </div>
                    </div>

                    <div class="col-12 col-md-2">
                        <h5 class="text-dark">Amount</h5>
                        <p class="text-dark">USD {{ funding?.project_funding_liquidation?.amount_usd | number }}</p>
                        <p class="text-dark">
                            {{ parseCurrencyKey(funding?.project_funding_liquidation?.amount_other_currency) }}
                            {{ funding?.project_funding_liquidation?.amount_other | number }}
                        </p>
                    </div>

                    <div class="col-12 col-md-2">
                        <h5 class="text-dark">Attachment</h5>

                        <div
                            class="row mt-3 mb-3"
                            [hidden]="funding?.project_funding_liquidation?.documents?.length == 0"
                        >
                            <div
                                class="md-12"
                                *ngFor="
                                    let attachment of funding?.project_funding_liquidation?.documents;
                                    let j = index
                                "
                            >
                                <a href="{{ SERVER + '/' + attachment.path }}" target="_blank">{{
                                    attachment.original_name
                                }}</a>
                                <a (click)="deleteAttachment(i, j)"
                                    ><i class="fa fa-times text-danger mx-2 cursor-pointer"></i
                                ></a>
                            </div>
                        </div>

                        <button class="btn btn-default" (click)="uploadFiles(i)">
                            <div class="d-flex flex-column text-start">
                                <p class="p-0 m-0 text-sm text-info font-weight-bold">
                                    <span class="icon icon-sm">
                                        <i class="material-icons">add</i>
                                    </span>
                                    Attach File
                                </p>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="funding?.project_funding_liquidation?.pk" class="card bg-gray-500 my-3">
            <div class="card-body">
                <div class="d-flex flex-wrap flex-row justify-content-between">
                    <h6 class="text-white">{{ funding?.title }} | Liquidation Total</h6>

                    <h6 class="text-white font-weight-light">
                        USD {{ funding?.project_funding_liquidation?.amount_usd | number }} |
                        {{ parseCurrencyKey(funding?.project_funding_liquidation?.amount_other_currency) }}
                        {{ funding?.project_funding_liquidation?.amount_other | number }}
                    </h6>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-wrap flex-row gap-2 my-3">
        <button class="btn btn-dark-blue text-capitalize" (click)="handleAddTranche()">Add New Tranche</button>
        <button class="btn btn-secondary text-capitalize" (click)="handleAddLiquidation()">Add New Liquidation</button>
    </div>
</div>
