<div>
    <div class="container text-center my-5" *ngIf="loading">
        <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <ng-container *ngIf="!loading">
        <div class="card my-2">
            <div class="card-header py-2" style="background-color: #0b2cb5">
                <h5 class="text-white text-center">Fund Release</h5>
            </div>
            <div class="card-body overflow-auto p-0 m-0">
                <table class="table" style="table-layout: fixed">
                    <thead>
                        <tr style="background-color: #474ca5">
                            <th class="p-2 text-white" style="width: 180px" scope="col">Partner ID</th>
                            <th
                                class="p-2 text-white"
                                style="width: 175px"
                                scope="col"
                                sortable="partner"
                                (sort)="onSort($event)"
                            >
                                Partner
                            </th>
                            <th
                                class="p-2 text-white"
                                style="width: 135px"
                                scope="col"
                                sortable="title"
                                (sort)="onSort($event)"
                            >
                                Title
                            </th>
                            <th
                                class="p-2 text-white"
                                style="width: 115px"
                                scope="col"
                                sortable="applicationDate"
                                (sort)="onSort($event)"
                            >
                                Approved Date
                            </th>
                            <th
                                class="p-2 text-white"
                                style="width: 130px"
                                scope="col"
                                sortable="proposedBudget"
                                (sort)="onSort($event)"
                            >
                                Approved Budget
                            </th>
                            <th
                                class="p-2 text-white"
                                style="width: 150px"
                                scope="col"
                                sortable="donorProject"
                                (sort)="onSort($event)"
                            >
                                Donor/Project
                            </th>
                            <th class="p-2" style="width: 162px" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let item of fundRelease | paginate : { itemsPerPage: 10, currentPage: page }"
                        >
                            <th
                                class="text-dark font-weight-bold text-start text-wrap"
                                style="width: 215px"
                                scope="row"
                            >
                                {{ item.partnerId }}
                            </th>

                            <td class="text-dark font-weight-light text-wrap text-start" style="width: 215px">
                                {{ item.partner }}
                            </td>

                            <td class="text-dark font-weight-light text-wrap text-start" style="width: 215px">
                                {{ item.title }}
                            </td>
                            <td class="text-dark font-weight-light text-wrap text-start" style="width: 100px">
                                {{ item.applicationDate | date : 'shortDate' }}
                            </td>
                            <td class="text-dark font-weight-light text-wrap text-start" style="width: 150px">
                                {{ item.proposedBudget | number }} USD | {{ item.proposedBudgetOther | number }}
                                {{ item.proposedBudgetOtherCurrency }}
                            </td>
                            <td class="text-dark font-weight-light text-wrap text-start" style="width: 150px">
                                {{ item.donorProject }}
                            </td>
                            <td class="text-dark font-weight-light">
                                <div class="d-flex flex-wrap gap-2 align-items-center">
                                    <button
                                        class="btn btn-default text-info p-1 m-0 text-xs"
                                        [routerLink]="['/grant/' + item.pk + '/review']"
                                        (click)="handleReview($event)"
                                    >
                                        Review
                                    </button>
                                    <button
                                        class="btn btn-default text-danger p-1 m-0 text-xs"
                                        (click)="handleDelete($event)"
                                    >
                                        Delete
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="fundRelease.length <= 0" class="text-center">
                    <p class="text-danger w-100 font-weight-bold">There are no queued applications at this stage</p>
                </div>
                <div class="my-3">
                    <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
                </div>
            </div>
        </div>

        <div class="card my-2">
            <div class="card-header py-2" style="background-color: #0b2cb5">
                <h5 class="text-white text-center">Completed Grants</h5>
            </div>
            <div class="card-body overflow-auto p-0 m-0">
                <table class="table">
                    <thead>
                        <tr style="background-color: #474ca5">
                            <th class="p-2 text-white" scope="col">Partner ID</th>
                            <th class="p-2 text-white" scope="col" sortable="partner" (sort)="onSort($event)">
                                Partner
                            </th>
                            <th class="p-2 text-white" scope="col" sortable="title" (sort)="onSort($event)">Title</th>
                            <th class="p-2 text-white" scope="col" sortable="applicationDate" (sort)="onSort($event)">
                                Approved Date
                            </th>
                            <th class="p-2 text-white" scope="col" sortable="proposedBudget" (sort)="onSort($event)">
                                Approved Budget
                            </th>
                            <th class="p-2" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of closingGrant | paginate : { itemsPerPage: 10, currentPage: page }">
                            <th class="text-dark font-weight-bold" scope="row">
                                {{ item.partnerId }}
                            </th>
                            <td class="text-dark font-weight-light">
                                {{ item.partner }}
                            </td>
                            <td class="text-dark font-weight-light">
                                {{ item.title }}
                            </td>
                            <td class="text-dark font-weight-light">
                                {{ item.applicationDate | date : 'shortDate' }}
                            </td>
                            <td class="text-dark font-weight-light">
                                {{ item.proposedBudget | number }} USD | {{ item.proposedBudgetOther | number }}
                                {{ item.proposedBudgetOtherCurrency }}
                            </td>
                            <td class="text-dark font-weight-light">
                                <button
                                    class="btn btn-default text-info"
                                    [routerLink]="['/grant/' + item.pk + '/review']"
                                >
                                    Review
                                </button>
                                <button class="btn btn-default text-danger">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="closingGrant.length <= 0" class="text-center">
                    <p class="text-danger w-100 font-weight-bold">There are no queued applications at this stage</p>
                </div>
                <div class="my-3">
                    <pagination-controls (pageChange)="handlePageChange($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </ng-container>
</div>
