<div class="container">
    <div class="row row-header">
        <div class="col-2">
            <!-- spacer -->
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">Proposed</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">Directly involved/benefitted</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">Indigenous (Y/N)</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">Indirectly Benefitted</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">Indigenous (Y/N)</p>
        </div>
    </div>
    <div class="row row-header border-top border-dark my-2">
        <div class="col-2">
            <p class="text-dark p-0 m-0">Women</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">125</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">100</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">1</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">100</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">1</p>
        </div>
    </div>
    <div class="row row-header border-top border-dark my-2">
        <div class="col-2">
            <p class="text-dark p-0 m-0">Young Women</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">125</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">100</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">1</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">100</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">1</p>
        </div>
    </div>
    <div class="row row-header border-top border-dark my-2">
        <div class="col-2">
            <p class="text-dark p-0 m-0">Diffable women</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">125</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">100</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">1</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">100</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">1</p>
        </div>
    </div>
    <div class="row row-header border-top border-dark my-2">
        <div class="col-2">
            <p class="text-dark p-0 m-0">Other Vulnerable sector</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">125</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">100</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">1</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">100</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">1</p>
        </div>
    </div>

    <div class="row row-header border-dark mt-4">
        <div class="col-2">
            <p class="text-dark p-0 m-0">Men</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">125</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">100</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">1</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">100</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">1</p>
        </div>
    </div>
    <div class="row row-header border-top border-dark my-2">
        <div class="col-2">
            <p class="text-dark p-0 m-0">Young Men</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">125</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">100</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">1</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">100</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">1</p>
        </div>
    </div>
    <div class="row row-header border-top border-dark my-2">
        <div class="col-2">
            <p class="text-dark p-0 m-0">Diffable Men</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">125</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">100</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">1</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">100</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">1</p>
        </div>
    </div>
    <div class="row row-header border-top border-dark my-2">
        <div class="col-2">
            <p class="text-dark p-0 m-0">Other Vulnerable sector</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">125</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">100</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">1</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">100</p>
        </div>
        <div class="col-2">
            <p class="text-dark p-0 m-0">1</p>
        </div>
    </div>
</div>
