.nav .nav-item button {
    background-color: #2f437f;
    margin: 0px 2px 0px 2px;
    border-radius: 12px 12px 0 0;
    color: white;
}

.nav .nav-item button.active {
    background-color: #1c2b55;
    border-color: #1c2b55;
}

.tab-content {
    background-color: #f0f0f0;
}