/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/dist/css/bootstrap.css";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700";
@import "https://fonts.googleapis.com/icon?family=Material+Icons+Round";

@import 'src/assets/css/material-dashboard.min.css';
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

/* Importing Bootstrap SCSS file. */
// @import "./node_modules/bootstrap/scss/bootstrap";

// @import '~ngx-toastr/toastr';

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 78%, .2);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.btn-primary,
.btn.bg-gradient-primary {
    box-shadow: 0 3px 3px 0 rgba(30, 77, 233, 0.15),
        0 3px 1px -2px rgba(30, 77, 233, 0.2),
        0 1px 5px 0 rgba(30, 50, 233, 0.15);
}

.btn-primary:hover,
.btn.bg-gradient-primary:hover {
    background-color: #1e98e9;
    border-color: #1e8ee9;
    box-shadow: 0 14px 26px -12px rgba(30, 33, 233, 0.4), 0 4px 23px 0 rgba(30, 67, 233, 0.15), 0 8px 10px -5px rgba(30, 50, 233, 0.2)
}

.bg-grant-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(33, 69, 129, var(--bs-bg-opacity)) !important;
}

.form-check:not(.form-switch) .form-check-input[type=checkbox]:checked {
    background: #1e76e9;
}

.form-check:not(.form-switch) .form-check-input[type=checkbox]:checked,
.form-check:not(.form-switch) .form-check-input[type=radio]:checked {
    border-color: #1e8ee9;
}

.navbar-vertical .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold !important;
    color: #fff;
}

.navbar-vertical .navbar-nav .nav-link.active {
    margin-top: 0px !important;
}

.navbar-vertical .navbar-nav .nav-link.active {
    font-weight: bold !important;
}

.main-body {
    height: calc(100vh - 126px);
}

.modal-header .modal-title {
    font-size: 1rem !important;
}

.modal-header button {
    font-size: 0.6rem !important;
}

// overriding css from node_modules/material-dashboard/assets/css/material-dashboard.min.css
.btn {
    margin-bottom: 0px !important;
}

.input-group.has-validation>.dropdown-toggle:nth-last-child(n+4),
.input-group.has-validation>:nth-last-child(n+3):not(.dropdown-toggle):not(.dropdown-menu),
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

input:focus,
input.form-control:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.text-gradient.text-primary {
    background-image: linear-gradient(195deg, #0d6efd, #08459e);
}

.table>:not(:first-child) {
    border-top: 1px solid #f0f2f5;
}