/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700";
@import "https://fonts.googleapis.com/icon?family=Material+Icons+Round";

@import '~material-dashboard/assets/css/material-dashboard.min.css';

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 78%, .2);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.bg-grant-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(33, 69, 129, var(--bs-bg-opacity)) !important;
}

.navbar-vertical .navbar-nav .nav-link.active {
    margin-top: 0px !important;
}

.main-body {
    height: calc(100vh - 126px);
}

.modal-header .modal-title {
    font-size: 1rem !important;
}

.modal-header button {
    font-size: 0.6rem !important;
}

// overriding css from node_modules/material-dashboard/assets/css/material-dashboard.min.css
.btn {
    margin-bottom: 0px !important;
}

.input-group.has-validation>.dropdown-toggle:nth-last-child(n+4),
.input-group.has-validation>:nth-last-child(n+3):not(.dropdown-toggle):not(.dropdown-menu),
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}