<div class="container-fluid py-4">
    <nav aria-label="breadcrumb">
        <h4 class="font-weight-bolder mb-0">Dashboard</h4>
    </nav>

    <div class="row">
        <app-grant-types></app-grant-types>
    </div>
    <div class="row">
        <app-total-grant-function></app-total-grant-function>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <app-total-grants-per-year></app-total-grants-per-year>
        </div>
        <div class="col-12 col-md-6">
            <app-total-grants-per-country></app-total-grants-per-country>
        </div>
    </div>
    <div class="row">
        <app-total-per-donor></app-total-per-donor>
    </div>
    <div class="row">
        <app-grants-for></app-grants-for>
    </div>

    <div class="row">
        <app-thematic-areas></app-thematic-areas>
    </div>

    <div class="row">
        <app-thematic-areas-donors></app-thematic-areas-donors>
    </div>

    <div class="row">
        <app-status-count></app-status-count>
    </div>

    <div class="row">
        <app-application-list></app-application-list>
    </div>

    <div class="row">
        <app-grant-progress></app-grant-progress>
    </div>

    <div class="row">
        <app-grant-closing></app-grant-closing>
    </div>

    <div class="row">
        <app-overdue-tranches></app-overdue-tranches>
    </div>

    <div class="row">
        <app-overdue-reports></app-overdue-reports>
    </div>

    <div class="row">
        <app-aging-projects-tranches></app-aging-projects-tranches>
    </div>
</div>