<div>
    <app-initial-submission [project]="project" (recommendationSaved)="recommendationSaved()"
        *ngIf="['', 'Initial Submission', 'Contract Preparation', 'Final Approval', 'Partner Signing'].includes(project?.status ?? '')"></app-initial-submission>
    <app-contract-preparation [project]="project" (recommendationSaved)="recommendationSaved()"
        *ngIf="['Contract Preparation', 'Final Approval', 'Partner Signing'].includes(project?.status ?? '')"></app-contract-preparation>
    <app-final-approval [project]="project" (recommendationSaved)="recommendationSaved()"
        *ngIf="['Final Approval', 'Partner Signing'].includes(project?.status ?? '')"></app-final-approval>
    <app-partner-signing [project]="project" (recommendationSaved)="recommendationSaved()"
        *ngIf="['Partner Signing'].includes(project?.status ?? '')"></app-partner-signing>
    <app-fund-release [project]="project" (recommendationSaved)="recommendationSaved()"
        *ngIf="['Fund Release', 'Completed'].includes(project?.status ?? '')"></app-fund-release>
    <app-completed [project]="project" (recommendationSaved)="recommendationSaved()"
        *ngIf="['Completed'].includes(project?.status ?? '')"></app-completed>
</div>