<div>
    <div class="modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{title}}</h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col d-flex justify-content-center pt-5">
                            <button class="btn btn-md btn-primary text-center"
                                (click)="sendPasswordResetEmail(user)">Send
                                {{user.first_name}} an
                                email?</button>
                        </div>
                        <div class="col pb-5 pt-2 px-5">
                            <small class="text-danger">* Please be noted that sending an email will invalidate
                                the current
                                password of
                                {{user.first_name}}.</small>
                        </div>

                        <hr data-content="OR" class="hr-divider pb-5">

                        <div class="form-check">
                            <input [(ngModel)]="checkboxes.letters" class="form-check-input" type="checkbox" value=""
                                id="chk-letters" disabled>
                            <label class="form-check-label" for="chk-letters">
                                {{letters}}
                            </label>
                        </div>
                        <div class="form-check">
                            <input [(ngModel)]="checkboxes.numbers" class="form-check-input" type="checkbox" value=""
                                id="chk-numbers" (change)="generatePassword()">
                            <label class="form-check-label" for="chk-numbers">
                                Include {{numbers}}
                            </label>
                        </div>
                        <div class="form-check">
                            <input [(ngModel)]="checkboxes.ilo" class="form-check-input" type="checkbox" value=""
                                id="chk-ilo" (change)="generatePassword()">
                            <label class="form-check-label" for="chk-ilo">
                                Include {{ilo}}
                            </label>
                        </div>
                        <div class="form-check">
                            <input [(ngModel)]="checkboxes.special" class="form-check-input" type="checkbox" value=""
                                id="chk-special" (change)="generatePassword()">
                            <label class="form-check-label" for="chk-special">
                                Include {{special}}
                            </label>
                        </div>

                        <label for="range" class="ui-components-1cp70ta">Length ({{range}})</label>
                        <input [(ngModel)]="range" (change)="generatePassword()" type="range" class="form-range" min="6"
                            max="40" step="1" id="range">

                        <form [formGroup]="form" (ngSubmit)="submit()">
                            <div class="form-group">
                                <label for="example-email-input" class="form-control-label">New Password</label>
                                <div class="input-group mb-3">
                                    <input class="form-control" type="email" placeholder="Password"
                                        formControlName="password"
                                        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                                    <div class="url-copied text-info text-sm" *ngIf="copied">Copied!</div>
                                    <button class="btn btn-outline-secondary" type="button"
                                        (click)="generatePassword()">
                                        <i class="fa fa-refresh"></i>
                                    </button>
                                    <button class="btn btn-outline-secondary" type="button" (click)="copyPassword()"
                                        title="Copy password to clipboard">
                                        <i class="fa fa-copy"></i>
                                    </button>
                                </div>
                                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                    <div *ngIf="f['password'].errors['required']">New Password is required</div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="submit()">{{saveBtnName}}</button>
                <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
            </div>
        </div>
    </div>
</div>