<div class="my-1">
    <div class="card">
        <div class="card-header bg-dark-blue p-2">
            <div class="d-flex flex-wrap flex-row justify-content-between">
                <h6 class="text-white px-2">Samdhana Thematic Areas</h6>
            </div>
        </div>
        <div class="card-body py-2">
            <div class="row p-2">
                <div class="col-12 col-md-6 position-relative mb-2" *ngFor="let area of areas; let i = index">
                    <div class="row">
                        <div class="col-md-2">
                            <div
                                class="rounded-2 thematic-image"
                                [style.background-color]="area['color']"
                                [style.background-image]="'url(' + area['image'] + ')'"
                            ></div>
                        </div>
                        <div class="col-md-10">
                            <h5 style="margin-bottom: 0px !important">{{ area['title'] }}</h5>
                            <p
                                class="text-sm text-justify lh-base mb-0"
                                [ngClass]="{ 'descriptions-line-clamp': getShowMoreFlag(area.title) }"
                            >
                                {{ area['descriptions'] }}
                            </p>
                            <ng-container *ngIf="area['displayShowMore']">
                                <button
                                    *ngIf="getShowMoreFlag(area.title)"
                                    class="btn btn-default text-xs text-dark-blue p-0 m-0 text-lowercase"
                                    (click)="handleOnToggleShowMore(area['title'])"
                                >
                                    show more
                                </button>
                                <button
                                    *ngIf="!getShowMoreFlag(area.title)"
                                    class="btn btn-default text-xs text-dark-blue p-0 m-0 text-lowercase"
                                    (click)="handleOnToggleShowMore(area['title'])"
                                >
                                    show less
                                </button>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
