<div>
    <h4 class="text-dark">Non Profit Equivalency Determination</h4>
    <div class="row my-5 g-0">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-dark">Year organization was formed</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-secondary">2000</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-dark">Financial situation last year</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-secondary">10000 USD | 500000 PHP</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-dark">Source of Funds</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-secondary">Lorem ipsum</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-dark">Financial situation this year</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-secondary">20000 USD | 1098 PHP</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-dark">Source of Funds</p>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-sm font-weight-bold text-secondary">Lorem ipsum</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h4 class="text-dark">Legal registration</h4>
                        <div class="d-flex flex-wrap flex-row gap-2 my-3">
                            <p class="text-dark p-0 m-0">
                                <span class="position-relative top-5">
                                    <i class="material-icons">attach_file</i>
                                </span>
                                docoumentssample1.pdf
                            </p>
                            <p class="text-dark p-0 m-0">
                                <span class="position-relative top-5">
                                    <i class="material-icons">attach_file</i>
                                </span>
                                docoumentssample1.pdf
                            </p>
                            <p class="text-dark p-0 m-0">
                                <span class="position-relative top-5">
                                    <i class="material-icons">attach_file</i>
                                </span>
                                docoumentssample1.pdf
                            </p>
                            <p class="text-dark p-0 m-0">
                                <span class="position-relative top-5">
                                    <i class="material-icons">attach_file</i>
                                </span>
                                docoumentssample1.pdf
                            </p>
                            <p class="text-dark p-0 m-0">
                                <span class="position-relative top-5">
                                    <i class="material-icons">attach_file</i>
                                </span>
                                docoumentssample1.pdf
                            </p>
                            <p class="text-dark p-0 m-0">
                                <span class="position-relative top-5">
                                    <i class="material-icons">attach_file</i>
                                </span>
                                docoumentssample1.pdf
                            </p>
                            <p class="text-dark p-0 m-0">
                                <span class="position-relative top-5">
                                    <i class="material-icons">attach_file</i>
                                </span>
                                docoumentssample1.pdf
                            </p>
                            <p class="text-dark p-0 m-0">
                                <span class="position-relative top-5">
                                    <i class="material-icons">attach_file</i>
                                </span>
                                docoumentssample1.pdf
                            </p>
                            <p class="text-dark p-0 m-0">
                                <span class="position-relative top-5">
                                    <i class="material-icons">attach_file</i>
                                </span>
                                docoumentssample1.pdf
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 border border-top-1 border-dark my-3"></div>

    <div class="row my-2 g-0">
        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12">
                    <p class="text-sm font-weight-bold text-dark">Officers of the Organization of Community Leaders</p>
                </div>
                <div class="col-12">
                    <p class="text-sm font-weight-bold text-secondary m-0 p-0">Jose Mari Chan</p>
                </div>
                <div class="col-12">
                    <p class="text-sm font-weight-bold text-secondary m-0 p-0">Jose Mari Chan</p>
                </div>
                <div class="col-12">
                    <p class="text-sm font-weight-bold text-secondary m-0 p-0">Jose Mari Chan</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="row">
                <div class="col-12">
                    <p class="text-sm font-weight-bold text-dark">
                        Names of members of the Board of the governing body
                    </p>
                </div>
                <div class="col-12">
                    <p class="text-sm font-weight-bold text-secondary m-0 p-0">Jose Mari Chan</p>
                </div>
                <div class="col-12">
                    <p class="text-sm font-weight-bold text-secondary m-0 p-0">Jose Mari Chan</p>
                </div>
                <div class="col-12">
                    <p class="text-sm font-weight-bold text-secondary m-0 p-0">Jose Mari Chan</p>
                </div>
            </div>
        </div>
    </div>

    <div class="my-3">
        <h4 class="text-dark">The organization is operated exclusively for</h4>
        <div class="row gap-0 my-3">
            <div class="form-check col-12 col-md-6 col-lg-4 px-2">
                <input class="form-check-input" type="checkbox" />
                <label class="form-check-label text-dark font-weight-bold">charitable</label>
            </div>
            <div class="form-check col-12 col-md-6 col-lg-4 px-2">
                <input class="form-check-input" type="checkbox" />
                <label class="form-check-label text-dark font-weight-bold">cultural</label>
            </div>
            <div class="form-check col-12 col-md-6 col-lg-4 px-2">
                <input class="form-check-input" type="checkbox" />
                <label class="form-check-label text-dark font-weight-bold">educational purpose</label>
            </div>
            <div class="form-check col-12 col-md-6 col-lg-4 px-2">
                <input class="form-check-input" type="checkbox" />
                <label class="form-check-label text-dark font-weight-bold">literacy</label>
            </div>
            <div class="form-check col-12 col-md-6 col-lg-4 px-2">
                <input class="form-check-input" type="checkbox" />
                <label class="form-check-label text-dark font-weight-bold">religious</label>
            </div>
            <div class="form-check col-12 col-md-6 col-lg-4 px-2">
                <input class="form-check-input" type="checkbox" />
                <label class="form-check-label text-dark font-weight-bold">scientific</label>
            </div>

            <div class="col-12">
                <label class="text-dark font-weight-bold">others</label>
                <p class="text-secondary text-sm p-0 m-0">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet exercitationem esse id dignissimos
                    iusto odio quis, dolor nisi minima in praesentium officia aliquam reprehenderit et sapiente,
                    laboriosam, earum natus laudantium!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="form-group my-3">
                <div class="row">
                    <div class="col-12 col-md-10">
                        <label class="font-weight-bold text-dark">Does any part of the assets of your organization, now
                            or planned for the future, inure to
                            the benefit of private individuals, other than in the form of services which your
                            organization is authorized to provide?*</label>
                    </div>
                    <div class="col-12 col-md-2">
                        <app-select [arr]="['Yes', 'No']"></app-select>
                    </div>
                </div>

                <label class="font-weight-bold text-dark">If yes please explain</label>
                <p class="text-secondary">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet quibusdam porro fuga vero aliquid hic
                    consequatur atque, a iure molestiae quod nesciunt velit obcaecati sunt, cupiditate dignissimos, ex
                    consectetur debitis!
                </p>
            </div>

            <div class="form-group my-3">
                <div class="row">
                    <div class="col-12 col-md-10">
                        <label class="font-weight-bold text-dark">Does your organization make any payments to any of its
                            officers or members of its Board of
                            Directors or other governing body, other than reasonable compensation for services to the
                            organization?*</label>
                    </div>
                    <div class="col-12 col-md-2">
                        <app-select [arr]="['Yes', 'No']"></app-select>
                    </div>
                </div>

                <label class="font-weight-bold text-dark">If yes please explain</label>
                <p class="text-secondary">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit corporis aut, voluptas itaque
                    reprehenderit, eos sunt similique temporibus nihil cum dolores accusamus velit quaerat dolorum
                    debitis maxime repudiandae vero provident!
                </p>
            </div>

            <div class="form-group my-3">
                <div class="row">
                    <div class="col-12 col-md-10">
                        <label class="font-weight-bold text-dark">Does your organization make any payments to any of its
                            officers or members of its Board of
                            Directors or other governing body, other than reasonable compensation for services to the
                            organization?*</label>
                    </div>
                    <div class="col-12 col-md-2">
                        <app-select [arr]="['Yes', 'No']"></app-select>
                    </div>
                </div>

                <label class="font-weight-bold text-dark">If yes please explain</label>
                <p class="text-secondary">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit corporis aut, voluptas itaque
                    reprehenderit, eos sunt similique temporibus nihil cum dolores accusamus velit quaerat dolorum
                    debitis maxime repudiandae vero provident!
                </p>
            </div>

            <div class="form-group my-3">
                <div class="row">
                    <div class="col-12 col-md-10">
                        <label class="font-weight-bold text-dark">Upon dissolution, are the assets of the organization
                            required to be distributed for
                            charitable, educational, scientific, religious, medical or literary purposes?*</label>
                    </div>
                    <div class="col-12 col-md-2">
                        <app-select [arr]="['Yes', 'No']"></app-select>
                    </div>
                </div>
            </div>

            <div class="form-group my-3">
                <div class="row">
                    <div class="col-12 col-md-10">
                        <label class="font-weight-bold text-dark">Is your organization controlled by or operated in
                            connection with any other organization?*
                        </label>
                    </div>
                    <div class="col-12 col-md-2">
                        <app-select [arr]="['Yes', 'No']"></app-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>