<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="handleSave()">
        <h4 class="text-dark">Organizational Bank Account</h4>
        <ng-container formGroupName="partner_organization_bank">
            <div class="form-group my-3">
                <label class="font-weight-bold text-dark">Account Name</label>
                <input formControlName="account_name" type="text" class="form-control border rounded-1 p-1" />
            </div>

            <div class="form-group my-3">
                <label class="font-weight-bold text-dark">Account Number</label>
                <input formControlName="account_number" type="text" class="form-control border rounded-1 p-1" />
            </div>

            <div class="form-group my-3">
                <label class="font-weight-bold text-dark">Bank Name</label>
                <input formControlName="bank_name" type="text" class="form-control border rounded-1 p-1" />
            </div>

            <div class="form-group my-3">
                <label class="font-weight-bold text-dark">Bank Branch</label>
                <input formControlName="bank_branch" type="text" class="form-control border rounded-1 p-1" />
            </div>

            <div class="form-group my-3">
                <label class="font-weight-bold text-dark">Bank Address</label>
                <input formControlName="bank_address" type="text" class="form-control border rounded-1 p-1" />
            </div>

            <div class="form-group my-3">
                <label class="font-weight-bold text-dark">Swift Code</label>
                <input formControlName="swift_code" type="text" class="form-control border rounded-1 p-1" />
            </div>
        </ng-container>
        <h4 class="text-dark">Fiscal Sponsor Information</h4>
        <div class="form-group my-3">
            <label class="font-weight-bold text-dark">Complete Name of Fiscal Sponsor</label>
            <input formControlName="name" type="text" class="form-control border rounded-1 p-1" />
        </div>

        <div class="form-group my-3">
            <label class="font-weight-bold text-dark">Address of Fiscal Sponsor</label>
            <input formControlName="address" type="text" class="form-control border rounded-1 p-1" />
        </div>

        <div class="form-group my-3">
            <label class="font-weight-bold text-dark">Head of Organization</label>
            <input formControlName="head" type="text" class="form-control border rounded-1 p-1" />
        </div>

        <div class="form-group my-3">
            <label class="font-weight-bold text-dark">Person-in-Charge</label>
            <input formControlName="person_in_charge" type="text" class="form-control border rounded-1 p-1" />
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group my-3">
                    <label class="font-weight-bold text-dark">Contact number</label>
                    <input formControlName="contact_number" type="tel" class="form-control border rounded-1 p-1" />
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="form-group my-3">
                    <label class="font-weight-bold text-dark">Email Address</label>
                    <input
                        formControlName="email_address"
                        type="email"
                        class="form-control border rounded-1 p-1"
                        [ngClass]="{ 'is-invalid': submitted && f['email_address'].errors }"
                    />
                    <div *ngIf="submitted && f['email_address'].errors" class="invalid-feedback">
                        <div *ngIf="f['email_address'].errors['email']">Invalid email address</div>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="text-dark">Fiscal Sponsor Bank Details</h4>
        <div class="form-group my-3">
            <label class="font-weight-bold text-dark">Bank Account Name</label>
            <input formControlName="bank_account_name" type="text" class="form-control border rounded-1 p-1" />
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group my-3">
                    <label class="font-weight-bold text-dark">Account Number</label>
                    <input formControlName="account_number" type="text" class="form-control border rounded-1 p-1" />
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="form-group my-3">
                    <label class="font-weight-bold text-dark">Name of Bank</label>
                    <input formControlName="bank_name" type="text" class="form-control border rounded-1 p-1" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group my-3">
                    <label class="font-weight-bold text-dark">Bank Branch</label>
                    <input formControlName="bank_branch" type="text" class="form-control border rounded-1 p-1" />
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="form-group my-3">
                    <label class="font-weight-bold text-dark">Bank Address</label>
                    <input formControlName="bank_address" type="text" class="form-control border rounded-1 p-1" />
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="form-group my-3">
                    <label class="font-weight-bold text-dark">SWIFT code</label>
                    <input formControlName="swift_code" type="text" class="form-control border rounded-1 p-1" />
                </div>
            </div>

            <h4 class="text-dark">Other Information</h4>
            <ng-container formGroupName="partner_organization_other_information">
                <div class="row">
                    <div class="col-12 col-md-10">
                        <label class="font-weight-bold text-dark"
                            >Proponent has project/enterprise finance management experience</label
                        >
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="bool-opt-container">
                            <select
                                #boolHasProject
                                formControlName="has_project"
                                class="form-select px-3 border border-1 ronded-1 text-secondary text-md font-weight-bold"
                                (change)="onChangeSelectedBoolOpt(boolHasProject.value, 'has_project')"
                            >
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <i class="material-icons">arrow_drop_down</i>
                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-12 col-md-10">
                        <label class="font-weight-bold text-dark">Proponent has financial policy</label>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="bool-opt-container">
                            <select
                                #boolHasFinancialPolicy
                                formControlName="has_financial_policy"
                                class="form-select px-3 border border-1 ronded-1 text-secondary text-md font-weight-bold"
                                (change)="onChangeSelectedBoolOpt(boolHasFinancialPolicy.value, 'has_financial_policy')"
                            >
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <i class="material-icons">arrow_drop_down</i>
                        </div>
                    </div>

                    <label class="font-weight-bold text-dark">If no, what is the practice</label>
                    <div class="m-2">
                        <textarea
                            type="text"
                            rows="5"
                            class="form-control border rounded-1 p-2"
                            style="resize: none"
                            formControlName="has_financial_policy_no_reason"
                            [readOnly]="boolHasFinancialPolicy.value === 'true'"
                            [ngClass]="{
                                'is-invalid':
                                    submitted &&
                                    f['partner_organization_other_information'].get('has_financial_policy_no_reason')
                                        ?.errors
                            }"
                        ></textarea>
                        <div
                            *ngIf="
                                submitted &&
                                f['partner_organization_other_information'].get('has_financial_policy_no_reason')
                                    ?.errors
                            "
                            class="invalid-feedback"
                        >
                            <div
                                *ngIf="
                                    f['partner_organization_other_information']
                                        .get('has_financial_policy_no_reason')
                                        ?.getError('required')
                                "
                            >
                                Field is required
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col-12 col-md-10">
                        <label class="font-weight-bold text-dark">Proponent has financial system</label>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="bool-opt-container">
                            <select
                                #boolHasFinancialSystem
                                formControlName="has_financial_system"
                                class="form-select px-3 border border-1 ronded-1 text-secondary text-md font-weight-bold"
                                (change)="onChangeSelectedBoolOpt(boolHasFinancialSystem.value, 'has_financial_system')"
                            >
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <i class="material-icons">arrow_drop_down</i>
                        </div>
                    </div>

                    <label class="font-weight-bold text-dark">If no, what is the practice</label>
                    <div class="m-2">
                        <textarea
                            type="text"
                            rows="5"
                            class="form-control border rounded-1 p-2"
                            style="resize: none"
                            formControlName="has_financial_system_no_reason"
                            [readOnly]="boolHasFinancialSystem.value === 'true'"
                            [ngClass]="{
                                'is-invalid':
                                    submitted &&
                                    f['partner_organization_other_information'].get('has_financial_system_no_reason')
                                        ?.errors
                            }"
                        ></textarea>
                        <div
                            *ngIf="
                                submitted &&
                                f['partner_organization_other_information'].get('has_financial_system_no_reason')
                                    ?.errors
                            "
                            class="invalid-feedback"
                        >
                            <div
                                *ngIf="
                                    f['partner_organization_other_information']
                                        .get('has_financial_system_no_reason')
                                        ?.getError('required')
                                "
                            >
                                Field is required
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row my-2">
                    <label class="font-weight-bold text-dark"
                        >Financial human resources: Indicate the position/role (s) that are currently with the
                        organization/ community, ex: Treasurer, Finance Manager, Accountant, Finance Officer, Cashier,
                        etc.</label
                    >
                    <div class="m-2">
                        <textarea
                            type="text"
                            rows="5"
                            class="form-control border rounded-1 p-2"
                            style="resize: none"
                            formControlName="recommendation"
                        ></textarea>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col-12 col-md-10">
                        <label class="font-weight-bold text-dark"
                            >For medium grants, organization audit or financial statement available</label
                        >
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="bool-opt-container">
                            <select
                                #boolAuditFinancialAvailable
                                formControlName="audit_financial_available"
                                class="form-select px-3 border border-1 ronded-1 text-secondary text-md font-weight-bold"
                                (change)="
                                    onChangeSelectedBoolOpt(
                                        boolAuditFinancialAvailable.value,
                                        'audit_financial_available'
                                    )
                                "
                            >
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <i class="material-icons">arrow_drop_down</i>
                        </div>
                    </div>
                </div>

                <div class="row my-2">
                    <div class="col-12 col-md-10">
                        <label class="font-weight-bold text-dark"
                            >Grants team has reviewed the financial system and conducted due diligence on the
                            proponent</label
                        >
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="bool-opt-container">
                            <select
                                #boolHasReviewedFinancialSystem
                                formControlName="has_reviewed_financial_system"
                                class="form-select px-3 border border-1 ronded-1 text-secondary text-md font-weight-bold"
                                (change)="
                                    onChangeSelectedBoolOpt(
                                        boolHasReviewedFinancialSystem.value,
                                        'has_reviewed_financial_system'
                                    )
                                "
                            >
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <i class="material-icons">arrow_drop_down</i>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" (click)="handleClose()" type="button">Cancel</button>
            <button type="button" class="btn btn-dark-blue" (click)="handleSave()">Save</button>
        </div>
    </form>
</div>
